<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, label: 'Prénom', autofocus: true  %>
    <%= f.input :last_name, label: 'Nom de famille' %>
    <%= f.input :email, required: true %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    
    <%= f.input :date_of_birth, as: :date,
                start_year: Time.now.year - 50,
                end_year: Time.now.year - 18,
                order: %i(day month year), label: 'Date de naissance' %>

    <%= f.input :line1, label: 'Adresse' %>
    <%= f.input :city, label: 'Ville' %>
    <%= f.input :postal_code, label: 'Code Postal' %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    
    <% if current_user.date_of_birth? && current_user.line1? && current_user.city? && current_user.postal_code? #rajouter numero de telephone %>
      <% if current_user.ids? %>
        <%= f.label "Envoyer un nouveau recto & un nouveau Verso de la carte d'identité" %> <br>
        <%= f.file_field :ids, multiple: true %> <br> <br>
        <%= f.label "Envoyer un nouveau justificatif de domicile" %> <br>
        <%= f.file_field :ids %>  <br><br>
        <div id="iban-error"></div>
        <%= f.input :iban, label: "Remplir l'IBAN pour recevoir ton solde",  placeholder: 'FR1420041010050500013M02606' %>

      <% else %>
        <%= f.label "Envoyer un recto & un nouveau Verso de la carte d'identité" %> <br>
        <%= f.file_field :ids, multiple: true %>
        <%= f.label "Envoyer un justificatif de domicile" %> <br>
        <%= f.file_field :ids  %>
      <% end %>
    <% end %>
  
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enregistrer les modifications" %>
  </div>
<% end %>


<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>


<%= javascript_pack_tag "iban_validator" %>
