<div class="container">
  <div class="row row-cols-4 mt-5 justify-content-center">
    <div class="col-12 col-sm-9">
        <h2>Modifier son profil</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: 'fileinfo' }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <h3>Mes informations</h3>
            <%= f.input :first_name, label: 'Prénom', autofocus: true  %>
            <%= f.input :last_name, label: 'Nom de famille' %>
            <%= f.input :email, required: true %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            
            <%= f.input :date_of_birth, as: :date,
                        start_year: Time.now.year - 50,
                        end_year: Time.now.year - 18,
                        order: %i(day month year), label: 'Date de naissance' %>

            <%= f.input :line1, label: 'Adresse' %>
            <%= f.input :city, label: 'Ville' %>
            <%= f.input :postal_code, label: 'Code Postal' %>

            <%= f.input :phone, label: 'Numéro de téléphone' %>
            <%= f.input :password, label: 'Nouveau mot de passe',
                        hint: "Ne pas remplir si vous ne voulez pas modifier votre mot de passe",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, label: 'Confirmation du nouveau mot de passe',
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            
            <%#= f.input :current_password, label: 'Mot de passe actuel',
                        hint: "Entrez votre mot de passe actuel pour confirmer les modifications",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
            <% if current_user.ids[0].present? &&  current_user.ids[1].present? &&  current_user.ids[2].present? %>
              <h3>Mon IBAN</h3>
              <div id="iban-error">
                <%= f.input :iban, label: "Remplir l'IBAN pour recevoir ton solde",  placeholder: 'FR1420041010050500013M02606' %>
              </div>
            <% end %>

            <% if current_user.date_of_birth? && current_user.line1? && current_user.city? && current_user.postal_code? && current_user.phone? %>
              <h3>Mes documents</h3>
              <% if current_user.ids[0].present? &&  current_user.ids[1].present? &&  current_user.ids[2].present? %>
                <p>Attention ! Si vous voulez transmettre à nouveaux vos documents, cela supprimera les anciens. Vous devez donc nous renvoyer vos 3 documents ci-dessous : </p>

                <%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer une nouvelle fois le recto de ma carte d'identité" %> 
                <%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer une nouvelle fois le recto de ma carte d'identité" %>
                <%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer un nouveau justificatif de domicile" %>
              <% else %>
                <p>Attention ! Vous devez nous envoyer les 3 documents ci-dessous au même moment : </p>
                <%= f.input :ids, as: :file,  input_html: {multiple: true, id: 'file-box'}, label: "Envoyer le recto de ma carte d'identité" %>
                <%= f.input :ids, as: :file,  input_html: {multiple: true, id: 'file-box'}, label: "Envoyer le verso de ma carte d'identité" %>
                <%= f.input :ids, as: :file,  input_html: {multiple: true, id: 'file-box'}, label: "Envoyer un justificatif de domicile" %>
              <% end %>
            <% end %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Enregistrer les modifications" %>
          </div>
        

            <!-- <div id='label-results'>...</div> -->
            <!-- <pre id="upload-results"></pre> -->

        <% end %>


        <h3>Cancel my account</h3>

        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back %>
    </div>
  </div>
</div>

<!-- <script type="text/javascript">
  var stripe = Stripe('<%= ENV['STRIPE_PUBLIC_TEST'] %>');

  document.querySelector('#fileinfo').addEventListener('submit', function(event){
    event.preventDefault();
    
    var data = new FormData();
    data.append('file', document.querySelector('#file-box').files[0]);
    data.append('purpose', 'identity_document');
    
    var oReq = new XMLHttpRequest();
    oReq.open("POST", 'https://uploads.stripe.com/v1/files', true);

    oReq.setRequestHeader('Authorization', 'Bearer ' + stripe._apiKey);

    oReq.onload = function(oEvent) {
      if (oReq.status == 200) {
        document.querySelector('#label-results').textContent = 'Success!';
      } else {
        document.querySelector('#label-results').textContent = 'Failure: ' + oReq.status;
      }
      document.querySelector('#upload-results').textContent = oReq.response;
    }
    oReq.send(data);
  });


</script>

 -->