<div class="container">
  <div class="row row-cols-4 mt-5 justify-content-center">
    <div class="col-12 col-sm-9 col-md-5">
      <h2>Inscription</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :"token_account", :as => :hidden, :input_html => { :value => "some value" } %>
          <%= f.input :"token_person", :as => :hidden, :input_html => { :value => "some value" } %>

          <%= f.input :first_name, label: 'Prénom' %>
          <%= f.input :last_name, label: 'Nom de famille' %>
          <%=  %>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'stripe_collect_data_from_user' %>
<!-- 
<script>
  const stripe = Stripe('pk_test_51IcAgiE0gVjPTo06PeZhlZRFCJ0VbO0SXNeUaXVoefGxjMQ2ADjPY3ymyjjgvD7HLKYZl1yzow6bOym3OMNQAqO000jrMQzNBC');
  
    const accountResult = stripe.createToken('account', {
      business_type: 'individual',
      company: {
        name: "Thomas",//document.querySelector('.user_first_name').value,
        address: {
          line1: "30 rue Dugas Montbel", //document.querySelector('.inp-company-street-address1').value,
          city: "Lyon",//document.querySelector('.inp-company-city').value,
          postal_code: "69002",//document.querySelector('.inp-company-zip').value,
          // state: document.querySelector('.inp-company-state').value,
        },
      },
      tos_shown_and_accepted: true,
    });
    const personResult = stripe.createToken('person', {
      person: {
        first_name: "Thomas", //document.querySelector('.user_first_name').value,
        last_name: "Saraf", //document.querySelector('.user_last_name').value,
        address: {
          line1:  "30 rue Dugas Montbel",//document.querySelector('.inp-person-street-address1').value,
          city: "Lyon",//document.querySelector('.inp-person-city').value,
          postal_code: "69002",//document.querySelector('.inp-person-zip').value,
          // state: document.querySelector('.inp-person-state').value,
        },
      },
    });
    if (accountResult.token && personResult.token) {
      document.querySelector('#token-account').value = accountResult.token.id;
      document.querySelector('#token-person').value = personResult.token.id;
    }

    console.log(personResult);

</script> -->