<title>Mon profil - Rock Don't Stock</title>

<div class="container">
  <%= link_to :back, class: "back-button" do %>
    <h3><i class="fas fa-arrow-left ms-0"></i> Retour</h3>
  <% end %>
  <div class="profile">
    <h2 class="profile__title">Mon compte</h2>
    <div class="profile__content">
      <div class="profile__infos">
				<div class="profile__infos-personal">
					<div class="profile__infos-personal__title">Mes informations</div>
					<div>Nom : <%= current_user.full_name %></div>
					<div>Date de naissance : <%= current_user.date_of_birth %></div>
					<div>Adresse : <%= current_user.city %></div>
					<div>Email : <%= current_user.email %></div>
					<div>Téléphone : <%= current_user.phone %></div>
				</div>
				<div class="profile__infos-documents">
					<div class="profile__infos-documents__title">Mes documents</div>
					<div>IBAN : </div>
					<div>Carte d’identité (recto/verso): </div>
					<div>Justificatif de domicile: </div>
				</div>
				<button class="profile__infos-btn">Modifier</button>
      </div>
      <div class="profile__business">
				<div class="profile__business-items">
					<div class="profile__business-items__title">
						<div>Mes achats</div>
						<div>Mes ventes</div>
					</div>
					<div class="profile__business-items__content">
						<div class="profile__business-item">
							<%= cl_image_tag(Sneaker.first.photos.first&.key, class: 'profile__business-item-photo') %>
							<div class="profile__business-item-details">
								<div class="profile__business-item-name">
									<%= Sneaker.first.sneaker_db.name %>
								</div>
								<div class="profile__business-item-options">
									<%= Sneaker.first.sneaker_db.category %> - Taille <%= Sneaker.first.size %> <br />Condition: <%= Sneaker.first.condition %>/10
								</div>
								<div class="profile__business-item-price">
									<%= Sneaker.first.price %> €
								</div>
							</div>
						</div>
						<div class="profile__business-items__content__btns">
							<button class="profile__business-items__content__btns--modify">Modifier</button>
							<button class="profile__business-items__content__btns--delete">Supprimer</button>
						</div>
					</div>
				</div>
				<div class="profile__business-wallet">
					<div class="profile__business-wallet__title">Mon portefeuille virtuel</div>
					<div>Montant disponible :</div>
				</div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="container users-show">
	<div class="profil-page">
		<div class="header">
			<div class="header-img">
				<% avatar_url = "oeil-rds.png" %>
				<%= image_tag avatar_url, class: "avatar dropdown-toggle" %>
			</div>
			<div class="header-infos">
				<p><%= full_name %></p>
				<p><%= current_user.orders.where(state: "Payé").count %> achat</p>
        <% if current_user.sneakers.count > 1 %>
				  <p><%= current_user.sneakers.count %> ventes</p>
        <% elsif current_user.sneakers.count <= 1 %>
          <p><%= current_user.sneakers.count %> vente</p>
        <% end %>
			</div>
		</div>
			<div class="basic-infos">
				<div class="modify-infos">
					<%= link_to "Modifier", edit_user_registration_path, class: "modify-infos-btn btn btn-outline-dark btn-sm" %>
				</div>
				<h5>Mes informations</h5>
				<p><strong>Nom : </strong><%= full_name %></p>
				<p><strong>Email : </strong><%= current_user.email %></p>
				<% if current_user.line1? %>
					<p><strong>Adresse : </strong><%= current_user.line1 %></p>
				<% else %>
					<p>Adresse : </p>
				<% end %>
				<% if current_user.city? %>		
					<p><strong>Ville : </strong><%= current_user.city %></p>
				<% else %>
					<p>Ville : </p>
				<% end %>
				<% if current_user.postal_code? %>		
					<p><strong>Code postal : </strong><%= current_user.postal_code %></p>
				<% else %>
					<p>Code postal : </p>
				<% end %>
				<% if current_user.date_of_birth? %>		
					<p><strong>Date de naissance : </strong><%= current_user.date_of_birth.strftime("%d/%m/%Y") %></p>
				<% else %>
					<p>Date de naissance : </p>
				<% end %>
				<% if current_user.phone? %>		
					<p><strong>Numéro de téléphone : </strong>+33 <%= current_user.phone %></p>
				<% else %>
					<p>Numéro de téléphone : <p>
				<% end %>
			</div>
    
			
		

  </div>	


</div> -->