<title>Mon profil - Rock Don't Stock</title>

<div class="container">
  <%= link_to :back, class: "back-button" do %>
    <h3><i class="fas fa-arrow-left ms-0"></i> Retour</h3>
  <% end %>
  <div class="profile">
    <h2 class="profile__title">Mon compte</h2>
    <div class="profile__content">
      <div class="profile__infos">
				<div class="profile__infos-personal">
					<div class="profile__infos-personal__title">Mes informations</div>
					<div>Nom : <%= current_user.full_name %></div>
					<div>Date de naissance : <%= current_user.date_of_birth %></div>
					<div>Adresse : <%= current_user.city %></div>
					<div>Email : <%= current_user.email %></div>
					<div>Téléphone : <%= current_user.phone %></div>
				</div>
				<div class="profile__infos-documents">
					<div class="profile__infos-documents__title">Mes documents</div>
					<div>IBAN : <%= current_user.iban %></div>
					<div>Carte d’identité (recto/verso): </div>
					<div>Justificatif de domicile: </div>
				</div>
				<%= link_to "Modifier", edit_user_registration_path, class: "profile__infos-btn" %>
      </div>
      <div class="profile__business">
				<div class="profile__business-items">
					<div class="profile__business-items__title">
						<div id="orders-display-btn" type="button">Mes achats</div>
						<div id="sales-display-btn" type="button">Mes ventes</div>
					</div>
					<div id="orders-carousel" class="items-carousel" data-flickity='{ "setGallerySize": false, "contain": true, "pageDots": false, "cellSelector": ".orders-cells" }'>
						<% current_user.orders.each do |order| %>
							<div class="profile__business-item orders-cells">
								<%= cl_image_tag(order.sneaker.photos.first&.key, class: 'profile__business-item-photo', raw_transformation: "c_limit,h_700,q_auto,w_700") %>
								<div class="profile__business-item-details">
									<div class="profile__business-item-name">
										<%= order.sneaker.sneaker_db&.name %>
									</div>
									<div class="profile__business-item-options">
										<%= order.sneaker.sneaker_db&.category %> - Taille <%= order.sneaker.size %> <br />Condition: <%= order.sneaker.condition %>/10
									</div>
									<div class="profile__business-item-price">
										<%= order.sneaker.price %> €
									</div>
								</div>
							</div>
						<% end %>
					</div>
					<%# TODO voir la différence entre sneakers en cours et sneakers vendues + rajouter statut %>
					<div id="sales-carousel" class="items-carousel">
						<% current_user.sneakers.each do |sneaker| %>
							<div class="profile__business-item sales-cells" data-id="<%= sneaker.id %>">
								<%= cl_image_tag(sneaker.photos.first&.key, class: 'profile__business-item-photo', raw_transformation: "c_limit,h_700,q_auto,w_700") %>
								<div class="profile__business-item-details">
									<div class="profile__business-item-name">
										<%= sneaker.sneaker_db&.name %>
									</div>
									<div class="profile__business-item-options">
										<%= sneaker.sneaker_db&.category %> - Taille <%= sneaker.size %> <br />Condition: <%= sneaker.condition %>/10
									</div>
									<div class="profile__business-item-price">
										<%= sneaker.price %> €
									</div>
									<div class="profile__business-item-price--edit" style="display: none">
										<%= form_for sneaker, method: :put do |f| %>
											<div class="input-group w-75">
												<span class="input-group-text">€</span>
												<%= f.text_field :price, class: "form-control", value: sneaker.price %><span type="button" class="close-form-btn my-auto px-3" ><i class="fas fa-times fa-lg"></i></span>
											</div>
										<% end %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
					<div class="profile__business-items__btns">
						<button class="profile__business-items__btns--modify">Modifier</button>
						<button class="profile__business-items__btns--delete">Supprimer</button>
					</div>
				</div>
				<div class="profile__business-wallet">
					<div class="profile__business-wallet__title">Mon portefeuille virtuel</div>
					<div>Montant disponible :</div>
					<button class="profile__business-wallet__btn">Transférer</button>
				</div>
      </div>
    </div>
  </div>
</div>

<script>
let ordersBtn = document.getElementById('orders-display-btn');
let salesBtn = document.getElementById('sales-display-btn');
let ordersCarousel = document.getElementById('orders-carousel');
let salesCarousel = document.getElementById('sales-carousel');
let actionBtns = document.querySelectorAll('.profile__business-items__btns > button');
let editBtn =	document.querySelector('.profile__business-items__btns--modify');
let deleteBtn =	document.querySelector('.profile__business-items__btns--delete');
let closeFormBtns =	document.querySelectorAll('.input-group .close-form-btn');


function toggleCarousel(block) {
	if (block === "orders") {
		ordersCarousel.style.display = ''
		salesCarousel.style.display = 'none'
	} else {
		ordersCarousel.style.display = 'none'
		salesCarousel.style.display = ''
	}
}
function disableButtons() {
	actionBtns.forEach(btn => {
		btn.disabled = true
		btn.style.opacity = '0.25'
		btn.style.pointerEvents = 'none'
	})
}
function enableButtons() {
	actionBtns.forEach(btn => {
		btn.disabled = false
		btn.style.opacity = '1'
		btn.style.pointerEvents = ''
	})
}
function underline(btn) {
	if (btn === "orders") {
		ordersBtn.style.textDecoration = 'underline';
		salesBtn.style.textDecoration = 'none'
	} else {
		ordersBtn.style.textDecoration = 'none';
		salesBtn.style.textDecoration = 'underline'
	}
}
function init() {
	// initial state
	underline('orders');
	disableButtons();

	// init sales carousel then hide it
	var flkty = new Flickity( '#sales-carousel', {
		"setGallerySize": false,
		"contain": true,
		"pageDots": false,
		"cellSelector": ".sales-cells",
		on: {
			ready: function() {
				salesCarousel.style.display = "none"
			}
		}
	});

	// init listeners
	ordersBtn.addEventListener('click', function() {
		toggleCarousel('orders')
		underline('orders')
		disableButtons()
	})
	salesBtn.addEventListener('click', function() {
		toggleCarousel('sales')
		underline('sales')
		enableButtons()
	})
	editBtn.addEventListener('click', function() {
		document.querySelectorAll('.sales-cells .profile__business-item-price').forEach((el) => el.style.display = "none")
		document.querySelectorAll('.sales-cells .profile__business-item-price--edit').forEach((el) => el.style.display = "")
	})
	deleteBtn.addEventListener('click', function(e) {
		e.preventDefault();

		let sneakerId = document.querySelector('.sales-cells.is-selected').dataset.id

		Rails.ajax({
			type: "DELETE",
			url: `/sneakers/${sneakerId}`,
			confirm: "Es-tu certain de vouloir supprimer cette annonce ?",
			success: () => window.location.reload()
		})
	})
	closeFormBtns.forEach(btn => {
		btn.addEventListener('click', function() {
			document.querySelectorAll('.sales-cells .profile__business-item-price').forEach((el) => el.style.display = "")
			document.querySelectorAll('.sales-cells .profile__business-item-price--edit').forEach((el) => el.style.display = "none")
		})
	})
}
init()
</script>

<style>
.items-carousel {
	height: 180px;
}
</style>
<!-- 
<div class="container users-show">
	<div class="profil-page">
		<div class="header">
			<div class="header-img">
				<% avatar_url = "oeil-rds.png" %>
				<%= image_tag avatar_url, class: "avatar dropdown-toggle" %>
			</div>
			<div class="header-infos">
				<p><%= full_name %></p>
				<p><%= current_user.orders.where(state: "Payé").count %> achat</p>
        <% if current_user.sneakers.count > 1 %>
				  <p><%= current_user.sneakers.count %> ventes</p>
        <% elsif current_user.sneakers.count <= 1 %>
          <p><%= current_user.sneakers.count %> vente</p>
        <% end %>
			</div>
		</div>
			<div class="basic-infos">
				<div class="modify-infos">
					<%= link_to "Modifier", edit_user_registration_path, class: "modify-infos-btn btn btn-outline-dark btn-sm" %>
				</div>
				<h5>Mes informations</h5>
				<p><strong>Nom : </strong><%= full_name %></p>
				<p><strong>Email : </strong><%= current_user.email %></p>
				<% if current_user.line1? %>
					<p><strong>Adresse : </strong><%= current_user.line1 %></p>
				<% else %>
					<p>Adresse : </p>
				<% end %>
				<% if current_user.city? %>		
					<p><strong>Ville : </strong><%= current_user.city %></p>
				<% else %>
					<p>Ville : </p>
				<% end %>
				<% if current_user.postal_code? %>		
					<p><strong>Code postal : </strong><%= current_user.postal_code %></p>
				<% else %>
					<p>Code postal : </p>
				<% end %>
				<% if current_user.date_of_birth? %>		
					<p><strong>Date de naissance : </strong><%= current_user.date_of_birth.strftime("%d/%m/%Y") %></p>
				<% else %>
					<p>Date de naissance : </p>
				<% end %>
				<% if current_user.phone? %>		
					<p><strong>Numéro de téléphone : </strong>+33 <%= current_user.phone %></p>
				<% else %>
					<p>Numéro de téléphone : <p>
				<% end %>
			</div>
    
			
		

  </div>	


</div> -->