<div class="container">
	<div class="profil-page">
		<div class="header">
			<div class="header-img">
				<% avatar_url = "default_avatar.png" #current_user.picture_url || %>
				<%= image_tag avatar_url, class: "avatar dropdown-toggle" %>
			</div>
			<div class="header-infos">
				<p><%= full_name %></p>
				<p> <%= current_user.orders.where(state: "Payé").count %> achats</p>
				<p> <%= current_user.sneakers.count %> ventes</p>
			</div>
		</div>
			<div class="basic-infos">
				<div class="modify-infos">
					<%= link_to "Modifier", edit_user_registration_path(@user), class: "modify-infos-btn btn btn-outline-dark btn-sm" %>
				</div>
				<h5>Mes informations</h5>
				<p><strong>Nom : </strong><%= full_name %></p>
				<p><strong>Email : </strong><%= current_user.email %></p>
				<% if current_user.line1? %>
					<p><strong>Adresse : </strong><%= current_user.line1 %></p>
				<% else %>
					<p>Adresse : </p>
				<% end %>
				<% if current_user.city? %>		
					<p><strong>Ville : </strong><%= current_user.city %></p>
				<% else %>
					<p>Ville : </p>
				<% end %>
				<% if current_user.postal_code? %>		
					<p><strong>Code postal : </strong><%= current_user.postal_code %></p>
				<% else %>
					<p>Code postal : </p>
				<% end %>
				<% if current_user.date_of_birth? %>		
					<p><strong>Date de naissance : </strong><%= current_user.date_of_birth.strftime("%d/%m/%Y") %></p>
				<% else %>
					<p>Date de naissance : </p>
				<% end %>
				<% if current_user.phone? %>		
					<p><strong>Numéro de téléphone : </strong><%= current_user.phone %></p>
				<% else %>
					<p>Numéro de téléphone : <p>
				<% end %>
			</div>

			<%= link_to user_items_path(current_user) do %>
				<div class="my-items">
					<h5>Mes achats / ventes</h5> 
					<%= image_tag "profil/my_purchases", class: "" %>
				</div>
			<% end %>

			<%= link_to root_path do %>
				<div class="my-sales">
					<h5>Mes documents</h5> 
					<%= image_tag "profil/my_sales", class: "my-sales-icon" %>
				</div>
			<% end %>
			
			<%= link_to user_transfers_path(@user) do %>
				<div class="money-infos">
					<h5>RIB</h5> 
					<%= image_tag "profil/my_sales", class: "" %>
				</div>
			<% end %>

	</div>	


</div>	




		<!-- Si l'utilisateur il a une senaker qui est en state 1 (donc validé côté admin) -->
			<!-- Il est majeur -->
				<!-- Il remplit ses informations -->
			<!-- Il est mineur -->
				<!-- Il remplit les informations d'un adulte + ID adulte -->
	
	<!-- <div class="adult-infos">
		<% if current_user.date_of_birth? && current_user.line1? && current_user.city? && current_user.postal_code? && current_user.phone? && current_user.date_of_birth? && current_user.sneakers.present? %>
			<% if current_user.sneakers[0].state == 1 %>
				<% if age(current_user.date_of_birth) < 18  %>
					<h3>Tu es mineur</h3>
					<p>En France, our recevoir de l'argent sur ton compte bancaire, tu dois renseigner ces informations concernant une personne majeur : </p>
					<%= simple_form_for(current_user, remote: true, data: {target: "address.form", id: current_user.id }) do |f| %>
		        <%= f.input :first_name, label: 'Prénom', input_html: { data: {target: 'address.line1'} }, required: true  %>
		        <%= f.input :last_name, label: 'Nom de famille', input_html: { data: { target: 'address.city'} },required: true %>
		        <%= f.input :line1, label: 'Adresse', input_html: { data: { target: 'address.postal_code'} }, required: true %>
		        <%= f.input :city, label: 'Ville', input_html: { data: { target: 'address.postal_code'} }, required: true %>
		        <%= f.input :postal_code, label: 'Code postal', input_html: { data: { target: 'address.postal_code'} }, required: true %>
		        <%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer le recto de ma carte d'identité" %>
						<%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer le verso de ma carte d'identité" %>
						<%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer un justificatif de domicile" %>
		        <%= f.button :submit, "Confirmer mes informations", data: { action: "click->address#refresh" } %>  
		      <% end %>
				<% end %>
			<% end %>
		<% end %>
	</div>
 -->
		<%# if current_user.ids[0].present? &&  current_user.ids[1].present? &&  current_user.ids[2].present? %>
			<%#= link_to "Ajouter mon IBAN", edit_user_registration_path(@user, anchor: "iban-error") %>			
			<!-- <h3>Mes virements vers mon comptes bancaires</h3> -->
			<!-- <%#= simple_form_for(@user) do |f| %> -->
				<!-- <div id="iban-error"></div> -->
				<%#= f.input :iban, label: "Remplir l'IBAN pour recevoir ton solde",  placeholder: 'FR1420041010050500013M02606' %>
				<%#= f.button :submit %>
			<%# end %>
		<%# end %>
<!-- 		<br>
		<div class="my-transfers">
			<% if current_user.date_of_birth? && current_user.line1? && current_user.city? && current_user.postal_code? && current_user.phone? && current_user.date_of_birth? && current_user.sneakers.present? %>
				<%= link_to "Mes virements", user_transfers_path(@user) %>
			<% end %>
		</div>


		<% if current_user.date_of_birth? && current_user.line1? && current_user.city? && current_user.postal_code? && current_user.phone? %>
			<h3>Mes documents</h3>
			<% if current_user.ids[0].present? &&  current_user.ids[1].present? &&  current_user.ids[2].present? %>
				<%= simple_form_for(@user, remote:true) do |f| %>
					<p>Attention ! Si vous voulez transmettre à nouveaux vos documents, cela supprimera les anciens. Vous devez donc nous renvoyer vos 3 documents ci-dessous : </p>
					<%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer une nouvelle fois le recto de ma carte d'identité" %>
					<%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer une nouvelle fois le recto de ma carte d'identité" %>
					<%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer un nouveau justificatif de domicile" %>
				    <%= f.button :submit %>
				<% end %>
			<% else %>
				<%= simple_form_for(@user, remote:true) do |f| %>
				  	<p>Attention ! Vous devez nous envoyer les 3 documents ci-dessous au même moment : </p>
				  	<%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer le recto de ma carte d'identité" %>
					<%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer le verso de ma carte d'identité" %>
					<%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer un justificatif de domicile" %>
					<%= f.button :submit %>
			    <% end %>
			<% end %>
		<% end %>
 -->    
    

	
<%#= javascript_pack_tag "iban_validator" %>