<div class="container">
  <div class="row row-cols-4 mt-5 justify-content-center">
    <div class="col-12 col-sm-9">
		<h1>Mon profil</h1>

		<% avatar_url = current_user.picture_url || "default_avatar.png" %>
		<%= image_tag avatar_url, class: "avatar dropdown-toggle" %>

		<h3>Mes informations</h3>
		<p><%= full_name %></p>
		<p>Email : <%= current_user.email %></p>
		<% if current_user.line1? %>		
			<p>Adresse : <%= current_user.line1 %></p>
		<% end %>
		<% if current_user.city? %>		
			<p>Ville : <%= current_user.city %></p>
		<% end %>
		<% if current_user.postal_code? %>		
			<p>Code postal : <%= current_user.postal_code %></p>
		<% end %>
		<% if current_user.date_of_birth? %>		
			<p>Date de naissance : <%= current_user.date_of_birth.strftime("%d/%m/%Y") %></p>
		<% end %>
		<% if current_user.phone? %>		
			<p>Numéro de téléphone : <%= current_user.phone %></p>
		<% end %>


		
		<%= link_to "Modifier mes informations", edit_user_registration_path(@user) %>



		<h3>Mes achats</h3> 
		<br>
		<h3>Mes ventes</h3> 

	
		<br>
		<% if current_user.ids[0].present? &&  current_user.ids[1].present? &&  current_user.ids[2].present? %>
			<%= link_to "Ajouter mon IBAN", edit_user_registration_path(@user, anchor: "iban-error") %>			
			<!-- <h3>Mes virements vers mon comptes bancaires</h3> -->
			<!-- <%#= simple_form_for(@user) do |f| %> -->
				<!-- <div id="iban-error"></div> -->
				<%#= f.input :iban, label: "Remplir l'IBAN pour recevoir ton solde",  placeholder: 'FR1420041010050500013M02606' %>
				<%#= f.button :submit %>
			<%# end %>
		<% end %>
		<br>

		<% if current_user.date_of_birth? && current_user.line1? && current_user.city? && current_user.postal_code? && current_user.phone? && current_user.date_of_birth? && current_user.sneakers.present? %>
			<%= link_to "Mes virements", user_transfers_path(@user) %>
		<% end %>


		<% if current_user.date_of_birth? && current_user.line1? && current_user.city? && current_user.postal_code? && current_user.phone? %>
			<h3>Mes documents</h3>
			<% if current_user.ids[0].present? &&  current_user.ids[1].present? &&  current_user.ids[2].present? %>
				<%= simple_form_for(@user, remote:true) do |f| %>
					<p>Attention ! Si vous voulez transmettre à nouveaux vos documents, cela supprimera les anciens. Vous devez donc nous renvoyer vos 3 documents ci-dessous : </p>
					<%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer une nouvelle fois le recto de ma carte d'identité" %>
					<%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer une nouvelle fois le recto de ma carte d'identité" %>
					<%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer un nouveau justificatif de domicile" %>
				    <%= f.button :submit %>
				<% end %>
			<% else %>
				<%= simple_form_for(@user, remote:true) do |f| %>
				  	<p>Attention ! Vous devez nous envoyer les 3 documents ci-dessous au même moment : </p>
				  	<%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer le recto de ma carte d'identité" %>
					<%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer le verso de ma carte d'identité" %>
					<%= f.input :ids, as: :file,  input_html: {multiple: true}, label: "Envoyer un justificatif de domicile" %>
					<%= f.button :submit %>
			    <% end %>
			<% end %>
		<% end %>
    </div>
  </div>
</div>

	
<%= javascript_pack_tag "iban_validator" %>