<title>Changer son mot de passe - Rock Don't Stock</title>
<div class="container">
  <div class="edit-password">
    <h2>Changer mon mot de passe</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

      <div class="form-inputs">
        <%= f.input :password,
                    label: "New password",
                    required: true,
                    autofocus: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirm your new password",
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Changer mon mot de passe", class: 'btn btn-dark' %>
      </div>
    <% end %>

    <%#= render "devise/shared/links" %>
  </div>
</div>

<style type="text/css">
  .edit-password {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .edit-password h2 {
    margin-bottom: 30px;
  }
  .form-actions {
    margin-top: 10px;
  }
  .user_password input {
    width: 300px;
  }
</style>