<div class="list-sneakers-cards" data-refresh-list-target="list" data-filters-target="thelist">
  <div class="popup-search" id="records_table">
    <div class="sneaker-cards">
      <% @sneakers_navbar.each do |sneaker| %>
        <% if !sneaker.orders.last.nil?  && sneaker.orders.last.state == "Payé" %>
          <div class="sneaker-card">
            <div class="sneaker-card_img sneaker-card_img-sold">
              <%= cl_image_tag(sneaker.photos[0].key) %>
              <div class="sneaker-card-img-sold" style="position: absolute;font-weight: 500;font-size: 20px;text-shadow: 1px 1px 3px rgb(0 0 0 / 50%);color: black;">VENDU</div>
            </div>
            <div class="sneaker-title sneaker-title-sold"><strong><%= sneaker.sneaker_db.name %></strong></div>
            <div class="sneaker-price sneaker-price-sold"><%= sneaker.size %> US &nbsp;| <%= sneaker.condition %> / 10 &nbsp;|&nbsp; <%= humanized_money_with_symbol sneaker.price %></div>  
          </div>
        <% else %>
          <div class="sneaker-card">
            <div class="sneaker-card_img" data-toggle="modal" data-target="#modal-search-list-<%= sneaker.id %>">
              <%= cl_image_tag(sneaker.photos[0].key) %>
            </div>
            <div class="sneaker-title"><strong><%= sneaker.sneaker_db.name %></strong></div>
            <div class="sneaker-price"><%= sneaker.size %> US &nbsp;| <%= sneaker.condition %> / 10 &nbsp;|&nbsp; <%= humanized_money_with_symbol sneaker.price %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  

  <%# if @pagy.page < @pagy.last %>
    <!-- <div data-controller = "infinite-scroll" data-infinite-scroll-next-url = "<%#= root_path(page: @pagy.page + 1) %>"> -->
      <!-- <div class="sneaker-cards-btn"> -->
        <%#= link_to(params[:query].nil? ? sneaker_dbs_path : sneaker_dbs_path + "?query=" + params[:query]) do %>
          <!-- Tout voir -->
        <%# end %>
      <!-- </div> -->
    <!-- </div> -->
  <%# end %>

</div>



<style  >
  .sneaker-cards-btn {
    margin-top:30px;
    text-align: center;
  }
  .sneaker-cards-btn a {
    color: white;
  }
  .sneaker-title {
    color: black;
  }
  .sneaker-price {
    color: black;
  }

</style>