<div class="list-sneakers-cards" data-refresh-list-target="list" data-filters-target="thelist">
  <div class="popup-search" id="records_table">
    <div class="sneaker-cards">
      <% @sneakers.all.each do |sneaker| %>
      <div class="sneaker-card">
        <div class="sneaker-card_img" data-toggle="modal" data-target="#search-list-<%= sneaker.id %>">
          <%= cl_image_tag(sneaker.photos[0].key) %>
        </div>
        <div class="sneaker-title"><strong><%= sneaker.sneaker_db.name %></strong></div>
        <div class="sneaker-price"><%= sneaker.condition %> / 10 &nbsp;|&nbsp; <%= humanized_money_with_symbol sneaker.price %></div>
      </div> 
      <% end %>
    </div>
  </div>

    
  <% if @pagy.page < @pagy.last %>
    <div data-controller = "infinite-scroll" data-infinite-scroll-next-url = "<%= root_path(page: @pagy.page + 1) %>">
      <div class="sneaker-cards-btn">
        <%= link_to(params[:query].nil? ? sneaker_dbs_path : sneaker_dbs_path + "?query=" + params[:query]) do %>
          Tout voir
        <% end %>
      </div>
    </div>
  <% end %>

</div>



<style type="text/css">
  .sneaker-cards-btn {
    margin-top:30px;
    text-align: center;
  }
  .sneaker-cards-btn a {
    color: white;
  }
  .sneaker-title {
    color: black;
  }
  .sneaker-price {
    color: black;
  }

</style>