<div style="position: sticky; top: 0; backdrop-filter: blur(10px); z-index: 1;">
  <div class="container d-flex justify-content-between align-items-center" style="height: 80px;">
    <%= link_to "/", class: "me-auto" do %>
      <%= image_tag("logo.svg", style: 'height: 35px;', class: 'icon') %>
    <% end %>
    <%= link_to "L'authentification", authentication_path, class: "navbar__auth-button" %>
    <%= form_with url: sneakers_path, method: :get do |f| %>
      <div style="position: relative;">
        <%= f.text_field :search, class: "form-control", style: "width: 320px", placeholder: "Essaye Nike, Air Jordan..." %>
        <%= image_tag "images/lens.svg", style: "position: absolute; right: 0.5rem; top: 0; transform: translateY(50%); cursor: pointer", onclick: "this.closest('form').submit()" %>
      </div>
    <% end %>
    <%= button_to "Vendre", sneakers_path, class: "navbar__sell-button" %>
    <% if user_signed_in? %>
      <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="user-circle" height="30" style="cursor: pointer;" class="svg-inline--fa fa-user-circle fa-w-16 toggler_icon navbarSideButton" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M248 104c-53 0-96 43-96 96s43 96 96 96 96-43 96-96-43-96-96-96zm0 144c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm0-240C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-49.7 0-95.1-18.3-130.1-48.4 14.9-23 40.4-38.6 69.6-39.5 20.8 6.4 40.6 9.6 60.5 9.6s39.7-3.1 60.5-9.6c29.2 1 54.7 16.5 69.6 39.5-35 30.1-80.4 48.4-130.1 48.4zm162.7-84.1c-24.4-31.4-62.1-51.9-105.1-51.9-10.2 0-26 9.6-57.6 9.6-31.5 0-47.4-9.6-57.6-9.6-42.9 0-80.6 20.5-105.1 51.9C61.9 339.2 48 299.2 48 256c0-110.3 89.7-200 200-200s200 89.7 200 200c0 43.2-13.9 83.2-37.3 115.9z"></path></svg>
    <% else %>
      <%= image_tag "navbar/toggler_icon.svg", class: "toggler_icon navbarSideButton", style: "cursor: pointer; height: 35px;" %>
    <% end %>
  </div>
</div>

<ul class="navbar-side" id="navbarSide">
  <div class="navbar-side-white-toggler">
    <% if user_signed_in? %>
      <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="user-circle" height="50" color="whitesmoke" class="svg-inline--fa fa-user-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M248 104c-53 0-96 43-96 96s43 96 96 96 96-43 96-96-43-96-96-96zm0 144c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm0-240C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-49.7 0-95.1-18.3-130.1-48.4 14.9-23 40.4-38.6 69.6-39.5 20.8 6.4 40.6 9.6 60.5 9.6s39.7-3.1 60.5-9.6c29.2 1 54.7 16.5 69.6 39.5-35 30.1-80.4 48.4-130.1 48.4zm162.7-84.1c-24.4-31.4-62.1-51.9-105.1-51.9-10.2 0-26 9.6-57.6 9.6-31.5 0-47.4-9.6-57.6-9.6-42.9 0-80.6 20.5-105.1 51.9C61.9 339.2 48 299.2 48 256c0-110.3 89.7-200 200-200s200 89.7 200 200c0 43.2-13.9 83.2-37.3 115.9z"></path></svg>
    <% else %>
      <%= image_tag "navbar/white/white_toggler_icon.svg" %>
    <% end %>
  </div>
  <%= link_to (user_signed_in? ? user_path : user_session_path), class: "side-link" do %>
    <li class="navbar-side-item side-link">Mon compte</li>
  <% end %>
  <%= link_to(sneakers_path, method: :post, class: "side-link") do %>
    <li class="navbar-side-item side-link">Vendre</li>
  <% end %>
  <%= link_to(sneakers_path, class: "side-link") do %>
    <li class="navbar-side-item side-link">Tout voir</li>
  <% end %>
  <%= link_to(authentication_path, class: "side-link") do %>
    <li class="navbar-side-item side-link">L'authentification</li>
  <% end %>
  <%= link_to(new_contact_path, class: "side-link") do %>
    <li class="navbar-side-item side-link">Nous contacter</li>
  <% end %>
  <%= link_to(faq_path, class: "side-link") do %>
    <li class="navbar-side-item side-link">FAQ</li>
  <% end %>
  <div class="navbar-sign">
    <% if user_signed_in? %>
      <%= link_to (destroy_user_session_path), class: "", :method => :delete do %>
        <li style="display: flex; align-items: center; justify-content: center; height: 3rem;">Déconnexion</li>
      <% end %>
    <% else %>
      <%= link_to (user_session_path) do %>
        <li style="display: flex; align-items: center; justify-content: center; height: 3rem;">Me connecter</li>
      <% end %>
    <% end %>
  </div>
</ul>

<div class="overlay"></div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.navbarSideButton').on('click', function() {
      $('#navbarSide').addClass('reveal');
      $('.overlay').show();
    });

    $('.overlay, .navbar-side-item>a, .navbar-side-white-toggler').on('click', function(){
      $('#navbarSide').removeClass('reveal');
      $('.overlay').hide();
    });

    $('#navbar-side-see-all').on('click', function() {
      $('#navbarSide').removeClass('reveal');
      $('.overlay').hide();
      if ($( window ).width() >= 1024) {
        $('.glass_icon').hide();
        $('.glass-search-form').show();
      } else {
        $('.toggler_icon_phone').hide();
        $('.glass-search-form').show();
        $('.magnify_glass_icon_phone').hide();
        $('.real-nav').css('justify-content', 'center');
        $('.dropdown-filter-items').hide();
      }
    });

    $('.glass_icon_phone').on('click', function() {
      $('.toggler_icon_phone').hide();
      $('.glass-search-form').show();
      $('.magnify_glass_icon_phone').hide();
      $('.real-nav').css('justify-content', 'center');
      $('.dropdown-filter-items').hide();
    });

      // $('.glass-search-form').show();
    // $('.dropdown-filter-items').show();

    $('.glass_icon').on('click', function() {
      $('.glass_icon').hide();
      $('.glass-search-form').show();
    });

    if ($( window ).width() < 1024) {
      $('.dropdown-filter').on('click', function() {
        $('.dropdown-filter-items').slideToggle('fast');
        $('.dropdown-filter-laptop').hide();
      });
    } else {
      $('.dropdown-filter').hide();
    }

    $('.hide-search-arrow').on('click', function () {
      $('.glass-search-form').hide();
      $('toggler_icon, .glass_icon, #sell_button').show();
    })

    $('.phone-hide-search-arrow').on('click', function () {
      $('.glass-search-form').hide();
      $('.real-nav').css('justify-content', 'space-between');
      $('img.toggler_icon_phone, .magnify_glass_icon_phone').show();
    })
  });
</script>