<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbar-light">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag("logo.svg", style: 'width: 80%; height: 60px;object-fit: cover;', class: 'icon') %>
  <% end %>
  
  <%= image_tag "navbar/toggler_icon.svg", class: 'toggler_icon_phone navbarSideButton', type: "button" %>  
  
  <%= link_to "/", class: "navbar-brand-phone" do %>
    <%= image_tag("logo.svg", style: 'width: 80%; height: 60px;object-fit: cover;', class: 'icon_phone') %>
  <% end %>

  <ul class="navbar-side" id="navbarSide">
    <div class="navbar-side-white-toggler">
      <%= image_tag "navbar/white/white_toggler_icon.svg" %>  
    </div>
    <li class="navbar-side-item">
      <%= link_to "Mon compte", user_signed_in? ? user_path(current_user) : user_session_path, class: "side-link" %>
    </li>
    <li class="navbar-side-item">
      <a class="side-link" href="/sneakers">Vends</a>
    </li>
    <li class="navbar-side-item">
      <a class="side-link" href="/searchs">Tout voir</a>
    </li>
    <li class="navbar-side-item">
      <a class="side-link" href="/contact/new">Nous contacter</a>
    </li>
    <div class="navbar-sign">
      <% if user_signed_in? %>
        <li >
          <%= link_to "Déconnexion", destroy_user_session_path , :method => :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to("Me connecter", user_session_path) %>
        </li>
      <% end %>
    </div>
  </ul>

  <div class="overlay"></div>

  <!-- <div data-controller="hello" class="glass_icon_phone"> -->
    <!-- <form action="" autocomplete="on"> -->
      <!-- <input id="search" name="search" type="text" placeholder="Cherche ton modèle"> -->
      <!-- <input id="search_submit" value="Rechercher" type="submit"> -->
      <!-- <div data-target="hello.output"> -->
      <!-- </div>  -->
    <!-- </form> -->
  <div class="glass_icon_phone">
    <%= image_tag("navbar/magnifying_glass_icon.svg", class: "magnify_glass_icon_phone") %>
  </div>

    <div data-controller="refresh-list" class="glass-search-form ">
        <%= form_with url: root_path, method: :get, html: { class: '', data: { refresh_list_target: 'form' } } do |f| %>
          <%= f.text_field :query,
                         class: "form-control",
                         id: "home-glass-search-form", 
                         placeholder: 'Recherche ta paire',
                         value: params[:query],
                         data: {
                          refresh_list_target: 'searchInput',
                          action: "keyup->refresh-list#update",
                         } %>
          <%#= image_tag("navbar/magnifying_glass_icon.svg", class: "magnify_glass_icon_phone_input") %>
        <% end %>
        <%= render 'shared/list', sneaker_dbs: @sneaker_dbs %>
    </div>


    <!-- <style type="text/css">
      .magnify_glass_icon_phone_input {
        position: absolute;
        left: 270px;
        bottom: -50px;
        /*top: 5px;*/
      }
    </style> -->

    <!-- <button class="btn-search"><%= image_tag("navbar/magnifying_glass_icon.svg", class: "magnify_glass_icon_phone") %></button> -->
    <!-- <input type="text" class="input-search" placeholder="Recherche ton modèle"> -->
    
  <!-- </div> -->
  
  <div class="icons">
    <div class="glass_icon">
      <a href="/searchs"><%= image_tag("navbar/magnifying_glass_icon.svg", class: "magnify_glass_icon") %></a>
    </div>
    <%= link_to('<button type="button" id="sell_button" class="btn btn-dark">Vends</button>'.html_safe, sneakers_path ) %>
    <%= image_tag "navbar/toggler_icon.svg", class: 'toggler_icon navbarSideButton', type: "button" %>
  </div>
</div>


<script type="text/javascript">

  $(document).ready(function() {
    $('.navbarSideButton').on('click', function() {
      $('#navbarSide').addClass('reveal');
      $('.overlay').show();
    });

    $('.overlay, .navbar-side-item>a, .navbar-side-white-toggler').on('click', function(){
      $('#navbarSide').removeClass('reveal');
      $('.overlay').hide();
    });

    $('.glass_icon_phone').on('click', function() {
      $('.toggler_icon_phone').hide();
      $('.glass-search-form').show();
      $('.magnify_glass_icon_phone').hide();
      $('.navbar').css('padding', 0);
      // $('.icon_phone').hide();
    });
    // $('.container, .banner').on('click', function() {
      // $('.icon_phone').show("slow");
      // $('.toggler_icon_phone').show("slow");
    // });

  });



</script>