<% brands = ["Nike", "Jordan", "Adidas", "Yeezy", "New Balance", "Asics", "Autres"] %>
<% conditions = {"6/10 ou moins": 6, "7/10": 7, "8/10": 8, "9/10": 9, "10/10": 10} %>
<% sizes = [36, 36.5, 37, 37.5, 38, 38.5, 39, 39.5, 40, 40.5, 41, 41.5, 42, 42.5, 43, 43.5, 44, 44.5, 45, 45.5, 46, 46.5, 47, 47.5, 48, 48.5, 49, 49.5] %>

<!-- DESKTOP -->
<div class="container d-none d-lg-block backdrop" style="position: sticky; top: 0; z-index: 1;">
  <div class="d-flex justify-content-between align-items-center" style="height: 80px;">
    <%= link_to "/", class: "me-auto" do %>
      <%= image_tag("logo.svg", style: 'height: 35px;', class: 'icon') %>
    <% end %>
    <%= link_to "L'authentification", authentication_path, class: "navbar__auth-button" %>
    <%= form_with url: sneakers_path, method: :get do |f| %>
      <div style="position: relative;">
        <%= f.text_field :search, class: "form-control", style: "width: 320px", placeholder: "Essaye Nike, Air Jordan..." %>
        <%= image_tag "images/lens.svg", style: "position: absolute; right: 0.5rem; top: 50%; transform: translateY(-50%); cursor: pointer", onclick: "this.closest('form').submit()" %>
      </div>
    <% end %>
    <%= button_to "Vendre", sneakers_path, class: "navbar__sell-button" %>
    <%= image_tag "navbar/toggler_icon.svg", class: "toggler_icon navbarSideButton", style: "cursor: pointer; height: 35px;" %>
  </div>
</div>

<!-- MOBILE -->
<div class="container d-lg-none backdrop" style="position: sticky; top: 0; z-index: 10;">
  <div class="d-flex justify-content-between align-items-center" style="width: 100%; height: 80px;">
    <div class="navbar-burger">
    <%= image_tag "navbar/toggler_icon.svg", class: "toggler_icon navbarSideButton", style: "cursor: pointer; height: 30px;" %>
    </div>
    <%= link_to "/", class: "navbar-logo-link" do %>
      <%= image_tag("logo.svg", style: 'height: 32px;', class: 'icon') %>
    <% end %>
    <%= form_with url: sneakers_path, html: { id: "navbar-search-form" }, method: :get do |f| %>
      <div style="position: relative;">
        <%= f.text_field :search, class: "navbar-search-input form-control", placeholder: "Essaye Nike, Air Jordan..." %>
        <%= image_tag "images/lens.svg", style: "height: 20px; position: absolute; right: 0.5rem; top: 50%; transform: translateY(-50%); cursor: pointer", onclick: "handleLensClick()" %>
      </div>
    <% end %>
    <div class="navbar-close-icon" style="display: none; line-height: 0; font-size: 40px;" onclick="hideInput()">&times;</div>
  </div>
  <% if current_page?('/sneakers') %>
    <div class="d-flex align-items-center d-block d-lg-none mb-4">
      <div class="popup-close-icon me-auto" style="display: none; font-size: 35px; line-height: 0;" onclick="hidePopup()">&times;</div>
      <!-- FILTERS MOBILE -->
      <div class="filter-btn" style="cursor: pointer; width: 50%; padding: 0.5rem; border: 1px solid #0E0E0E; border-right: none; text-align: center;">Filtrer</div>
      <div class="sort-btn" style="cursor: pointer; width: 50%; padding: 0.5rem; border: 1px solid #0E0E0E; text-align: center;">Trier</div>
    </div>
    <div class="popup sort-popup">
      <%= form_with url: sneakers_path, local: false, method: :get, html: {id: "sort-form-mobile"} do |f| %>
        <div class="form-group" style="border: 1px solid #0E0E0E; padding: 1rem;">
          <div class="form-check mb-1">
            <label class="form-check-label">
              <%= f.radio_button :sort_by, "price_cents ASC", { class: "form-check-input" } %> Prix croissant
            </label>
          </div>
        </div>
        <div class="form-group" style="border: 1px solid #0E0E0E; padding: 1rem;">
          <div class="form-check mb-1">
            <label class="form-check-label">
              <%= f.radio_button :sort_by, "price_cents DESC", { class: "form-check-input" } %> Prix décroissant
            </label>
          </div>
        </div>
        <div class="form-group" style="border: 1px solid #0E0E0E; padding: 1rem;">
          <div class="form-check mb-1">
            <label class="form-check-label">
              <%= f.radio_button :sort_by, "created_at DESC", { class: "form-check-input", checked: true } %> Du plus récent au plus ancien
            </label>
          </div>
        </div>
        <div class="form-group" style="border: 1px solid #0E0E0E; padding: 1rem;"> 
          <div class="form-check mb-1">
            <label class="form-check-label">
              <%= f.radio_button :sort_by, "created_at ASC", { class: "form-check-input" } %> Du plus ancien au plus récent
            </label>
          </div>
        </div>
      <% end %>
    </div>
    <div class="popup filter-popup">
      <%= form_with url: sneakers_path, local: false, method: :get, html: {style: "padding-bottom: 3rem;"} do |f| %>
        <div id="accordion">
          <div class="card">
            <div class="card-header" style="cursor: pointer" id="headingOne" data-bs-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Marques
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
              <div class="card-body">
                <% brands.each do |brand| %>
                  <div class="form-check mb-1">
                    <label class="form-check-label">
                      <%= f.check_box :category, { multiple: true, class: "form-check-input" }, brand, nil %> <%= brand %>
                    </label>
                  </div>
                <% end %>  
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="cursor: pointer" id="headingTwo"  data-bs-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Prix
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
              <div class="card-body">
                <div class="row g-2">
                  <div class="col-5">
                    <%= f.number_field :min_price, min: 0, class: "form-control", placeholder: "Min" %>
                  </div>
                  <div class="col-5">
                    <%= f.number_field :max_price, class: "form-control", placeholder: "Max" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="cursor: pointer" id="headingThree" data-bs-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Condition
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
              <div class="card-body">
                <% conditions.each do |key, val| %>
                  <div class="form-check mb-1">
                    <label class="form-check-label">
                      <%= f.check_box :condition, { multiple: true, class: "form-check-input" }, val, nil %> <%= key %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="cursor: pointer" id="headingThree" data-bs-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Taille
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
              <div class="card-body">
                <% sizes.each do |size| %>
                  <div class="form-check mb-1">
                    <label class="form-check-label">
                      <%= f.check_box :size, { multiple: true, class: "form-check-input" }, size, nil %> <%= size %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <button class="filter-popup-update-btn" type="submit" onclick="hidePopup()">Mettre à jour</button>
      <% end %>
    </div>
  <% end %>
</div>

<% if current_page?('/') %>
  <div style="background-color: #EFEFEF" data-flickity='{ "pageDots": false, "prevNextButtons": false, "autoPlay": true, "wrapAround": true, "cellSelector": ".banner-link" }'>
    <div class="banner-link w-100 text-center py-3">
      <%= link_to sneakers_path(max_price: 200) do %>
        🤙 Découvrez notre sélection à moins de 200€
      <% end %>
    </div>
    <div class="banner-link w-100 text-center py-3">
      <%= link_to sneakers_path, method: :post do %>
        🤙 Frais d’authentification offerts sur la première vente
      <% end %>
    </div>
  </div>
<% end %>

<div class="navbar-side" id="navbarSide">
  <div class="navbar-side__menu">
    <div class="navbar-side__menu__close">
      &times;
    </div>
    <% if user_signed_in? %>
      <div class="d-flex flex-column align-items-center justify-content-center w-100 mb-4 mt-1">
        <%= link_to user_path do %>
          <%= image_tag("images/icon_avatar.svg", style: "height: 40px; width: auto; margin-bottom: 0.5rem;") %>
        <% end %>
        <div>Salut <span style="font-weight: 700"><%= current_user.first_name %></span> !</div>
      </div>
    <% end %>
    <div class="navbar-side__menu__item">
      <%= link_to "Vendre", sneakers_path, method: :post %>
    </div>
    <div class="navbar-side__menu__item">
      <%= link_to "Tout voir", sneakers_path %>
    </div>
    <div class="navbar-side__menu__item"> 
      <%= link_to "Nous contacter", new_contact_path %>
    </div>
    <div class="navbar-side__menu__item">
      <%= link_to "L'authentification", authentication_path %>
    </div>
    <div class="navbar-side__menu__item">
      <a href="https://www.instagram.com/rockdontstock/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <div class="navbar-side__login">
      <% if user_signed_in? %>
        <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Me connecter", user_session_path %>
      <% end %>
    </div>
  </div>
</div>
<ul class="navbar-side d-none" id="navbarSide">
  <div class="navbar-side-white-toggler">
    <% if user_signed_in? %>
    <div class="d-flex justify-content-center toggler_icon navbarSideButton" style="cursor: pointer; gap: 0.6rem; align-items: center; margin-left: 1rem">

    </div>
    <% else %>
      <%= image_tag "navbar/white/white_toggler_icon.svg" %>
    <% end %>
  </div>
</ul>

<div class="overlay"></div>

<script type="text/javascript">
  function handleLensClick() {
    let form = document.getElementById('navbar-search-form')

    if (form.status == "inputVisible") form.submit()
    else {
      form.style.width = "100%"

      document.querySelector('.navbar-logo-link').style.display = "none"
      document.querySelector('.navbar-burger').style.display = "none"
      document.querySelector('.navbar-close-icon').style.display = "block"

      document.querySelector('.navbar-search-input').style.border = "1px solid #0E0E0E"
      document.querySelector('.navbar-search-input').style.visibility = "visible"

      form.status = "inputVisible"
    }
  }

  function hideInput() {
    let form = document.getElementById('navbar-search-form')

    document.querySelector('.navbar-search-input').style.border = "none"
    document.querySelector('.navbar-search-input').style.visibility = "hidden"

    document.querySelector('.navbar-close-icon').style.display = "none"
    document.querySelector('.navbar-burger').style.display = "block"
    document.querySelector('.navbar-logo-link').style.display = "block"
    form.style.width = "30px"
    form.status = ""
  }
  
  $(document).ready(function() {

    $('.navbarSideButton').on('click', function() {
      $('#navbarSide').addClass('reveal');
      $('.overlay').show();
    });

    $('.overlay, .navbar-side__menu__close').on('click', function(){
      $('#navbarSide').removeClass('reveal');
      $('.overlay').hide();
    });
    
  });
</script>

<style>
#navbar-search-form {
  width: 30px;
  transition: all 0.2s ease;
}
.navbar-search-input {
  visibility: hidden;
  border: none;
}
.navbar-close-icon {
  margin-left: 1rem;
  cursor: pointer;
}
.backdrop {
  background-color: rgba(255, 255, 255, .9);
}
@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  .backdrop {
    background-color: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
</style>