<div style="position: sticky; top: 0; backdrop-filter: blur(10px); z-index: 1;">
  <div class="container d-flex justify-content-between align-items-center" style="height: 80px;">
    <%= link_to "/", class: "me-auto" do %>
      <%= image_tag("logo.svg", style: 'height: 35px;', class: 'icon') %>
    <% end %>
    <%= link_to "L'authentification", authentication_path, class: "navbar__auth-button" %>
    <%= form_with url: sneakers_path, method: :get do |f| %>
      <div style="position: relative;">
        <%= f.text_field :search, class: "form-control", placeholder: "Recherche ta paire" %>
        <%= image_tag "images/lens.svg", style: "position: absolute; right: 0.5rem; top: 0; transform: translateY(50%); cursor: pointer", onclick: "this.closest('form').submit()" %>
      </div>
    <% end %>
    <%= button_to "Vendre", sneakers_path, class: "navbar__sell-button" %>
    <%= image_tag "navbar/toggler_icon.svg", class: "toggler_icon navbarSideButton", style: "cursor: pointer; height: 35px;" %>
  </div>
</div>

<ul class="navbar-side" id="navbarSide">
  <div class="navbar-side-white-toggler">
    <%= image_tag "navbar/white/white_toggler_icon.svg" %>
  </div>
  <%= link_to (user_signed_in? ? user_path : user_session_path), class: "side-link" do %>
    <li class="navbar-side-item side-link">Mon compte</li>
  <% end %>
  <%= link_to(sneakers_path, method: :post, class: "side-link") do %>
    <li class="navbar-side-item side-link">Vendre</li>
  <% end %>
  <div style="margin-top: 20px; cursor: pointer" id="navbar-side-see-all">
    <li  class="navbar-side-item side-link">Tout voir</li>
  </div>
  <%= link_to(authentication_path, class: "side-link") do %>
    <li class="navbar-side-item side-link">L'authentification</li>
  <% end %>
  <%= link_to(new_contact_path, class: "side-link") do %>
    <li class="navbar-side-item side-link">Nous contacter</li>
  <% end %>
  <%= link_to(faq_path, class: "side-link") do %>
    <li class="navbar-side-item side-link">FAQ</li>
  <% end %>
  <div class="navbar-sign">
    <% if user_signed_in? %>
      <%= link_to (destroy_user_session_path), class: "", :method => :delete do %>
        <li class="">Déconnexion</li>
      <% end %>
    <% else %>
      <%= link_to (user_session_path) do %>
        <li>Me connecter</li>
      <% end %>
    <% end %>
  </div>
</ul>

<div class="overlay"></div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.navbarSideButton').on('click', function() {
      $('#navbarSide').addClass('reveal');
      $('.overlay').show();
    });

    $('.overlay, .navbar-side-item>a, .navbar-side-white-toggler').on('click', function(){
      $('#navbarSide').removeClass('reveal');
      $('.overlay').hide();
    });

    $('#navbar-side-see-all').on('click', function() {
      $('#navbarSide').removeClass('reveal');
      $('.overlay').hide();
      if ($( window ).width() >= 1024) {
        $('.glass_icon').hide();
        $('.glass-search-form').show();
      } else {
        $('.toggler_icon_phone').hide();
        $('.glass-search-form').show();
        $('.magnify_glass_icon_phone').hide();
        $('.real-nav').css('justify-content', 'center');
        $('.dropdown-filter-items').hide();
      }
    });

    $('.glass_icon_phone').on('click', function() {
      $('.toggler_icon_phone').hide();
      $('.glass-search-form').show();
      $('.magnify_glass_icon_phone').hide();
      $('.real-nav').css('justify-content', 'center');
      $('.dropdown-filter-items').hide();
    });

      // $('.glass-search-form').show();
    // $('.dropdown-filter-items').show();

    $('.glass_icon').on('click', function() {
      $('.glass_icon').hide();
      $('.glass-search-form').show();
    });

    if ($( window ).width() < 1024) {
      $('.dropdown-filter').on('click', function() {
        $('.dropdown-filter-items').slideToggle('fast');
        $('.dropdown-filter-laptop').hide();
      });
    } else {
      $('.dropdown-filter').hide();
    }

    $('.hide-search-arrow').on('click', function () {
      $('.glass-search-form').hide();
      $('toggler_icon, .glass_icon, #sell_button').show();
    })

    $('.phone-hide-search-arrow').on('click', function () {
      $('.glass-search-form').hide();
      $('.real-nav').css('justify-content', 'space-between');
      $('img.toggler_icon_phone, .magnify_glass_icon_phone').show();
    })
  });
</script>