 <% brand = ["Adidas", "Air Jordan", "Nike", "New Balance", "Other Brands", "Luxury Brands", "Collections"]%>

<div class="" id="navbar-light">
  <div class="fixed-top nav-test">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag("logo.svg", style: 'height: 35px;', class: 'icon') %>
    <% end %>
    <div class="icons">
      <div class="glass_icon" style="cursor: pointer;">
        <p style="margin:0;">Recherche ta paire</p>
        <%= image_tag("navbar/magnifying_glass_icon.svg", class: "magnify_glass_icon") %>
      </div>
      <%= link_to('<button type="button" id="sell_button" class="btn btn-dark">Vendre</button>'.html_safe, 
      new_sneaker_path) %>
      <%= image_tag "navbar/toggler_icon.svg", class: 'toggler_icon navbarSideButton', style: 'cursor: pointer;' %>
    </div>
  </div>
  
  <div class="real-nav">
    <%= image_tag "navbar/toggler_icon.svg", style: 'height: 40px; cursor: pointer;', class: 'toggler_icon_phone navbarSideButton' %>  
    
    <%= link_to "/", class: "navbar-brand-phone" do %>
      <%= image_tag("logo.svg", style: 'width: 60px;', class: 'icon_phone') %>
    <% end %>

    <div class="glass_icon_phone">
      <%= image_tag("navbar/magnifying_glass_icon.svg", style: 'height: 40px;padding:10px;', class: "magnify_glass_icon_phone") %>
    </div>
  </div>


  <ul class="navbar-side" id="navbarSide">
    <div class="navbar-side-white-toggler">
      <%= image_tag "navbar/white/white_toggler_icon.svg" %>  
    </div>

    <%= link_to (user_signed_in? ? user_path : user_session_path), class: "side-link" do %>
      <li class="navbar-side-item side-link">Mon compte</li>
    <% end %>
    
    <a class="side-link" href="/sneakers/new">
      <li class="navbar-side-item side-link">Vendre</li>
    </a>

    <div style="margin-top: 20px; cursor: pointer" id="navbar-side-see-all">
      <li  class="navbar-side-item side-link">Tout voir</li>
    </div>

    <%= link_to(new_contact_path, class: "side-link") do %>
      <li class="navbar-side-item side-link">Nous contacter</li>
    <% end %>

    <%= link_to(faq_path, class: "side-link") do %>
      <li class="navbar-side-item side-link">FAQ</li>
    <% end %>

    <div class="navbar-sign">
      <% if user_signed_in? %>
        <%= link_to (destroy_user_session_path), class: "", :method => :delete do %>
          <li class="">Déconnexion</li>
        <% end %>
      <% else %>
        <%= link_to (user_session_path) do %>
          <li>Me connecter</li>
        <% end %>
      <% end %>
    </div>
  </ul>

  <div class="overlay"></div>


  <div data-controller="refresh-list" class="glass-search-form">
    <%= form_with url: root_path, method: :get, html: { class: 'glass-search-form-input', data: { refresh_list_target: 'form' } } do |f| %>
      <div class="hide-search-form">
        <%= image_tag("arrow_back.svg", class: "phone-hide-search-arrow", style: 'cursor: pointer;') %>
        <%= image_tag("arrow_back.svg", class: "hide-search-arrow", style: 'cursor: pointer;') %>
      </div>
      <div class="home-glass-search-form">
        <%= f.text_field  :query,
                          class: "",
                          id: "home-glass-search-form", 
                          placeholder: 'Recherche ta paire',
                          value: params[:query],
                          data: {
                            refresh_list_target: 'searchInput',
                            action: "keyup->refresh-list#update",
                          } %>
          <%= image_tag("navbar/magnifying_glass_icon.svg", class: "magnify_glass_icon_phone_input") %>
        <% end %>
      </div>
        <div class="search-filter">
          <div class="filters" data-controller="filters">
            <button class="dropdown-filter btn btn-dark" type="button">Filtres</button>
            <div class="filter-and-sneakers">
              <div class="dropdown-filter-items">
                <button class="dropdown-filter-laptop btn btn-dark" type="button">Filtres</button>
                <%= select_tag :category, options_for_select(brand),
                  include_blank: "Toute les marques",
                  class: "form-select",
                  data: { action: "filters#filter", target: "filters.filter" } %>
                  
                  <%= select_tag :price,
                      options_for_select(
                        [ ["Moins de 100€", 100], ["Moins de 200€", 200], ["Moins de 300€", 300], ["Plus de 300€", 301] ], params[:price]
                      ),
                  include_blank: "Tous les prix",
                  class: "form-select",
                  data: { action: "filters#filter", target: "filters.filter" } %>
                
                  <%= select_tag :condition,
                      options_for_select(
                        [ ["5/10 et moins", 5], ["6/10", 6], ["8/10", 8], ["9/10", 9], ["10/10", 10] ], params[:condition]
                      ),
                  include_blank: "Toute condition",
                  class: "form-select",
                  data: { action: "filters#filter", target: "filters.filter" } %>

                <%= select_tag :size,
                    options_for_select([
                      ["1", 1], ["1.5", 1.5], ["2", 2], ["2.5", 2.5], ["3", 3], ["3.5", 3.5], ["4", 4], ["4.5", 4.5], ["5", 5],
                      ["5.5", 5.5], ["6", 6], ["6.5", 6.5], ["7", 7], ["7.5", 7.5], ["8", 8], ["8.5", 8.5], ["9", 9], ["9.5", 9.5],
                      ["10", 10], ["10.5", 10.5], ["11", 11], ["11.5", 11.5], ["12",12], ["12.5", 12.5], ["13", 13], ["13.5", 13.5],
                      ["14", 14], ["14.5", 14.5], ["15", 15], ["16", 16], ["17", 17], ["18", 18] ], params[:size]),
                include_blank: "Toute taille",
                class: "form-select",
                data: { action: "filters#filter", target: "filters.filter" } %>
              </div>
              <%= render 'shared/list', sneakers: @sneakers %>
            </div>
      </div>
    </div>
  </div>

  
  <% @sneakers_navbar.each do |sneaker| %>
    <div class="modal fade" id="modal-search-list-<%= sneaker.id %>" tabindex="-1" role="dialog" aria-labelledby="searchListLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="color: black;">
          <div class="modal-header">
            <h5 class="modal-title" id="searchListLabel"><%= sneaker.sneaker_db.name %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="carousel-search-list-<%= sneaker.id %>" class="carousel slide carousel-slide-body-sneaker" data-ride="carousel">
              <div class="carousel-inner">
              </div>
              <div class="modal-sneaker-logos">
                <div class="modal-sneaker-logos-microscope">
                  <%= image_tag("sneaker/microscope.svg") %>
                  <h5>AUTHENTICITÉ GARANTIE</h5>
                  <p>Avant que la paire ne te soit envoyée, cette dernière passe entre nos mains afin d’être vérifiée par des experts en Legit Check</p>
                  <%= link_to("En savoir plus sur l'authentification", authentification_path, target: :_blank) %>
                  </div>
                <div class="modal-sneaker-logos-truck">
                  <%= image_tag("sneaker/truck.svg") %>
                  <h5>LIVRAISON A PARTIR DE 5€</h5>
                  <p>Pour réduire le coût au maximum nous te proposons la livraison MondialRelay, plus sécurisée elle a aussi l’avantage d’être la moins coûteuse pour toi</p>
                </div>
              </div>
              <div class="modal-sneaker-infos">
                <p><strong><%= humanized_money_with_symbol sneaker.price %></strong><br>Hors frais d'authentification <br></p>
                <div class='modal-sneaker-all'>
                  <div class="modal-sneaker-size-cond">
                    <p>Taille : <strong><%=  sneaker.size %> US</strong></p>
                    <p>Condition : <strong><%= sneaker.condition %>/10</strong><br>
                    <%= link_to("Tout savoir sur les conditions", faq_path, style:"color:#707981", target: :_blank) %></p>
                  </div>
                  <div class="modal-sneaker-box-extras">
                    <p>Box : <strong><%= sneaker.box %></strong></p>
                    <p>Description : <strong><%= sneaker.extras %></strong></p>
                  </div>
                </div>
              </div>
                
              </div>
            </div>
          <div class="modal-footer" style="justify-content: center;">
            <% if current_user != sneaker.user && sneaker.user.stripe_account_id? %>
              <% unless current_user.nil? %>
                <%= form_tag orders_path(sneaker_id: sneaker.id), id: "order_create_#{sneaker.id }" do %>
                  <%= submit_tag 'Acheter', class: 'btn btn-dark' %>
                <% end %>
              <% else %>
                <%= form_tag user_session_path(sneaker_id: sneaker.id) do %>
                  <%= submit_tag 'Acheter', class: 'btn btn-dark' %>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(sneaker).edit? %>
              <button type="button" class="btn sneaker-show-btn" style="background-color: #2e3338;" >
                <a onclick="location.href='<%= sneaker_path(sneaker) %>';" data-dismiss="modal" style="color:white">Voir mon annonce</a>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>   

  
</div>
  



<script type="text/javascript">
  $(document).ready(function() {
    $('.navbarSideButton').on('click', function() {
      $('#navbarSide').addClass('reveal');
      $('.overlay').show();
    });

    $('.overlay, .navbar-side-item>a, .navbar-side-white-toggler').on('click', function(){
      $('#navbarSide').removeClass('reveal');
      $('.overlay').hide();
    });


    $('#navbar-side-see-all').on('click', function() {
      $('#navbarSide').removeClass('reveal');
      $('.overlay').hide();
      if ($( window ).width() >= 1024) {
        $('.glass_icon').hide();
        $('.glass-search-form').show();
      } else {
        $('.toggler_icon_phone').hide();
        $('.glass-search-form').show();
        $('.magnify_glass_icon_phone').hide();
        $('.real-nav').css('justify-content', 'center');
        $('.dropdown-filter-items').hide();
      }
    });

    $('.glass_icon_phone').on('click', function() {
      $('.toggler_icon_phone').hide();
      $('.glass-search-form').show();
      $('.magnify_glass_icon_phone').hide();
      $('.real-nav').css('justify-content', 'center');
      $('.dropdown-filter-items').hide();
    });
    
      // $('.glass-search-form').show();
    // $('.dropdown-filter-items').show();
    
    $('.glass_icon').on('click', function() {
      $('.glass_icon').hide();
      $('.glass-search-form').show();
    });
    
    if ($( window ).width() < 1024) {
      $('.dropdown-filter').on('click', function() {
        $('.dropdown-filter-items').slideToggle('fast');
        $('.dropdown-filter-laptop').hide();
      });
    } else {
      $('.dropdown-filter').hide();
    }

    $('.hide-search-arrow').on('click', function () {
      $('.glass-search-form').hide();
      $('toggler_icon, .glass_icon, #sell_button').show();
    })

    $('.phone-hide-search-arrow').on('click', function () {
      $('.glass-search-form').hide();
      $('.real-nav').css('justify-content', 'space-between');
      $('img.toggler_icon_phone, .magnify_glass_icon_phone').show();
    })
  });
</script>