 <% brand = ["Adidas", "Air Jordan", "Nike", "New Balance", "Other Brands", "Luxury Brands", "Collections"]%>

<div class="" id="navbar-light">
  <div class="fixed-top nav-test">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag("logo.svg", style: 'height: 35px;', class: 'icon') %>
    <% end %>
    <div class="icons">
      <div class="glass_icon" style="cursor: pointer;">
        <p style="margin:0;">Recherche ta paire</p>
        <%= image_tag("navbar/magnifying_glass_icon.svg", class: "magnify_glass_icon") %>
      </div>
      <%= link_to('<button type="button" id="sell_button" class="btn btn-dark">Vendre</button>'.html_safe, 
      new_sneaker_path) %>
      <%= image_tag "navbar/toggler_icon.svg", class: 'toggler_icon navbarSideButton', style: 'cursor: pointer;' %>
    </div>
  </div>
  
  <div class="real-nav">
    <%= image_tag "navbar/toggler_icon.svg", style: 'height: 40px; cursor: pointer;', class: 'toggler_icon_phone navbarSideButton' %>  
    
    <%= link_to "/", class: "navbar-brand-phone" do %>
      <%= image_tag("logo.svg", style: 'width: 60px;', class: 'icon_phone') %>
    <% end %>

    <div class="glass_icon_phone">
      <%= image_tag("navbar/magnifying_glass_icon.svg", style: 'height: 40px;padding:10px;', class: "magnify_glass_icon_phone") %>
    </div>
  </div>


  <ul class="navbar-side" id="navbarSide">
    <div class="navbar-side-white-toggler">
      <%= image_tag "navbar/white/white_toggler_icon.svg" %>  
    </div>

    <%= link_to (user_signed_in? ? user_path : user_session_path), class: "side-link" do %>
      <li class="navbar-side-item side-link">Mon compte</li>
    <% end %>
    
    <a class="side-link" href="/sneakers/new">
      <li class="navbar-side-item side-link">Vendre</li>
    </a>

    <div style="margin-top: 20px; cursor: pointer" id="navbar-side-see-all">
      <li  class="navbar-side-item side-link">Tout voir</li>
    </div>

    <%= link_to(new_contact_path, class: "side-link") do %>
      <li class="navbar-side-item side-link">Nous contacter</li>
    <% end %>

    <%= link_to(faq_path, class: "side-link") do %>
      <li class="navbar-side-item side-link">FAQ</li>
    <% end %>

    <div class="navbar-sign">
      <% if user_signed_in? %>
        <%= link_to (destroy_user_session_path), class: "", :method => :delete do %>
          <li class="">Déconnexion</li>
        <% end %>
      <% else %>
        <%= link_to (user_session_path) do %>
          <li>Me connecter</li>
        <% end %>
      <% end %>
    </div>
  </ul>

  <div class="overlay"></div>
  
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.navbarSideButton').on('click', function() {
      $('#navbarSide').addClass('reveal');
      $('.overlay').show();
    });

    $('.overlay, .navbar-side-item>a, .navbar-side-white-toggler').on('click', function(){
      $('#navbarSide').removeClass('reveal');
      $('.overlay').hide();
    });


    $('#navbar-side-see-all').on('click', function() {
      $('#navbarSide').removeClass('reveal');
      $('.overlay').hide();
      if ($( window ).width() >= 1024) {
        $('.glass_icon').hide();
        $('.glass-search-form').show();
      } else {
        $('.toggler_icon_phone').hide();
        $('.glass-search-form').show();
        $('.magnify_glass_icon_phone').hide();
        $('.real-nav').css('justify-content', 'center');
        $('.dropdown-filter-items').hide();
      }
    });

    $('.glass_icon_phone').on('click', function() {
      $('.toggler_icon_phone').hide();
      $('.glass-search-form').show();
      $('.magnify_glass_icon_phone').hide();
      $('.real-nav').css('justify-content', 'center');
      $('.dropdown-filter-items').hide();
    });
    
      // $('.glass-search-form').show();
    // $('.dropdown-filter-items').show();
    
    $('.glass_icon').on('click', function() {
      $('.glass_icon').hide();
      $('.glass-search-form').show();
    });
    
    if ($( window ).width() < 1024) {
      $('.dropdown-filter').on('click', function() {
        $('.dropdown-filter-items').slideToggle('fast');
        $('.dropdown-filter-laptop').hide();
      });
    } else {
      $('.dropdown-filter').hide();
    }

    $('.hide-search-arrow').on('click', function () {
      $('.glass-search-form').hide();
      $('toggler_icon, .glass_icon, #sell_button').show();
    })

    $('.phone-hide-search-arrow').on('click', function () {
      $('.glass-search-form').hide();
      $('.real-nav').css('justify-content', 'space-between');
      $('img.toggler_icon_phone, .magnify_glass_icon_phone').show();
    })
  });
</script>