<!-- <title>Achat de <%= @order.sneaker.sneaker_db.name %> - Rock Don't Stock</title> -->
<div class="container">
  <%= link_to :back, class: "back-button" do %>
    <h2><i class="fas fa-arrow-left ms-0"></i> Commander</h2>
  <% end %>
  <div class="purchase">
    <%= form_with data: { secret: @intent.client_secret }, id: "payment-form", class: "purchase-form" do |f| %>
      <div class="purchase-form__infos">
        <div class="purchase-form__infos__title">
          <%= image_tag("images/icon_shopping.svg") %>
          <span class="ms-2">Informations de contact</span>
        </div>
        <div class="purchase-form__infos__fields">
          <div class="row g-2">
            <div class="col-5">
              <%= f.label "Nom", class: "form-label" %>
              <%= f.text_field :last_name, class: "form-control", required: true %>
            </div>
            <div class="col-5">
              <%= f.label "Prénom", class: "form-label" %>
              <%= f.text_field :first_name, class: "form-control", required: true %>
            </div>
          </div>
          <div class="row g-2">
            <div class="col-5">
              <%= f.label "Téléphone", class: "form-label" %>
              <%= f.text_field :phone, class: "form-control", required: true %>
            </div>
            <div class="col-5">
              <%= f.label "E-mail", class: "form-label" %>
              <%= f.email_field :email, class: "form-control", required: true %>
            </div>
          </div>
        </div>
      </div>
      <div class="purchase-form__shipping">
        <div class="purchase-form__shipping__title">
          <%= image_tag("images/icon_truck.svg", width: "24", height: "24") %>
          <span class="ms-2">Méthode de livraison</span>
        </div>
        <div class="purchase-form__shipping__fields">
          <div class="row g-2 ms-0">
            <div class="col-auto form-check me-3">
              <%= f.radio_button :delivery, :colissimo, { class: "form-check-input", checked: true } %>
              <%= f.label "Colissimo", class: "form-check-label" %>
            </div>
            <div class="col-auto form-check">
              <%= f.radio_button :delivery, :relay, { class: "form-check-input" } %>
              <%= f.label "Mondial Relay", class: "form-check-label" %>
            </div>
          </div>
          <div class="purchase-form__shipping__relay">
            <div class="purchase-form__shipping__relay-target">
              <%= image_tag("images/map-pin.svg") %>
              <div>
                <div class="purchase-form__shipping__relay-target-address"></div>
                <div class="purchase-form__shipping__relay-target-city"></div>
                <div class="purchase-form__shipping__relay-btn">Changer</div>
              </div>
            </div>
            <div class="purchase-form__shipping__relay-map"></div>
            <input type="hidden" id="purchase-form__shipping__relay-id" />
          </div>
          <div class="purchase-form__shipping__address">          
            <div class="row g-2">
              <div class="col-5">
                <%= f.label "Adresse", class: "form-label" %>
                <%= f.text_field :address, class: "form-control", required: true %>
              </div>
              <div class="col-5 me-3">
                <%= f.label "Ville", class: "form-label" %>
                <%= f.text_field :city, class: "form-control", required: true %>
              </div>
            </div>
            <div class="row g-2">
              <div class="col-5">
                <%= f.label "Code postal", class: "form-label" %>
                <%= f.text_field :zip_code, class: "form-control", required: true %>
              </div>
              <div class="col-5 me-3">
                <%= f.label "Numéro de porte", class: "form-label" %>
                <%= f.text_field :door_number, class: "form-control", required: true %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="purchase-form__payment col-10">
        <div class="purchase-form__payment__title">
          <%= image_tag("images/icon_bill.svg") %>
          <span class="ms-2">Moyen de paiement</span>
        </div>
        <div class="purchase-form__payment__fields">
          <div id="payment-element">
            <!-- Elements will create form elements here -->
          </div>
          <div id="error-message">
            <!-- Display error message to your customers here -->
          </div>
        </div>
      </div>
      <div class="purchase-form__validation">
        <button type="submit" class="purchase-form__validation__btn">Valider ma commande</button>
        <div class="form-check">
          <%= f.check_box :legal, { class: "form-check-input", required: true }, 1, nil %>
          <%= f.label "", class: "form-check-label" do %>
            En confirmant ma commande j'accepte les <a href="/cgv">conditions générales de vente</a>.
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="purchase-recap">
      <div class="purchase-recap__card">
        <div class="purchase-recap__card__title">
          Ma commande
        </div>
        <div class="purchase-recap__card__sneaker">
          <%= cl_image_tag(@sneaker.photos.first.key, class: 'purchase-recap__card__sneaker-photo') %>
          <div class="purchase-recap__card__sneaker-details">
            <div class="purchase-recap__card__sneaker-name">
              <%= @sneaker.sneaker_db.name %>
            </div>
            <div class="purchase-recap__card__sneaker-options">
              <%= @sneaker.sneaker_db.category %> - Taille <%= @sneaker.size %> - Condition: <%= @sneaker.condition %>/10
            </div>
            <div class="purchase-recap__card__sneaker-price">
              <%= @sneaker.price %>€
            </div>
          </div>
        </div>
        <div class="purchase-recap__card__order-infos">
          <div class="purchase-recap__card__order-infos__item">
            <div>Livraison</div>
            <div>prix €</div>
          </div>
          <div class="purchase-recap__card__order-infos__item">
            <div>Authentification Premium</div>
            <div>prix €</div>
          </div>
          <div class="purchase-recap__card__order-infos__item">
            <div>Code promo</div>
            <div>-prix €</div>
          </div>
        </div>
        <div class="purchase-recap__card__total">
          <div>Total</div>
          <div>prix €</div>
        </div>
        <div class="purchase-recap__card__trustpilot"></div>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function(event) {
  const radioRelay = document.getElementById('delivery_relay');
  const radioColissimo = document.getElementById('delivery_colissimo');
  const relayMap = document.querySelector('.purchase-form__shipping__relay-map');
  const colissimoBlock = document.querySelector('.purchase-form__shipping__address');
  const relayBlock = document.querySelector('.purchase-form__shipping__relay');
  const relayChangeBtn = document.querySelector('.purchase-form__shipping__relay-btn');

  [radioRelay, radioColissimo].forEach((radio) => {
    radio.addEventListener('change', function() {
      if (this === radioRelay) {
        relayBlock.style.display = "block"
        colissimoBlock.style.display = "none"
      }
      if (this === radioColissimo) {
        relayBlock.style.display = "none"
        colissimoBlock.style.display = "block"
      }
    });
  })

  relayChangeBtn.addEventListener('click', () => {
    relayMap.style.display = "block"
  })

  // STRIPE
  const stripe = Stripe("<%= ENV['STRIPE_PUBLIC_TEST'] %>");

  const options = {
    clientSecret: '<%= @intent.client_secret %>',
    appearance: {/*...*/},
  };

  const elements = stripe.elements(options);
  const paymentElement = elements.create('payment');
  paymentElement.mount('#payment-element');

  const form = document.getElementById('payment-form');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const {error} = await stripe.confirmPayment({
      elements,
      confirmParams: {
        return_url: "<%= payment_complete_url + "?sneaker_id=" + @sneaker.id.to_s %>",
      },
    });

    if (error) {
      const messageContainer = document.querySelector('#error-message');
      messageContainer.textContent = error.message;
    }
  });
})

</script>