<div class="container order-show">
  <h5>Ton achat à été enregistré avec succès. <br>
    Tu recevras un email de confirmation avec le récapitulatif de ta commande et le code tracking afin de suivre ton colis. <br>
    Merci pour la confiance et à bientôt !  </h5>
  <p style="display: none;" id="checkout_session_id"><%= @order.checkout_session_id  %></p>
  <br><br>
  <h5>Commande #<%= @order.id %> <span class="badge badge-dark"> <%= @order.state %></span></h5>
  <ul class="list-unstyled">
    <li><strong>Commande passée le</strong> <%= @order.created_at.to_date.strftime("%d/%m/%Y") %></li>
    <li><strong>Paire :</strong> <%= @order.sneaker.sneaker_db.name %></li>

    <%# if @order.shipping_cost_cents == 883 %>
      <li><strong>Livraison :</strong> <%= humanized_money_with_symbol @order.shipping_cost %></li>
      <%# total = @order.price - 5.05 + (@order.service / 2 ) %>
    <%# else %>
      <!-- <li><strong>Livraison :</strong>€5,05</li> -->
    <%# end %>
      <li><strong>Authentification :</strong> <%= humanized_money_with_symbol @order.service / 2 %></li>
      <li><strong>Prix de la paire :</strong> <%= humanized_money_with_symbol @order.sneaker.price %></li>
      <% total_price_order =  (@order.price_cents + (@order.service_cents / 2)).to_f / 100 %>
      <li><strong>Prix total :</strong> €<%= total_price_order %></li>
      <!-- <li><strong>Total :</strong> <%#= humanized_money_with_symbol total %></li> -->
    </li>
  </ul>
</div>


<style type="text/css">
  .order-show h5 { 
    text-align: center;
  }
  .sneaker-show-photos {
    width: 500px;
    height: 500px;
  }
  .order-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  } 

</style>