<div class="container">
  <div class="d-flex flex-column align-items-center justify-content-center" style="margin-top: 3rem">
    <div>
      <%= image_tag("images/check.svg") %>
    </div>
    <h2 class="mb-0">
      Merci pour votre commande
    </h2>
  </div>
  <div class="d-flex align-items-center justify-content-center" style="gap: 5rem">
    <div class="d-flex flex-column" style="width: 30%; gap: 2rem;">
      <div class="sneaker-form__recap__sneaker-options mt-3" style="color: #727272;">
        <div>
          Numéro de commande : <%= @order.id %>
        </div>
        <div>
          Date de commande : <%= I18n.l(Order.last.created_at, format: :short, locale: :'fr') %>
        </div>
        <div>
          Moyen de paiement : <%= @order.payment_method %>
        </div>
        <div>
          Nom de l'acheteur : <%= @order.user.full_name %>
        </div>
      </div>
      <div>
        <div style="font-size: 25px; font-weight: 700">Prochaine étape...</div>
        <div>
          Le vendeur dispose maintenant de 48 heures afin de nous envoyer ta paire de sneakers pour l’authentification.
          Nous te tiendrons informé par e-mail des prochaines étapes de commande (réception, authentification, expédition finale).
        </div>
      </div>
    </div>
    <div class="purchase-recap">
      <div class="purchase-recap__card">
        <div class="purchase-recap__card__title">
          Ma commande
        </div>
        <div class="purchase-recap__card__sneaker">
          <div class="purchase-recap__card__sneaker-details">
            <div class="purchase-recap__card__sneaker-name">
              <%= @order.sneaker.sneaker_db.name %>
            </div>
            <div class="purchase-recap__card__sneaker-options">
              <%= @order.sneaker.sneaker_db.category %> - Taille <%= @order.sneaker.size %> - Condition: <%= @order.sneaker.condition %>/10
            </div>
            <div class="purchase-recap__card__sneaker-price">
              <%= @order.sneaker.price %> €
            </div>
          </div>
        </div>
        <div class="purchase-recap__card__order-infos">
          <div class="purchase-recap__card__order-infos__item">
            <div>Livraison</div>
            <div>prix €</div>
          </div>
          <div class="purchase-recap__card__order-infos__item">
            <div>Authentification Premium</div>
            <div>prix €</div>
          </div>
          <div class="purchase-recap__card__order-infos__item">
            <div>Code promo</div>
            <div>-prix €</div>
          </div>
        </div>
        <div class="purchase-recap__card__total">
          <div>Total</div>
          <div>prix €</div>
        </div>
        <div class="purchase-recap__card__trustpilot"></div>
      </div>
    </div>
  </div>
</div>