
<% sneaker = Sneaker.find(params['sneaker_id']) %>
<% sneaker_data_target = params['sneaker_target'] %>

<div id="spox-game">
  <div class="carousel-item active">
    <%= smart_image_tag(sneaker.photos[0], class: 'sneaker-show-photos') %>
  </div>
  <div class="carousel-item ">
    <%= smart_image_tag(sneaker.photos[1], class: 'sneaker-show-photos') %>
  </div>
  <div class="carousel-item ">
    <%= smart_image_tag(sneaker.photos[2], class: 'sneaker-show-photos') %>
  </div>
  <div class="carousel-item ">
    <%= smart_image_tag(sneaker.photos[3], class: 'sneaker-show-photos') %>
  </div>
  <div class="carousel-item ">
    <%= smart_image_tag(sneaker.photos[4], class: 'sneaker-show-photos') %>
  </div>
  <div class="carousel-item ">
    <%= smart_image_tag(sneaker.photos[5], class: 'sneaker-show-photos') %>
  </div>
  <% unless sneaker.photos[6].nil? %>
    <div class="carousel-item ">
      <%= smart_image_tag(sneaker.photos[6], class: 'sneaker-show-photos') %>
    </div>
  <% end %>
  <% unless sneaker.photos[7].nil? %>
    <div class="carousel-item ">
      <%= smart_image_tag(sneaker.photos[7], class: 'sneaker-show-photos') %>
    </div>
  <% end %>

  <a class="carousel-control-prev" href="#<%= sneaker_data_target %>" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon sneaker-show-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#<%= sneaker_data_target  %>" role="button" data-slide="next">
    <span class="carousel-control-next-icon sneaker-show-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>