<div class="banner">
  <div class="container">
    <h1 class="font-weight-bold">Faites pour <a class="white">être</a> portées,<br>rien d'autre.</h1>
    <div class="scrolling">
      <a style=" color: black;" href="#scroll"><p>Voir les annonces</p></a>
      <%= image_tag("banner/arrow") %>
    </div>
  </div>
</div>


<div id="scroll" class="container">
  <h2 style="font-style: italic;">Best sellers</h2>
  <div class="cards">
    <% SneakerDb.all.limit(10).each do |sneaker| %>
        <div class="card">
         <div class="card_img">
          <%= image_tag(sneaker.img_url, style: 'width: 100%; justify-content:center;') %>
          </div>
          <div class="title"><strong><%= sneaker.name %></strong></div>
          <div class="price">À partir de <%= sneaker.price_cents %>€</div>
        </div>
    <% end %>
  </div>  

  <div class="all_sneakers">
    <%= link_to "Tout voir", sneakers_path %>
  </div>

</div>




<%#=	link_to "Voir la liste des Sneakers", sneakers_path %>

<%#= link_to "Modifier mon profil", edit_user_registration_path %>



<%#= 
transfer = Stripe::Transfer.create({
  amount: 1000 , # sneaker.price - 490 (livraison) - (12 % du prix de la paire / 2) (service)
  currency: "eur",
  destination: "acct_1Iuvaq2RPNtnbUTH",
}) %>



<%#
p payout = Stripe::Payout.create({
      amount: 100,
      currency: 'eur',
      destination: 'ba_1Inmn42QFklsr9vGI323QckG',#@account.external_accounts.data[0].id
      method: "standard",
      }, {
        stripe_account: 'acct_1InK1r2QFklsr9vG',
      }) 
%>


<%# 
if current_user
  if !current_user.token_account? && current_user.date_of_birth? && current_user.line1? && current_user.city? && current_user.postal_code? && current_user.phone? 
    create_connect_account
    p "LE USER A REMPLI TOUTE SES INFOS DONC ON LUI CRÉÉ UN COMPTE CONNECT"
  end 
  #if current_user.ids[0] && current_user.ids[1] && current_user.ids[2]
    #send_identity_document
  #end 
end




def send_identity_document
  identity_front = Stripe::File.create({
    purpose: 'identity_document',
    file: File.new(current_user.ids[0].current_path),
    }, {
    stripe_account: current_user.stripe_account_id,
  })

  identity_verso = Stripe::File.create({
    purpose: 'identity_document',
    file: File.new(current_user.ids[1].current_path),
    }, {
    stripe_account: current_user.stripe_account_id,
  })

  identity_address = Stripe::File.create({
    purpose: 'identity_document',
    file: File.new(current_user.ids[2].current_path),
    }, {
    stripe_account: current_user.stripe_account_id,
  })

  person_token = Stripe::Token.create({
    person: {
    verification: {
      document: {
          front: identity_front.id,
              back: identity_verso.id,
      },
      additional_document: {
        front: identity_address.id
      }
    },
    },
  })

  Stripe::Account.update_person(
    current_user.stripe_account_id,
    current_user.person_id,
    {
      person_token: person_token
    })    
end
%>
<%#
identity_address = Stripe::File.create({
  purpose: 'identity_document',
  file: File.new(current_user.ids[2].current_path),
  }, {
  stripe_account: 'acct_1InK1r2QFklsr9vG',
})


identity_front = Stripe::File.create({
  purpose: 'identity_document',
  file: File.new(current_user.ids[0].current_path),
  }, {
  stripe_account: 'acct_1InK1r2QFklsr9vG',
})

identity_verso = Stripe::File.create({
  purpose: 'identity_document',
  file: File.new(current_user.ids[1].current_path),
  }, {
  stripe_account: 'acct_1InK1r2QFklsr9vG',
})

person_token = Stripe::Token.create({
  person: {
	verification: {
		document: {
				front: identity_front.id,
      			back: identity_verso.id,
		},
		additional_document: {
			front: identity_address.id
		}
	},
  },
})

Stripe::Account.update_person(
	'acct_1InK1r2QFklsr9vG',
	'person_4InK1r00pgBlEfDf',
	{
		person_token: person_token
	})
%>

