<title>Accueil - Rock Don't Stock</title>
<div class="container">
  <section class="home-header">
    <video autoplay muted loop style="width: 100%; height: 100%; object-fit: cover;">
      <source src="/assets/images/video.webm" type="video/webm">
    </video>
    <div class="home-header__caption">
      <h2 class="home-header__caption__title">Des sneakers d’occasion authentifiées par nos experts</h2>
      <div class="home-header__caption__descr">
        Nike, Air Jordan, Adidas et toutes les plus grandes marques.
      </div>
      <div class="home-header__caption__buttons">
        <%= button_to "Parcourir les modèles", sneakers_path, method: :get, class: "home-header__caption__browse-btn" %>
        <%= button_to "Vendre ma paire", sneakers_path, class: "home-header__caption__sell-btn" %>
      </div>
    </div>
  </section>
  <section class="home-last-sneakers">
    <div class="home-last-sneakers__title">Les dernières paires ajoutées</div>
    <div class="home-last-sneakers__block">
      <% @sneakers_last_added.each do |sneaker| %>
        <div class="sneaker-home__card" style="cursor: pointer;" onclick="window.location.href = '<%= sneaker_path(sneaker) %>'">
          <%= cl_image_tag(sneaker.photos.first&.key || Sneaker.first.photos.first.key, class: 'sneaker-home__card__photo') %>
          <%= link_to sneaker.sneaker_db.name, sneaker_path(sneaker), class: "sneaker-home__card__name" %>
          <div class="sneaker-home__card__options">
            <%= sneaker.sneaker_db.category %> - Taille <%= sneaker.size %> - Condition: <%= sneaker.condition %>/10
          </div>
          <div class="sneaker-home__card__price"><%= sneaker.price %>€</div>
        </div>
      <% end %>
    </div>
    <div class="home-last-sneakers__btn-block">
      <%= button_to "Voir toutes les paires", sneakers_path, method: :get, class: "home-last-sneakers__btn" %>
    </div>
  </section>
  <section class="home-selected-sneakers">
    <div class="home-selected-sneakers__title">Notre sélection</div>
    <div class="home-selected-sneakers__block">
      <% @sneakers_selected.each do |sneaker| %>
        <div class="sneaker-home__card" style="cursor: pointer;" onclick="window.location.href = '<%= sneaker_path(sneaker) %>'">
          <%= cl_image_tag(sneaker.photos.first&.key || Sneaker.first.photos.first.key, class: 'sneaker-home__card__photo') %>
          <%= link_to sneaker.sneaker_db.name, sneaker_path(sneaker), class: "sneaker-home__card__name" %>
          <div class="sneaker-home__card__options">
            <%= sneaker.sneaker_db.category %> - Taille <%= sneaker.size %> - Condition: <%= sneaker.condition %>/10
          </div>
          <div class="sneaker-home__card__price"><%= sneaker.price %>€</div>
        </div>
      <% end %>
    </div>
    <div class="home-selected-sneakers__btn-block">
      <%= button_to "Parcourir la marketplace", sneakers_path, method: :get, class: "home-selected-sneakers__btn" %>
    </div>
  </section>
  <section class="home-signup">
    <div class="home-signup__msg">Bénéficie des meilleures annonces avant tout le monde et reste informé de toutes les nouveautés en t’inscrivant à notre newsletter !</div>
    <div class="home-signup__form">
      <%= form_with url: newsletter_path do |f| %>
        <div style="position: relative;">
          <%= f.email_field :email, class: "form-control", placeholder: "john.doe@gmail.com" %>
          <i class="fas fa-check-circle" style="position: absolute; right: 0.5rem; top: 50%; transform: translateY(-50%)"></i>
        </div>
        <button class="home-signup__form-submit">M'inscrire</button>
      <% end %>
    </div>
  </section>
  <section class="home-auth">
    <div class="home-auth__title">L'authentification</div>
    <div class="home-auth__block">
      <div style="position: relative;">
        <%= image_tag("images/auth-paysage.png", class: "home-auth__img") %>
        <%= image_tag("images/sticker_approved.png", class: "home-auth__img-sticker") %>
      </div>
      <div class="home-auth__img-caption">
        <div class="home-auth__img-caption__title">
          100% authentiques
        </div>
        <div class="home-auth__img-caption__descr">
          Chaque paire passera entre les mains de nos experts en Legit Check afin de te garantir son authenticité.
        </div>
        <%= link_to "/authentication", class: "home-auth__img-caption__btn" do %>
          En savoir plus
          <i class="fas fa-arrow-right"></i>
        <% end %>
      </div>
    </div>
  </section>
  <section class="home-guides">
    <div class="home-guides__title">Découvrez nos guides</div>
    <div class="home-guides-block">
      <div class="home-guides__content" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false, "cellSelector": ".flickity-cell" }'>
        <div class="flickity-cell">
          <div class="home-guides__content__card">
            <%= cl_image_tag(Sneaker.first.photos.first&.key, class: "home-guides__content__card__image") %>
            <div class="home-guides__content__card__name"><%= Sneaker.first.sneaker_db.name %></div>
            <button class="home-guides__content__card__btn" data-bs-toggle="modal" data-bs-target="#modal-auth">Découvrir</button>
          </div>
        </div>
        <div class="flickity-cell">
          <div class="home-guides__content__card">
            <%= cl_image_tag(Sneaker.first.photos.first&.key, class: "home-guides__content__card__image") %>
            <div class="home-guides__content__card__name"><%= Sneaker.first.sneaker_db.name %></div>
            <button class="home-guides__content__card__btn" data-bs-toggle="modal" data-bs-target="#modal-auth">Découvrir</button>
          </div>
        </div>
        <div class="flickity-cell">
          <div class="home-guides__content__card">
            <%= cl_image_tag(Sneaker.first.photos.first&.key, class: "home-guides__content__card__image") %>
            <div class="home-guides__content__card__name"><%= Sneaker.first.sneaker_db.name %></div>
            <button class="home-guides__content__card__btn" data-bs-toggle="modal" data-bs-target="#modal-auth">Découvrir</button>
          </div>
        </div>
        <div class="flickity-cell">
          <div class="home-guides__content__card">
            <%= cl_image_tag(Sneaker.first.photos.first&.key, class: "home-guides__content__card__image") %>
            <div class="home-guides__content__card__name"><%= Sneaker.first.sneaker_db.name %></div>
            <button class="home-guides__content__card__btn" data-bs-toggle="modal" data-bs-target="#modal-auth">Découvrir</button>
          </div>
        </div>
        <div class="flickity-cell">
          <div class="home-guides__content__card">
            <%= cl_image_tag(Sneaker.first.photos.first&.key, class: "home-guides__content__card__image") %>
            <div class="home-guides__content__card__name"><%= Sneaker.first.sneaker_db.name %></div>
            <button class="home-guides__content__card__btn" data-bs-toggle="modal" data-bs-target="#modal-auth">Découvrir</button>
          </div>
        </div>
        <div class="flickity-cell">
          <div class="home-guides__content__card">
            <%= cl_image_tag(Sneaker.first.photos.first&.key, class: "home-guides__content__card__image") %>
            <div class="home-guides__content__card__name"><%= Sneaker.first.sneaker_db.name %></div>
            <button class="home-guides__content__card__btn" data-bs-toggle="modal" data-bs-target="#modal-auth">Découvrir</button>
          </div>
        </div>
      </div>
      <div class="home-guides__footer">
        Chaque guide te permet de connaitre différents points d’authentification essentiels afin de Legit Check le modèle en toute autonomie. N’hésites pas à t’en servir afin d’éviter l’achat d’un modèle suspicieux.
      </div>
    </div>
  </section>
</div>

<style>
/* offset to allow border to be seen */
.home-guides__content .flickity-viewport {
  height: 430px !important;
}
</style>