<div class="banner">
  <div class="container">
    <h1 class="home-title font-weight-bold">Faites pour <a class="white">être</a> portées,<br>rien d'autre.</h1>
    <div class="scrolling">
      <a style=" color: black;" href="#scroll"><p>Voir les annonces</p></a>
      <%= image_tag("banner/arrow.svg") %>
    </div>
  </div>
</div>

<div id="scroll" class="container">
  <h2 style="font-style: italic;">Best sellers</h2>
  <div class="sneaker-cards">
    <% SneakerDb.all.limit(10).each do |sneaker| %>
        <div class="sneaker-card">
          <%= link_to sneaker_db_path(sneaker), :style=>'color:#000000;' do %>
            <div class="sneaker-card_img">
              <%= image_tag(sneaker.img_url, style: 'width: 100%; justify-content:center;') %>
            </div>
          <% end %>
            <div class="sneaker-title"><strong><%= sneaker.name %></strong></div>
            <div class="sneaker-price">À partir de <%= sneaker.price_cents %>€</div>
            <%#= link_to "Vend ce modèle", "#", class: "btn btn-flat" %>
        </div>
    <% end %>
  </div>  
    <div class="all_sneakers"><%= link_to "Tout voir", searchs_path %></div>
</div>



<div class="container">
  <div class="article">
    <h2>Legit Check Tech</h2>
    <p id="article-text">
      Le système “Legit Check Tech” d’Entrupy pour les sneakers comprend une application et une boîte en bois sur laquelle sont installés différents iPods connectés à cette même appli et qui photographient plusieurs points caractéristiques de la chaussure. Avant de placer une<span id="dots">...</span> 
      <span id="more">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</span>
      <a href="javascript:void(0)" id="read_more_link">Lire la suite</a>
    </p>
    <div class="link-to-articles">
      <%= link_to "Derniers articles", root_path, class:"last-articles" %>
    </div>
  </div>
</div>


<div class="container">
  <div class="insta-posts-title">
    <h2>#rockdontstock</h2>
  </div>
  <div class="insta-posts">
    <div class="card-deck">
      <div class="card">
        <%= image_tag("insta/post5.jpeg", class: "card-img-top")  %> 
        <p class="card-insta-post-username card-title">
          <a href="https://www.instagram.com/kfnemo/" target="_blank">@kfnemo</a>  
          &nbsp;& 
          <a href="https://www.instagram.com/valentin.fischlmayr/" target="_blank"> @valentin.fischlmay</a>
        </p>
      </div>
      <div class="card">
        <%= image_tag("insta/post4.jpeg", class: "card-img-top")  %> 
        <p class="card-insta-post-username card-title">
          <a href="https://www.instagram.com/sly06150/" target="_blank">@sly06150</a>  
        </p>
      </div>
      <div class="card">
        <%= image_tag("insta/post3.jpeg", class: "card-img-top")  %> 
        <p class="card-insta-post-username card-title">
          <a href="https://www.instagram.com/cozykozo/" target="_blank">@cozykozo</a>  
            &nbsp;&&nbsp;
          <a href="https://www.instagram.com/olyn_lyn/" target="_blank">@olyn_lyn</a>
        </p>
      </div>
      <div class="card">
        <%= image_tag("insta/post2.jpeg", class: "card-img-top")  %> 
        <p class="card-insta-post-username card-title">
          <a href="https://www.instagram.com/thenewerarog/" target="_blank">@thenewerarog</a>  
        </p>
      </div>
      <div class="card">
        <%= image_tag("insta/post1.jpeg", class: "card-img-top")  %> 
        <p class="card-insta-post-username card-title">
          <a href="https://www.instagram.com/karl_bukowski_/" target="_blank">@karl_bukowski_</a>  
        </p>
      </div>
    </div>  
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("insta/post5.jpeg", class: "d-block w-100")  %> 
        <div class="insta-post-username carousel-caption ">
          <p>
            <a href="https://www.instagram.com/kfnemo/" target="_blank">@kfnemo</a>  
          & 
          <a href="https://www.instagram.com/valentin.fischlmayr/" target="_blank"> @valentin.fischlmay</a>
        </p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("insta/post4.jpeg", class: "d-block w-100")  %> 
        <div class="insta-post-username carousel-caption">
          <p><a href="https://www.instagram.com/sly06150/" target="_blank">@sly06150</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("insta/post3.jpeg", class: "d-block w-100")  %> 
        <div class="insta-post-username carousel-caption">
          <p>
            <a href="https://www.instagram.com/cozykozo/" target="_blank">@cozykozo</a>  
            & 
            <a href="https://www.instagram.com/olyn_lyn/" target="_blank">@olyn_lyn</a>
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("insta/post2.jpeg", class: "d-block w-100")  %> 
        <div class="insta-post-username carousel-caption">
          <p><a href="https://www.instagram.com/thenewerarog/" target="_blank">@thenewerarog</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("insta/post1.jpeg", class: "d-block w-100")  %> 
        <div class="insta-post-username carousel-caption">
          <p><a href="https://www.instagram.com/karl_bukowski_/" target="_blank">@karl_bukowski_</a></p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Précédent</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Suivant</span>
    </a>
  </div>
</div>



<%= javascript_pack_tag "read_more" %>






<%#= 
transfer = Stripe::Transfer.create({
  amount: 1000 , # sneaker.price - 490 (livraison) - (12 % du prix de la paire / 2) (service)
  currency: "eur",
  destination: "acct_1Iuvaq2RPNtnbUTH",
}) %>



<%#
p payout = Stripe::Payout.create({
      amount: 100,
      currency: 'eur',
      destination: 'ba_1Inmn42QFklsr9vGI323QckG',#@account.external_accounts.data[0].id
      method: "standard",
      }, {
        stripe_account: 'acct_1InK1r2QFklsr9vG',
      }) 
%>


<%# 
if current_user
  if !current_user.token_account? && current_user.date_of_birth? && current_user.line1? && current_user.city? && current_user.postal_code? && current_user.phone? 
    create_connect_account
    p "LE USER A REMPLI TOUTE SES INFOS DONC ON LUI CRÉÉ UN COMPTE CONNECT"
  end 
  #if current_user.ids[0] && current_user.ids[1] && current_user.ids[2]
    #send_identity_document
  #end 
end




def send_identity_document
  identity_front = Stripe::File.create({
    purpose: 'identity_document',
    file: File.new(current_user.ids[0].current_path),
    }, {
    stripe_account: current_user.stripe_account_id,
  })

  identity_verso = Stripe::File.create({
    purpose: 'identity_document',
    file: File.new(current_user.ids[1].current_path),
    }, {
    stripe_account: current_user.stripe_account_id,
  })

  identity_address = Stripe::File.create({
    purpose: 'identity_document',
    file: File.new(current_user.ids[2].current_path),
    }, {
    stripe_account: current_user.stripe_account_id,
  })

  person_token = Stripe::Token.create({
    person: {
    verification: {
      document: {
          front: identity_front.id,
              back: identity_verso.id,
      },
      additional_document: {
        front: identity_address.id
      }
    },
    },
  })

  Stripe::Account.update_person(
    current_user.stripe_account_id,
    current_user.person_id,
    {
      person_token: person_token
    })    
end
%>
<%#
identity_address = Stripe::File.create({
  purpose: 'identity_document',
  file: File.new(current_user.ids[2].current_path),
  }, {
  stripe_account: 'acct_1InK1r2QFklsr9vG',
})


identity_front = Stripe::File.create({
  purpose: 'identity_document',
  file: File.new(current_user.ids[0].current_path),
  }, {
  stripe_account: 'acct_1InK1r2QFklsr9vG',
})

identity_verso = Stripe::File.create({
  purpose: 'identity_document',
  file: File.new(current_user.ids[1].current_path),
  }, {
  stripe_account: 'acct_1InK1r2QFklsr9vG',
})

person_token = Stripe::Token.create({
  person: {
	verification: {
		document: {
				front: identity_front.id,
      			back: identity_verso.id,
		},
		additional_document: {
			front: identity_address.id
		}
	},
  },
})

Stripe::Account.update_person(
	'acct_1InK1r2QFklsr9vG',
	'person_4InK1r00pgBlEfDf',
	{
		person_token: person_token
	})
%>

