<div class="auth-modal__subtitle">Service premium</div>
<h2>Authentification</h2>
<ul class="auth-modal__checklist">
  <li>Résultats en 24h</li>
  <li>Tout modèle</li>
  <li>Expertise complète</li>
</ul>
<div class="auth-modal__form">
  <%= form_for root_path do |f| %>
    <div class="form-row">
      <div class="form-group col">
        <%= f.text_field :last_name, placeholder: "Nom" %>
      </div>
      <div class="form-group col">
        <%= f.text_field :first_name, placeholder: "Prénom" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.text_field :email, placeholder: "Email" %>
    </div>
    <div class="form-row">
      <div class="form-group col-4">
        <%= f.number_field :age, placeholder: "Age" %>
      </div>
      <div class="form-group col">
        <%= f.text_field :city, placeholder: "Ville" %>
      </div>
    </div>
    <div class="auth-modal__form__bottom-infos">
      <div>
        TOTAL: 4.90€
      </div>
      <div>
        Contacter le support
      </div>
    </div>
    <button type="submit" class="auth-modal__form__submit">Acheter</button>
  <% end %>
</div>