<div class="auth-modal__subtitle">Service premium</div>
<h2 class="auth-modal__h2">Authentification</h2>
<ul class="auth-modal__checklist">
  <li><i class="fas fa-check-circle"></i> Résultats en 24h</li>
  <li><i class="fas fa-check-circle"></i> Tout modèle</li>
  <li><i class="fas fa-check-circle"></i> Expertise complète</li>
</ul>
<div class="auth-modal__form">
  <%= form_for :user, html: { id: 'auth-modal__form' } do |f| %>
    <div class="form-group">
      <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="5" data-dropzone-max-files="10">
      <%= f.file_field :photos, multiple: true, direct_upload: true, data: { "dropzone-target": "input" } %>
      <div class="dropzone-msg dz-message needsclick text-gray-600">
        <h4 class="dropzone-msg-title">Glisser ou rechercher des photos</h4>
        <span class="dropzone-msg-desc text-sm">Types de fichiers autorisés : jpg, png.</span>
        </div>
      </div>
    </div>
    <div class="row g-2">
      <div class="col">
        <%= f.text_field :last_name, class: "form-control", placeholder: "Nom", required: true %>
      </div>
      <div class="col">
        <%= f.text_field :first_name, class: "form-control", placeholder: "Prénom", required: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true %>
    </div>
    <div class="row g-2">
      <div class="input-group col">
        <span class="input-group-text">Né(e) le</span>
        <%= f.date_field :date_of_birth, class: "form-control", required: true %>
      </div>
      <div class="col">
        <%= f.text_field :city, class: "form-control", placeholder: "Ville", required: true %>
      </div>
    </div>
    <div class="form-check mb-3">
      <%= f.check_box :newsletter, { class: "form-check-input", required: true }, 1, nil %>
      <%= f.label "", class: "form-check-label", style: "font-size: 0.75rem" do %>
        En envoyant ma demande j'accepte de recevoir les dernières nouveautés de Rock Don't Stock par email.
      <% end %>
    </div>
    <div class="auth-modal__form__bottom-infos">
      <div>
        TOTAL: 4.90€
      </div>
      <%= link_to "Contacter le support", new_contact_path %>
    </div>
    <div id="paypal-btn"></div>
  <% end %>
</div>
<div class="loader-wrapper" style="display: none; margin: 100px auto; width: 50%; text-align: center;">
	<div class="loader"></div>
	<div>Merci de bien vouloir patienter...</div>
</div>


<script>
  const loader = document.querySelector('.loader-wrapper')
  const formBlock = document.querySelector('.auth-modal__form')
	const form = document.getElementById('auth-modal__form');

  function displaySpinner() {
    formBlock.style.display = "none"
    loader.style.display = ""
  }

  function hideSpinner() {
    formBlock.style.display = "block"
    loader.style.display = "none"
  }

  paypal.Buttons({
    style: {
      layout:  'horizontal',
      color:   'black',
      label:   'paypal',
      tagline: 'false'
    },
    // Sets up the transaction when a payment button is clicked
    createOrder: function(data, actions) {
			if (!form.checkValidity()) return

      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '4.90' // Can reference variables or functions. Example: `value: document.getElementById('...').value`
          }
        }]
      });
    },
    // Finalize the transaction after payer approval
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(orderData) {
				displaySpinner();

				let formData = new FormData(form);

				return Rails.ajax({
					type: "POST",
					url: "<%= authentications_url %>",
					data: formData,
					success: (resp) => {
						actions.redirect(window.location.origin + `/authentications/${resp.lcId}/success`);
					},
					error: () => alert("Une erreur est survenue.")
				})
      });
    }
  }).render('#paypal-btn');

</script>