<div class="auth-modal__subtitle">Le guide gratuit</div>
<h2 class="auth-modal__guide-name"></h2>
<div class="auth-modal__form">
  <%= form_with url: guide_path do |f| %>
    <div class="row g-2">
      <div class="col">
        <%= f.text_field :last_name, class: "form-control", placeholder: "Nom" %>
      </div>
      <div class="col">
        <%= f.text_field :first_name, class: "form-control", placeholder: "Prénom" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
    </div>
    <div class="row g-2">
      <div class="col-4">
        <%= f.number_field :age, class: "form-control", placeholder: "Age" %>
      </div>
      <div class="col">
        <%= f.text_field :city, class: "form-control", placeholder: "Ville" %>
      </div>
    </div>
    <button type="submit" class="auth-modal__form__submit">Recevoir mon guide</button>
  <% end %>
</div>