<%= link_to image_tag("arrow_back.svg", class: "arrow-back"), :back %>
<div class="container">
  <h2 class="title-login text-center">Se connecter</h2>
  <div class="row justify-content-center align-items-center">
    <div class="input-signin col-md-5">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    label: "Mot de passe",
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        
        <div class="forgot-password">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Mot de passe oublié ?", new_password_path(resource_name) %><br />
          <% end %>
        </div>
        <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <%= f.button :submit, "Connexion", id: 'connect-btn', class: 'text-center btn btn-dark' %>
      <% end %>
    </div>
    <div class="col-md-5 omniauth text-left">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  
  <div class="signup_button">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Créer un compte", new_registration_path(resource_name) %><br />
    <% end %>
  </div>


</div>

