<title>Se connecter - Rock Don't Stock</title>

<div class="container">
  <%= link_to :back, class: "back-button" do %>
    <h3><i class="fas fa-arrow-left ms-0"></i> Retour</h3>
  <% end %>
  <div class="signin d-flex flex-column align-items-center" style="gap: 3rem;">
    <h2 class="signin__title">Connexion</h2>
    <div class="signin__content">
      <div class="signin__form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label "Email", class: "form-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: 'Email' %>
          </div>
          <%= f.label "Mot de passe", class: "form-label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: 'Mot de passe' %>
          <% if devise_mapping.recoverable? %>
            <%= link_to "Mot de passe oublié ?", new_password_path(resource_name), class: "float-right" %>
          <% end %>
          <%= f.submit "Se connecter", class: "signin__submit-btn" %>
        <% end %>
      </div>
      <div class="signin__registration d-flex flex-column justify-content-center align-items-center" style="gap: 2rem">
        <div>
          Pas encore de compte <br/> Rock Don't Stock ?
        </div>
        <%= link_to "Créer un compte", new_registration_path(resource_name), class: "signin__registration-btn" %>
      </div>
    </div>
  </div>
</div>