<div class="container sneaker-payment">
  <h1 class="sneaker-payment-title">Récapitulatif de la commande</h1>
  <div class="sneaker-payment-new">
    <div class="sneaker-payment-photos">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag(@order.sneaker.photos[0].url, class: 'sneaker-show-photos') %>
          </div>
          <div class="carousel-item ">
            <%= image_tag(@order.sneaker.photos[1].url, class: 'sneaker-show-photos') %>
          </div>
          <div class="carousel-item ">
            <%= image_tag(@order.sneaker.photos[2].url, class: 'sneaker-show-photos') %>
          </div>
          <div class="carousel-item ">
            <%= image_tag(@order.sneaker.photos[3].url, class: 'sneaker-show-photos') %>
          </div>
          <div class="carousel-item ">
            <%= image_tag(@order.sneaker.photos[4].url, class: 'sneaker-show-photos') %>
          </div>
          <div class="carousel-item ">
            <%= image_tag(@order.sneaker.photos[5].url, class: 'sneaker-show-photos') %>
          </div>
          <% unless @order.sneaker.photos[6].nil? %>
            <div class="carousel-item ">
              <%= image_tag(@order.sneaker.photos[6].url, class: 'sneaker-show-photos') %>
            </div>
          <% end %>
          <% unless @order.sneaker.photos[7].nil? %>
            <div class="carousel-item ">
              <%= image_tag(@order.sneaker.photos[7].url, class: 'sneaker-show-photos') %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon sneaker-show-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon sneaker-show-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="col sneaker-payment-infos">
        <p><strong><%= @order.sneaker.sneaker_db.name %></strong></p> 
        <p>Taille : <%= @order.sneaker.size %> US</p>
        <p>Condition : <%= @order.sneaker.condition %> / 10</p>
        <p>Prix : <strong><%= humanized_money_with_symbol @order.sneaker.price %></strong></p>
      </div>
    </div>
  
    <div class="payment-input-info">
      <div class="circles">
        <!-- <img class="black-circle-logo" src="/assets/payment/black_circle.svg"> -->
        
        <p class="circle-step"><object data="/assets/payment/black_circle.svg" class="black-circle-logo"></object>Livraison</p>
        <p class="circle-step"><object data="/assets/payment/white_circle.svg" class="white-circle-logo"></object>Récapitulatif</p>
        <p class="circle-step"><object data="/assets/payment/white_circle.svg" class="white-circle-logo"></object>Paiement</p>

       <!-- <p class="circle-step"><%#= image_tag("payment/black_circle.svg", class: 'black-circle-logo') %><br>Livraison</p> -->
       <!-- <p class="circle-step"><%#= image_tag("payment/white_circle.svg", class: 'white-circle-logo') %><br>Récapitulatif</p> -->
       <!-- <p class="circle-step"><%#= image_tag("payment/white_circle.svg", class: 'white-circle-logo') %><br>Paiement</p> -->
      </div>
      <div class="resume-payment-infos">
        <p><strong>Livraison</strong></p>
        <div class="resume-delivery-infos"></div>
        <br>

        <p class="resume-prices">Prix de l'article : <span class="payment-article-price"><%= @order.sneaker.price %>€</span></p>
        <p class="resume-prices">Livraison : <span class="payment-delivery-price"></span></p>
        <p class="resume-prices">Authentification : <span class="payment-service-price-message">
          <span class="payment-service-price"><%= (@order.service / 2) %>€</span></span>
        </p>
        <br>
        <%# total =  (@order.price + @order.shipping_cost + (@order.service / 2)) %>
        <strong><p class="resume-prices">TOTAL <span class="payment-total-price"></span></p></strong>
      
        <button disabled type="button" id="pay_button" class="pay_button btn btn-dark">Paiement</button>
        <div style="display:none" id="payBtnWaitMessage">
          <i class='fas fa-spinner fa-spin'></i> Chargement <span id="waitTimer10s"></span> sec ...
        </div>
      </div>
      <div class="payment-new-delivery-step">
        <h5>Choix de l'expéditeur</h5>
        <hr>
        <div class="payment-delivery">
          <div>
            <p class="delivery-brand mondial-relay">
              <span class="delivery-name-mondial-relay">Mondial Relay</span>
              <span id="delivery_mondial_relay_price"><%= @mondial_relay_price %>€</span>
            </p>
            <p class="delivery-brand colissimo">
              <span class="delivery-name-colissimo">Colissimo</span>
              <span id="delivery_colissimo_price"><%= @colissimo_price %>€</span>
            </p>
          </div>
          <h5>Informations</h5>
          <hr>
          

            <div class="adress_form" data-controller="address" >
            <%= simple_form_for(current_user, html: {method: :patch, id: 'adress_form_payment_new' },
            remote: true, data: {target: "address.form", id: current_user.id }) do |f| %>
              <!-- <input type="hidden" name="stripe-token-account" id="stripe-token-account"> -->
              <!-- <input type="hidden" name="stripe-token-person" id="stripe-token-person"> -->
              <%= f.input :line1, label: 'Mon adresse', input_html: { data: {target: 'address.line1'} }, required: true  %>
              <%= f.input :line1, as: :hidden, input_html: { id: "hide_user_line1" } %>
              <%= f.input :city, input_html: { data: { target: 'address.city'} },required: true, as: :hidden %>
              <%= f.input :postal_code, input_html: { data: { target: 'address.postal_code'} }, required: true, as: :hidden %>
              <%= f.input :phone, label: "Numéro de téléphone", input: false  %>
              <div class="form-phone-num">
                <p class="france-phone">+33</p>
                <%= f.input :phone, label: false, as: :tel, required: true, placeholder: "0606060606" %>
              </div>
              <%= f.error :phone, :id => "edit_user_phone_error" %>
              <%= f.button :submit, "Confirmer mes informations", data: { action: "click->address#refresh" }, style: 'color:white;', class: 'btn btn-dark payment-address-btn-colissimo' %>
              <%= f.button :submit, "Confirmer mes informations", data: { action: "click->address#refresh" }, style: 'color:white;', class: 'btn btn-dark payment-address-btn-mondial-relay' %>
            <% end %>
            <div  class="payment-display-address" data-target="address.display_address"></div>
            <div data-target="address.next_btn"></div>
          </div>
          
          <div class="point-picker"> 
            <button type="button" class="point-picker-btn btn btn-dark" id="select_point_picker">Choix du point relais</button>
            <div class="point-picker-result"></div>
          </div>
        </div>
        
        <%= simple_form_for(current_user, remote: true, url: user_path, html: {class: 'save-user-picker-data'}) do |f| %>
          <%= f.input :picker_data, as: :hidden, :input_html => { :value => "none"} %>
        <% end %>
        
        <form action="/orders" method="POST" id='recap_form'>
          <input id="recap_form_delivery_price" type="hidden" name="mondial-relay-price" value="<%= @mondial_relay_price %>">
          <button type="submit"  id="recap_form_btn" class="recap-payment-mondial-relay-btn btn btn-dark">Récapitulatif</button>

        </form>

      <!-- </div> -->
        
      
      </div>    
    </div>
  </div>
</div>
<div id="ajax_request" type="hidden">
  <div id="ajax_request_content"></div>
</div>



<script type="text/javascript">
  document.addEventListener('turbolinks:load', () => {
    if (document.querySelector('.payment-address-btn-mondial-relay')) {
      let user_phone = document.getElementById('user_phone');
      document.querySelector('.payment-address-btn-mondial-relay').addEventListener('click', (event) => {
        if (user_phone.value.length != 9 && user_phone.value.length != 10) {
          user_phone.classList.add('is-invalid');
          document.querySelector('#edit_user_phone_error').innerHTML = "<small>Numéro de téléphone invalide</small>";
        } else {
          user_phone.classList.remove('is-invalid');
          user_phone.classList.add('is-valid');
          document.querySelector('#edit_user_phone_error').innerHTML = "";
        }
      })
    }
    if (document.querySelector('.payment-address-btn-colissimo')) {
      document.querySelector('.payment-address-btn-colissimo').addEventListener('click', (event) => {
        if (user_phone.value.length != 9 && user_phone.value.length != 10) {
          user_phone.classList.add('is-invalid');
          document.querySelector('#edit_user_phone_error').innerHTML = "<small>Numéro de téléphone invalide</small>";
        } else {
          user_phone.classList.remove('is-invalid');
          user_phone.classList.add('is-valid');
          document.querySelector('#edit_user_phone_error').innerHTML = "";
        }
      })
    }
  });
</script>

<script type="text/javascript">
  document.addEventListener('turbolinks:load', () => {
    const paymentButton = document.getElementById('pay_button');
    if (paymentButton) {
      paymentButton.addEventListener('click', () => {
        const stripe = Stripe('<%= ENV['STRIPE_PUBLIC_TEST'] %>');
        stripe.redirectToCheckout({
          sessionId: document.getElementById('checkout_session_id').textContent
        });
      });
    }
  });
</script>


<script type="text/javascript">
  document.addEventListener('turbolinks:load', () => {
    if (document.querySelector('.mondial-relay')) {
      document.querySelector('.mondial-relay').addEventListener('click', (event) => {
        event.preventDefault();
        document.getElementById('recap_form_btn').setAttribute("class", "recap-payment-mondial-relay-btn btn btn-dark");
        document.getElementById('recap_form_delivery_price').setAttribute("name", "mondial-relay-price");
        document.getElementById('recap_form_delivery_price')
        .setAttribute("value", document.getElementById('delivery_mondial_relay_price').textContent);
      });
    }
    if (document.querySelector('.colissimo')) {
      document.querySelector('.colissimo').addEventListener('click', (event) => {
        event.preventDefault();
        document.getElementById('recap_form_btn').setAttribute("class", "recap-payment-colissimo-btn btn btn-dark");
        document.getElementById('recap_form_delivery_price').setAttribute("name", "colissimo-price");
        document.getElementById('recap_form_delivery_price')
        .setAttribute("value", document.getElementById('delivery_colissimo_price').textContent);
      });
    };
  });

</script>

<!-- <script type="text/javascript">
  document.addEventListener('turbolinks:load', () => {
    const adressFormPaymentNewForm = document.querySelector('#adress_form_payment_new');
    if (adressFormPaymentNewForm) {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLIC'] %>');
      document.querySelector('.payment-address-btn-mondial-relay').addEventListener('click', editUserPaymentForm)
      async function editUserPaymentForm(event) {
        event.preventDefault();
        let hide_user_line1 = document.querySelector('#hide_user_line1').value;
        let user_city = document.querySelector('#user_city').value;
        let user_postal_code = document.querySelector('#user_postal_code').value;

        const accountResult = await stripe.createToken('account', {
          business_type: 'individual',
          individual: {
            address: {
              line1: hide_user_line1,
              city: user_city,
              postal_code: user_postal_code,
            },
          },
          tos_shown_and_accepted: true,
        });
        const personResult = await stripe.createToken('person', {
          person: {
            address: {
              line1: hide_user_line1,
              city: user_city,
              postal_code: user_postal_code,
            },
          },
        });
        if (accountResult.token && personResult.token) {
          document.querySelector('#stripe-token-account').value = accountResult.token.id;
          document.querySelector('#stripe-token-person').value = personResult.token.id;
          adressFormPaymentNewForm.submit();
        };
      };
    };
  });
</script> -->



<script type="text/javascript">
  document.addEventListener('turbolinks:load', () => {
    if (document.querySelector('#recap_form_btn')) {
      document.querySelector('#recap_form_btn').addEventListener('click', (event) => {
        document.querySelector('#recap_form').submit();
      })
    }
  });
</script>


<script type="text/javascript">
  document.addEventListener('turbolinks:load', () => {
  function launchTimerToWaitStripeSession() {
    let i = 7;
    document.getElementById('payBtnWaitMessage').style.display = "block";
    document.getElementById('waitTimer10s').textContent = i;
    i--;
    setInterval( function () {
      if (i >= 0) {
        document.getElementById('waitTimer10s').textContent = i;
        i--;
      }
    },1000);
    setTimeout(function() {
      fetch("/orders/<%= @order.id  %>")
        .then(response => response.text())
        .then(data => document.getElementById("ajax_request_content").outerHTML = data);
        setTimeout(function() {
          document.getElementById('pay_button').removeAttribute("disabled");
          document.getElementById('payBtnWaitMessage').style.display = "none";
        }, 2000);
    }, 5000);

  }
  if (document.querySelector('#recap_form_btn')) {
    document.querySelector('#recap_form_btn').addEventListener('click', (event) => {
      const recapPaymentMondialRelayBtn = document.querySelector('.recap-payment-mondial-relay-btn');
      const recapPaymentColissimoBtn = document.querySelector('.recap-payment-colissimo-btn');
      console.log(recapPaymentMondialRelayBtn);
      console.log(recapPaymentColissimoBtn);
      if (recapPaymentMondialRelayBtn) {
        console.log('On mondial relay !');
        document.querySelector('.black-circle-logo').data = "/assets/payment/white_circle.svg";
        document.querySelectorAll(".white-circle-logo")[0].data = "/assets/payment/black_circle.svg";
        document.querySelector('.payment-new-delivery-step').style.display = "none";
        document.querySelector('.resume-payment-infos').style.display = "block";
        launchTimerToWaitStripeSession()
        document.querySelector('.resume-delivery-infos').appendChild(document.querySelector('.payment-display-address').children[1]);
        if (document.querySelector('.point-picker-result').children[1]) {
          document.querySelector('.resume-delivery-infos').appendChild(document.querySelector('.point-picker-result').children[1]);
        }
        document.querySelector('.payment-delivery-price').textContent = "<%= @mondial_relay_price %>€"
        let mondial_relay_price = "<%= @mondial_relay_price %>".replace(',', '.');
        let mondial_relay_order_price = "<%= @order.sneaker.price %>".replace(',', '.');
        let mondial_relay_service_price =  "<%= @order.service / 2 %>".replace(',', '.');

        
        let totalMondialRelay = parseFloat(mondial_relay_price)
                              + parseFloat(mondial_relay_order_price)
                              + parseFloat(mondial_relay_service_price)
        console.log(totalMondialRelay.toFixed(2))
        document.querySelector('.payment-total-price').textContent = totalMondialRelay.toFixed(2);
      }
      if (recapPaymentColissimoBtn) {
        console.log('On colissimo !');
        document.querySelector('.black-circle-logo').data = "/assets/payment/white_circle.svg";
        document.querySelectorAll(".white-circle-logo")[0].data = "/assets/payment/black_circle.svg";
        document.querySelector('.payment-new-delivery-step').style.display = "none";
        document.querySelector('.resume-payment-infos').style.display = "block";
        launchTimerToWaitStripeSession()
        document.querySelector('.resume-delivery-infos').appendChild(document.querySelector('.payment-display-address').children[1]);
        document.querySelector('.payment-delivery-price').textContent = "<%= @colissimo_price %>€"
        
        let colissimo_price = "<%= @colissimo_price %>".replace(',', '.');
        let colissimo_order_price = "<%= @order.sneaker.price %>".replace(',', '.');
        let colissimo_service_price = "<%= @order.service / 2 %>".replace(',', '.');

        let totalColissimo = parseFloat(colissimo_price)
                            + parseFloat(colissimo_order_price)
                            + parseFloat(colissimo_service_price)

        console.log(totalColissimo.toFixed(2))
        document.querySelector('.payment-total-price').textContent = totalColissimo.toFixed(2);
        
      }
    });
  };
});
</script>

<style type="text/css">
  #edit_user_phone_error {
    color:red;
  }
  .tel.optional  {
    margin-bottom: 0.3rem;
  }
  .form-phone-num {
    display: grid;
    grid-template-columns: [first] 40px [line2] 100%;
    margin-right: 40px;
    align-items: baseline;
  }
  #ajax_request {
    display: none;
  }
  
  .payment-address-btn-colissimo, .payment-address-btn-mondial-relay {
    display: none;
  }

  .delivery-brand.colissimo, .delivery-brand.mondial-relay {
    cursor: pointer;
  }
  .resume-prices {
    display: flex;
    justify-content: space-between;
  }
  .point-picker-btn, .address-btn, .recap-payment-mondial-relay-btn, .recap-payment-colissimo-btn, .pay_button {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .adress_form, .point-picker, .recap-payment-mondial-relay-btn, .recap-payment-colissimo-btn, .resume-payment-infos {
    display: none;
  }
  .toggle-hidden {
    display: block;
  }
  .delivery-cliked {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 0 5px;
  }

  .delivery-brand {
    display: flex;
    justify-content: space-between;
  }
  .circles {
    display: flex;
    justify-content: space-evenly;
  }
  .circle-step {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .sneaker-payment-title {
    text-align:center;
  }
  .sneaker-payment-infos {
    padding: 20px 0;
    text-align: center;
  }
  .sneaker-payment-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sneaker-payment {
    margin: 50px auto 20px auto;
  }
</style>



<script type="text/javascript" src="https://embed.sendcloud.sc/spp/1.0.0/api.min.js"></script>



<%= javascript_pack_tag "algolia_autocomplete_address" %>


