<div class="container">
  <div class="row py-4">
    <div class="col-md-3"><%= image_tag @order.sneaker.photos[0].url, width: '100%'%></div> 
    <div class="col">
      <h1>Récapitulatif de la commande</h1>
      <p>
        Achat de <strong><%= @order.sneaker.name %></strong> pour <strong><%= humanized_money_with_symbol @order.price %></strong>
      </p> 
      
      <div class="adress_form" data-controller="address">
        <%= simple_form_for(current_user, remote: true, data: {target: "address.form", id: current_user.id }) do |f| %>
          <%= f.input :line1, label: 'Mon adresse', input_html: { data: {target: 'address.line1'} }, required: true  %>
          <%= f.input :city, label: 'Ville', input_html: { data: { target: 'address.city'} },required: true %>
          <%= f.input :postal_code, label: 'Code Postal', input_html: { data: { target: 'address.postal_code'} }, required: true %>
          <%= f.button :submit, "Confirmer mes informations", data: { action: "click->address#refresh" } %>
        <% end %>
        <div data-target="address.display_address"></div>
        <div data-target="address.picker_button"></div>
      </div>


      <%# if current_user.picker_data? &&   current_user.picker_data.class == Hash%>
        <!-- <button type="button" class="btn btn-primary" id="select_point_picker"> -->
          <!-- Modifier son point relais -->
        <!-- </button> -->
      <%# end %>
      <%# if current_user.line1? && current_user.city? && current_user.postal_code? %>
        <!-- <button type="button" class="btn btn-primary" id="select_point_picker"> -->
          <%#= current_user.picker_data? ? "Modifier son point relais" : "Choixx du point relais" %>
        <!-- </button> -->

      <%# end %>
      
      <%= simple_form_for(current_user, remote: true) do |f| %>
        <%= f.input :picker_data, as: :hidden, :input_html => { :value => "none"} %>
      <% end %>

      <div id="result"></div>

      <div id="current_user_result">
        <% if current_user.picker_data.class == Hash %>
          <p>
            Votre point relais : 
            <%= current_user.picker_data['name'] %> - <%= current_user.picker_data['house_number'] %> <%= current_user.picker_data['street'] %>, <%= current_user.picker_data['postal_code'] %> <%= current_user.picker_data['city'] %>
          </p>
           <p>
            <strong>Résumé de la commande</strong><br>
            Commande : <%= @order.price %> €<br>
            Frais de port : <%= @order.shipping_cost %> € (Livraison en 3 jours ouvrés)<br>
            Service : <%= @order.service / 2 %> €<br>
            -----------------------<br>
            <% total =  (@order.price + @order.shipping_cost + (@order.service / 2)) %>
            <strong>Total : <%= total %> € </strong>
          </p>
        <% end %>
      </div>
      <br>  

      <div class="pay_button">
        <button id="pay_js" class="btn btn-primary" style="display:none;">Payer</button>
        <% if current_user.picker_data? %>
          <button id="pay_rails" class="btn btn-primary">Payer</button>
        <% end %>
      </div>

            
    </div>
  </div>
</div>


<script type="text/javascript">
  const paymentButton = document.querySelector('.pay_button');
  if (paymentButton != undefined)
  {
    paymentButton.addEventListener('click', () => {
      var stripe = Stripe('<%= ENV['STRIPE_PUBLIC_TEST'] %>', {
      });
      stripe.redirectToCheckout({
        sessionId: '<%= @order.checkout_session_id  %>'
      });
    });
  }
</script>

<script type="text/javascript" src="https://embed.sendcloud.sc/spp/1.0.0/api.min.js"></script>

<%= javascript_pack_tag "point_picker" %>



