<div class="container sneaker-payment">
  <h1 class="sneaker-payment-title">Récapitulatif de la commande</h1>
  <div class="sneaker-payment-new">
    <div class="sneaker-payment-photos">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag(@order.sneaker.photos[0].url, class: 'sneaker-show-photos') %>
          </div>
          <div class="carousel-item ">
            <%= image_tag(@order.sneaker.photos[1].url, class: 'sneaker-show-photos') %>
          </div>
          <div class="carousel-item ">
            <%= image_tag(@order.sneaker.photos[2].url, class: 'sneaker-show-photos') %>
          </div>
          <div class="carousel-item ">
            <%= image_tag(@order.sneaker.photos[3].url, class: 'sneaker-show-photos') %>
          </div>
          <div class="carousel-item ">
            <%= image_tag(@order.sneaker.photos[4].url, class: 'sneaker-show-photos') %>
          </div>
          <div class="carousel-item ">
            <%= image_tag(@order.sneaker.photos[5].url, class: 'sneaker-show-photos') %>
          </div>
          <% unless @order.sneaker.photos[6].nil? %>
            <div class="carousel-item ">
              <%= image_tag(@order.sneaker.photos[6].url, class: 'sneaker-show-photos') %>
            </div>
          <% end %>
          <% unless @order.sneaker.photos[7].nil? %>
            <div class="carousel-item ">
              <%= image_tag(@order.sneaker.photos[7].url, class: 'sneaker-show-photos') %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon sneaker-show-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon sneaker-show-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="col sneaker-payment-infos">
        <p><strong><%= @order.sneaker.sneaker_db.name %></strong></p> 
        <p>Taille : <%= @order.sneaker.size %> US</p>
        <p>Condition : <%= @order.sneaker.condition %> / 10</p>
        <p>Prix : <strong><%= humanized_money_with_symbol @order.price %></strong></p>
      </div>
    </div>
  

    <div class="payment-input-info">
      <div class="circles">
       <p class="circle-step"><%= image_tag("payment/black_circle.svg", class: 'black-circle-logo') %><br>Livraison</p>
       <p class="circle-step"><%= image_tag("payment/white_circle.svg", class: 'white-circle-logo') %><br>Récapitulatif</p>
       <p class="circle-step"><%= image_tag("payment/white_circle.svg", class: 'white-circle-logo') %><br>Paiement</p>
      </div>
      <div class="resume-payment-infos">
        <p><strong>Livraison</strong></p>
        <div class="resume-delivery-infos"></div>
        <br>

        <p class="resume-prices">Prix de l'article : <span class="payment-article-price"><%= @order.price %>€</span></p>
        <p class="resume-prices">Livraison : <span class="payment-delivery-price"></span></p>
        <p class="resume-prices">Authentification : <span class="payment-service-price"><%= (@order.service / 2) %>€</span></p>
        <br>
        <%# total =  (@order.price + @order.shipping_cost + (@order.service / 2)) %>
        <strong><p class="resume-prices">TOTAL <span class="payment-total-price"></span></p></strong>
      
        <button type="button" class="pay_button btn btn-dark">Paiement</button>
      
      </div>
      <div class="payment-new-delivery-step">
        <h5>Choix de l'expéditeur</h5>
        <hr>
        <div class="payment-delivery">
          <div>
            <p class="delivery-brand mondial-relay">
              <span class="delivery-name-mondial-relay">Mondial Relay</span>
              <span><%= @mondial_relay_price %>€</span>
            </p>
            <p class="delivery-brand colissimo">
              <span class="delivery-name-colissimo">Colissimo</span>
              <span><%= @colissimo_price %>€</span>
            </p>
            <!-- <p class="delivery-brand chronopost"><span class="delivery-name-chronopost">Chronopost</span>
              <span><%= @chronopost_price %>€</span></p> -->
          </div>
          <h5>Choix du point relais</h5>
          <hr>

          <div class="adress_form" data-controller="address">
            <%= simple_form_for(current_user, html: {method: :PATCH }, remote: true, data: {target: "address.form", id: current_user.id }, id: 'adress-form') do |f| %>
              <%= f.input :line1, label: 'Mon adresse', input_html: { data: {target: 'address.line1'} }, required: true  %>
              <%= f.input :city, input_html: { data: { target: 'address.city'} },required: true, as: :hidden %>
              <%= f.input :postal_code, input_html: { data: { target: 'address.postal_code'} }, required: true, as: :hidden %>
              
              <%= f.button :submit, "Confirmer mes informations", data: { action: "click->address#refresh" }, style: 'color:white;', class: 'btn btn-dark payment-address-btn-colissimo', name: "colissimo-price" %>
              <%= f.button :submit, "Confirmer mes informations", data: { action: "click->address#refresh" }, style: 'color:white;',  class: 'btn btn-dark payment-address-btn-mondial-relay' %>
            
            <% end %>
            <div  class="payment-display-address" data-target="address.display_address"></div>
            <div data-target="address.next_btn"></div>
          </div>
          
          <div class="point-picker"> 
            <button type="button" class="point-picker-btn btn btn-dark" id="select_point_picker">Choix du point relais</button>
            <div class="point-picker-result"></div>
          </div>
        </div>
      <%= simple_form_for(current_user, remote: true, url: user_path) do |f| %>
        <%= f.input :picker_data, as: :hidden, :input_html => { :value => "none"} %>
      <% end %>
        
        <form action="/orders" method="POST">
          <input name="mondial-relay-price" value="<%= @mondial_relay_price %>" type="hidden">
          <button class="recap-payment-mondial-relay-btn btn btn-dark" type="submit">Récapitulatif</button>
            <!-- Récapitulatif -->
          <!-- </button> -->
          <!-- <button type="submit" id="checkout-button">Checkout</button> -->
        </form>

        <button name='colissimo-price' type="button" class="recap-payment-colissimo-btn btn btn-dark">Récapitulatif</button>
      </div>
        
      
    </div>    
    </div>
  </div>
</div>


<!-- <script type="text/javascript">
  document.querySelector('.recap-payment-mondial-relay-btn').addEventListener('click', (event) => {
    event.preventDefault();
    // fetch('/orders/', {
    //   method: 'POST',
    // })
  });
</script> -->

<script type="text/javascript">
  const recapPaymentMondialRelayBtn = document.querySelector('.recap-payment-mondial-relay-btn');
  const recapPaymentColissimoBtn = document.querySelector('.recap-payment-colissimo-btn');
  if (recapPaymentMondialRelayBtn && recapPaymentColissimoBtn) {
    recapPaymentMondialRelayBtn.addEventListener('click', (event) => {
      document.querySelector('.black-circle-logo').src = "/assets/payment/white_circle.svg";
      document.querySelectorAll(".white-circle-logo")[0].src = "/assets/payment/black_circle.svg";
      document.querySelector('.payment-new-delivery-step').style.display = "none";
      document.querySelector('.resume-payment-infos').style.display = "block";
      document.querySelector('.resume-delivery-infos').appendChild(document.querySelector('.payment-display-address').children[1]);
      if (document.querySelector('.point-picker-result').children[1]) {
        document.querySelector('.resume-delivery-infos').appendChild(document.querySelector('.point-picker-result').children[1]);
      }
      document.querySelector('.payment-delivery-price').textContent = "<%= @mondial_relay_price %>€"
      let mondial_relay_price = "<%= @mondial_relay_price %>".replace(',', '.');
      let mondial_relay_order_price = "<%= @order.price %>".replace(',', '.');
      let mondial_relay_service_price =  "<%= @order.service / 2 %>".replace(',', '.');
      
      let totalMondialRelay = parseFloat(mondial_relay_price)
                            + parseFloat(mondial_relay_order_price)
                            + parseFloat(mondial_relay_service_price)
      document.querySelector('.payment-total-price').textContent = totalMondialRelay;
    })
    recapPaymentColissimoBtn.addEventListener('click', (event) => {
      document.querySelector('.black-circle-logo').src = "/assets/payment/white_circle.svg";
      document.querySelectorAll(".white-circle-logo")[0].src = "/assets/payment/black_circle.svg";
      document.querySelector('.payment-new-delivery-step').style.display = "none";
      document.querySelector('.resume-payment-infos').style.display = "block";
      document.querySelector('.resume-delivery-infos').appendChild(document.querySelector('.payment-display-address').children[1]);
      document.querySelector('.payment-delivery-price').textContent = "<%= @colissimo_price %>€"
      
      let colissimo_price = "<%= @colissimo_price %>".replace(',', '.');
      let colissimo_order_price = "<%= @order.price %>".replace(',', '.');
      let colissimo_service_price =  "<%= @order.service / 2 %>".replace(',', '.');
      
      let totalColissimo = parseFloat(colissimo_price)
                          + parseFloat(colissimo_order_price)
                          + parseFloat(colissimo_service_price)

      document.querySelector('.payment-total-price').textContent = totalColissimo

      
    })
  }
</script>

<style type="text/css">
  .payment-address-btn-colissimo, .payment-address-btn-mondial-relay {
    display: none;
  }

  .delivery-brand.colissimo, .delivery-brand.mondial-relay {
    cursor: pointer;
  }
  .resume-prices {
    display: flex;
    justify-content: space-between;
  }
  .point-picker-btn, .address-btn, .recap-payment-mondial-relay-btn, .recap-payment-colissimo-btn, .pay_button {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .adress_form, .point-picker, .recap-payment-mondial-relay-btn, .recap-payment-colissimo-btn, .resume-payment-infos {
    display: none;
  }
  .toggle-hidden {
    display: block;
  }
  .delivery-cliked {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 0 5px;
  }

  .delivery-brand {
    display: flex;
    justify-content: space-between;
  }
  .circles {
    display: flex;
    justify-content: space-evenly;
  }
  .circle-step {
    text-align: center;
  }
  
  .sneaker-payment-title {
    text-align:center;
  }
  .sneaker-payment-infos {
    padding: 20px 0;
    text-align: center;
  }
  .sneaker-payment-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sneaker-payment {
    margin: 50px auto 20px auto;
  }
</style>



<script type="text/javascript">
  const paymentButton = document.querySelector('.pay_button');
  if (paymentButton != undefined)
  {
    paymentButton.addEventListener('click', () => {
      let stripe = Stripe('<%= ENV['STRIPE_PUBLIC_TEST'] %>', {
      });
      stripe.redirectToCheckout({
        sessionId: "<%= @order.checkout_session_id  %>"
      });
    });
  }
</script>

<script type="text/javascript" src="https://embed.sendcloud.sc/spp/1.0.0/api.min.js"></script>



<%= javascript_pack_tag "algolia_autocomplete_address" %>


