<div class="container">
  <div class="row py-4">
    <div class="col-md-3"><%= image_tag @order.sneaker.photos[0].url, width: '100%'%></div> 
    <div class="col">
      <h1>Récapitulatif de la commande</h1>
      <p>Achat de <strong><%= @order.sneaker.name %></strong> pour <strong><%= humanized_money_with_symbol @order.price %></strong></p>


      <% if current_user.line1? && current_user.postal_code? && current_user.city? %>
        <div class="display_adress">
          <p>Mon adresse actuel : <%= current_user.line1 %>, <%= current_user.city %> <%= current_user.postal_code %></p>
        </div>
      <% else %>
        <div class="adress_form">
          <%= simple_form_for(current_user) do |f| %>
            <%= f.input :line1, label: 'Modifier mon adresse' %>
            <%= f.input :city, label: 'Ville' %>
            <%= f.input :postal_code, label: 'Code Postal' %>
            <%= f.submit %>
          <% end %>
        </div>
      <% end %>

      <button type="button" class="btn btn-primary" id="select_point_picker">Choix du point relais</button>
      <%= simple_form_for(current_user) do |f| %>
        <%= f.input :picker_data, as: :hidden, :input_html => { :value => "none"} %>
      <% end %>

      <div id="result"></div>
      
      <div id="current_user_result">
        <% if current_user.picker_data.class == Hash %>
          <p>Votre point relais : 
            <%= current_user.picker_data['name'] %> - <%= current_user.picker_data['house_number'] %> <%= current_user.picker_data['street'] %>, <%= current_user.picker_data['postal_code'] %> <%= current_user.picker_data['city'] %>
          </p>
        <% end %>
      </div>
      <br>  
      
      <% if current_user.picker_data? %>
      <button id="pay" class="btn btn-primary">Payer</button>
      <% end %>
      

      <script type="text/javascript">
        document.querySelector(".edit_user").addEventListener('submit', function () {
          adress_form = document.querySelector(".adress_form");
          adress_form.style.display="none";
          display_adress = document.querySelector(".display_adress");
          display_adress.style.display="block";
        });
      </script>
      
    </div>
  </div>
</div>

<script>
  const paymentButton = document.getElementById('pay');
  paymentButton.addEventListener('click', () => {
    var stripe = Stripe('<%= ENV['STRIPE_PUBLIC_TEST'] %>', {
    });
    stripe.redirectToCheckout({
      sessionId: '<%= @order.checkout_session_id %>'
    });
  });
</script>

<script type="text/javascript" src="https://embed.sendcloud.sc/spp/1.0.0/api.min.js"></script>

<%= javascript_pack_tag "point_picker" %>


