<div class="container">
  <div class="success">
    <div class="success__title" style="margin-top: 3rem">
      <div>
        <%= image_tag("images/check.svg") %>
      </div>
      <h2 class="mb-0" id="message">
        Merci pour votre commande
      </h2>
    </div>
    <div class="success__content">
      <div class="success__content__infos">
        <div class="sneaker-form__recap__sneaker-options mt-3" style="color: #727272;">
          <div>
            Numéro de commande : <%= @order.id %>
          </div>
          <div>
            Date de commande : <%= I18n.l(@order.created_at, format: :short, locale: :'fr') %>
          </div>
          <div>
            Moyen de paiement : <%= @payment_method %>
          </div>
          <div>
            Nom de l'acheteur : <%= @order.user.full_name %>
          </div>
        </div>
        <%= link_to "Télécharger le récapitulatif", order_path(@order.id, format: :pdf), target: "_blank" %>
        <div>
          <div style="font-size: 25px; font-weight: 700">Prochaine étape...</div>
          <div>
            Le vendeur dispose maintenant de 48 heures afin de nous envoyer ta paire de sneakers pour l’authentification.
            Nous te tiendrons informé par e-mail des prochaines étapes de commande (réception, authentification, expédition finale).
          </div>
        </div>
      </div>
      <div class="success__content__recap">
        <div class="success__content__recap__card">
          <div class="success__content__recap__card__title">
            Ma commande
          </div>
          <div class="success__content__recap__card__sneaker">
            <%= cl_image_tag(@order.sneaker.photos.first&.key, class: 'success__content__recap__card__sneaker-photo') %>
            <div class="success__content__recap__card__sneaker-details">
              <div class="success__content__recap__card__sneaker-name">
                <%= @order.sneaker.sneaker_db.name %>
              </div>
              <div class="success__content__recap__card__sneaker-options">
                <%= @order.sneaker.sneaker_db.category %> - Taille <%= @order.sneaker.size %> <br />Condition: <%= @order.sneaker.condition %>/10
              </div>
              <div class="success__content__recap__card__sneaker-price">
                <%= @order.sneaker.price %> €
              </div>
            </div>
          </div>
          <div class="success__content__recap__card__order-infos">
            <div class="success__content__recap__card__order-infos__item">
              <div>Livraison</div>
              <div><%= @order.shipping_fee %> €</div>
            </div>
            <div class="success__content__recap__card__order-infos__item">
              <div>Authentification Premium</div>
              <div><%= @order.service_fee %> €</div>
            </div>
            <div class="success__content__recap__card__order-infos__item">
              <div>Code promo</div>
              <div>-0 €</div>
            </div>
          </div>
          <div class="success__content__recap__card__total">
            <div>Total</div>
            <div><%= @order.total_price %> €</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>