<ul class="navbar-items nav nav-tabs justify-content-center" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="purchases-tab" data-toggle="tab" href="#purchases" role="tab" aria-controls="purchases" aria-selected="true">Mes achats</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="sales-tab" data-toggle="tab" href="#sales" role="tab" aria-controls="sales" aria-selected="false">Mes ventes</a>
  </li>
  
</ul>

<div class="tab-content">
  <div class="purchases-pan tab-pane fade show active" id="purchases" role="tabpanel" aria-labelledby="purchases-tab">
    <% if !current_user.orders || current_user.orders.where(state: "Payé").count == 0 %>
      <div style="text-align: center;margin-top: 30px;">
        <h2>Aucun achat en cours</h2>
        <p style="text-align: center;">Les achats arrive prochainement (15/09/2021)</p>
      </div>
    <% end %>
    <% if current_user.orders %>
      <% current_user.orders.where(state: "Payé").sort_by {|obj| obj.created_at }.reverse.each do |order| %>
        <div class="purchases">
            <%= image_tag(order.sneaker.photos[0], class: "purchases-sneaker-img") %>
          <div class="purchases-sneaker">
           <div class="purchases-sneaker-name"><h5><%= order.sneaker_name %></h5></div>
            <p>Size : <span class="font-weight-bold"><%= order.sneaker.size %>US</span></p>
            <p>Cond : <span class="font-weight-bold"><%= order.sneaker.condition %>/10</span></p>
            <p><span class="font-weight-bold"><%= order.price %>€</span></p>
          </div>
          <div class="purchases-infos">
            <p><span class="font-weight-bold">State : </span><%= order.state %></p>
            <p>Achetée le <%= order.created_at.strftime("%d/%m/%Y") %></p>
            <p><span class="font-weight-bold">ÉTAT</span> : En cours d'envoi par le vendeur de colisino</p>
            <!-- <p><span class="font-weight-bold">RESULTAT : LEGIT</span></p> -->
          </div>
          <button type="button" class="purchases-problem-btn btn btn-outline-dark btn-sm">
            Voir mon annonce
          </button>
        </div>
      <% end %>
    <% end %>

  </div>

  <div class="sales-pan tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
    <% if !current_user.sneakers[0] %>
      <h2>Aucune vente en cours</h2>
    <% end %>
    <% if current_user.sneakers[0] %>
      <% current_user.sneakers.sort_by {|obj| obj.created_at }.reverse.each do |sneaker| %>

      <div class="sales">
        <%= image_tag(sneaker.photos[0], class: "sales-sneaker-img") %>
        <div class="sales-sneaker">
          <div class="sales-sneaker-name"><h5><%= sneaker.name %></h5></div>
          <p>Size : <span class="font-weight-bold"><%= sneaker.size %>US</span></p>
          <p>Cond : <span class="font-weight-bold"><%= sneaker.condition %>/10</span></p>
          <p><span class="font-weight-bold"><%= sneaker.price %>€</span></p>
        </div>
        <div class="sales-infos">
          <p>Mis en ligne le <%= sneaker.created_at.strftime("%d/%m/%Y") %></p>
          <% if sneaker.state == 0 %>
            <p><span class="font-weight-bold">ÉTAT : </span>Vérification des photos</p>
          <% elsif sneaker.state == -1  %>
            <p><span class="font-weight-bold">ÉTAT : </span>Critères non conforme</p>
          <% elsif sneaker.state == -2 %>
            <p><span class="font-weight-bold">ÉTAT : </span>Photos non conforme</p>
          <% elsif sneaker.state == -3 %>
            <p><span class="font-weight-bold">ÉTAT : </span>Paire Fake</p>
          <% elsif sneaker.state == 1  %>
            <p><span class="font-weight-bold">ÉTAT : </span>Mise en ligne</p>
          <% elsif sneaker.state == 2  %>
            <p><span class="font-weight-bold">ÉTAT : </span>Paire vendue !</p>
          <% elsif sneaker.state == 3  %>
            <p><span class="font-weight-bold">ÉTAT : </span>En attente de reception par RDS</p>
          <% elsif sneaker.state == 4  %>
            <p><span class="font-weight-bold">ÉTAT : </span>En cours d'envoi vers le client</p>
          <% end %>
          <!-- <p><span class="font-weight-bold">RESULTAT : En attente</span></p> -->
        </div>
        <button type="button" class="sales-problem-btn btn btn-outline-dark btn-sm">
           <%= link_to("Voir mon annonce", sneaker_path(sneaker), class: 'see-my-sneaker') %>
          </button>
        </div>
      <% end %>
    <% end %>
  </div>
  
</div>



<script>
  function myTab() {
    ('#myTab li:last-child a').tab('show');
  }
</script>







