<title>Contact - Rock Don't Stock</title>
<div class="container">
  <div class="contact-form-page">
    <div class="contact-form">
      <h2 class="contact-form-title">Formulaire de contact</h2>
      <div class="contact-form-inputs">
        <%= simple_form_for(@contact, :url => contact_path) do |f| %>
          <div class="row">
            <div class="col-md">
              <%= f.input :name,  placeholder: 'Prénom Nom', label: false %>
            </div>
            <div class="col-md">
              <%= f.input :email, placeholder: "Email", label: false %>
            </div>
          </div>
          <%= f.input :object, placeholder: "Objet du mail", label: false, class: 'contact-mail-object' %>
          <%= f.input :message, as: :text, placeholder: "Message", label: false %>
          <div class="contact-form-btn">
            <%= f.button :submit, "Envoyer le message", class: "btn btn-light" %>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
</div>

<style>
  .contact-form-inputs {
    margin-top:40px;
  }
  .contact-form-btn {
    margin-top:30px;
  }
  #contact_object {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body, .container, .contact-form-page {
    background-color: black;
  }
  .contact-form-page {
    /*margin-top: 50px;*/
  }
  footer {
    display: none;
  }
  .nav-test, .real-nav {
    background-color: black;
  }
  .icon, .icon_phone, .magnify_glass_icon_phone, .magnify_glass_icon, #sell_button,  .toggler_icon, .toggler_icon_phone {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(347deg) brightness(106%) contrast(101%);
  }
</style>


<script type="text/javascript">
  $(document).ready(function() {
    $('.glass_icon, .glass_icon_phone').on('click', function() {
      $('.real-nav, .nav-test').css('background-color', 'white');
      $('.icon, .icon_phone, .magnify_glass_icon_phone, .magnify_glass_icon, #sell_button, .toggler_icon, .toggler_icon_phone').css('filter', 'invert(0%) sepia(59%) saturate(0%) hue-rotate(116deg) brightness(97%) contrast(104%)');
    });

    $('.hide-search-arrow, .phone-hide-search-arrow, .toggler_icon').on('click', function() {
      console.log("ok");
      $('.nav-test, .real-nav, .contact-form-page').css('background-color', 'black');
      $('.icon, .icon_phone, .magnify_glass_icon_phone, .magnify_glass_icon, #sell_button, .toggler_icon, .toggler_icon_phone').css('filter', 'invert(100%) sepia(100%) saturate(0%) hue-rotate(347deg) brightness(106%) contrast(101%)');
    });
  });
</script>