<title>Contact - Rock Don't Stock</title>
<div class="container">
  <div class="contact-form-page">
    <div class="contact-form">
      <h2 class="contact-form-title mb-5">Formulaire de contact</h2>
      <div class="contact-form-inputs d-flex justify-content-center">
        <%= simple_form_for(@contact, :url => contact_path) do |f| %>
          <div class="row g-2">
            <div class="col-md">
              <%= f.input :name,  placeholder: 'Prénom Nom', label: false %>
            </div>
            <div class="col-md">
              <%= f.input :email, placeholder: "Email", label: false %>
            </div>
          </div>
          <%= f.input :object, placeholder: "Objet du mail", label: false, class: 'contact-mail-object' %>
          <%= f.input :message, as: :text, placeholder: "Message", label: false %>
          <div class="contact-form-btn">
            <%= f.button :submit, "Envoyer le message", class: "btn btn-light" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>