<div class="contact-form-page">
  <div class="container">
    <div class="phone-infos">
      <h2 class="phone-title">Téléphone</h2>
      <p>Relation presse : <%= phone_to +33607643309, "+33 6 07 64 33 09" %></p>
      <p>Recrutement : <%= phone_to +33777659336, "+33 7 77 65 93 36" %></p>
      <p>Service client : <%= phone_to +33609236587, "+33 6 09 23 65 87" %></p>
    </div>

      <div class="contact-form">
        <h2 class="contact-form-title">Formulaire de contact</h2>
        <div class="contact-form-inputs">
          <%= simple_form_for(@contact, :url => contact_index_path) do |f| %>
            <div class="row">
              <div class="col-md">
                <%= f.input :name,  placeholder: 'Prénom Nom' %>
              </div>
              <div class="col-md">
                <%= f.input :email, placeholder: "Email" %>
              </div>
            </div>
            <%= f.input :object, placeholder: "Objet du mail" %>
            <%= f.input :message, as: :text, placeholder: "Message" %>
            <div class="contact-form-btn">
              <%= f.button :submit, "Envoyer le message", class: "btn btn-light" %>
            </div>
          <% end %> 
        </div>
      </div>
      <div class="address-infos">
        <h2 class="address-title">Adresse</h2>
        <p>Rock don’t Stock,</p>
        <p>17 Faubourg Saint-Honoré, 75010,</p>
        <p>Paris, France</p>
      </div>
  </div>
</div>

<style>
  footer {
    display: none;
  }
  #navbar-light {
    background-color: black;
  }
  .icon, .icon_phone, .magnify_glass_icon_phone, .magnify_glass_icon, #sell_button,  .toggler_icon, .toggler_icon_phone {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(347deg) brightness(106%) contrast(101%);
  }
</style>


<script type="text/javascript">
  $('.glass_icon, .glass_icon_phone').on('click', function() {
    $('.navbar, .contact-form-page').css('background-color', 'white');
    $('.icon, .icon_phone, .magnify_glass_icon_phone, .magnify_glass_icon, #sell_button, .toggler_icon, .toggler_icon_phone').css('filter', 'invert(0%) sepia(59%) saturate(0%) hue-rotate(116deg) brightness(97%) contrast(104%)');
  });

  $('.hide-search-arrow, .phone-hide-search-arrow').on('click', function() {
    $('.navbar, .contact-form-page').css('background-color', 'black');
    $('.icon, .icon_phone, .magnify_glass_icon_phone, .magnify_glass_icon, #sell_button, .toggler_icon, .toggler_icon_phone').css('filter', 'invert(100%) sepia(100%) saturate(0%) hue-rotate(347deg) brightness(106%) contrast(101%)');
  });
</script>