<div class="container tranfers-index">  
  <h1>Vérification des documents d'identité & virements bancaires</h1>
  <% if current_user.stripe_account_id.present? %>
    <div class="send-id-documents">
      <h2>Envoyez mes documents</h2>
      <p>Si tu vends des paires sur le site, tu devras nous transférer le recto et verso de ta carte d'identité ainsi qu'un justificatif de domicile.<br>Cela nous permet d'éviter les fraudes et de travailler uniquement avec des vendeurs fiables.</p>
      <div>
        <form method="post" class="my-form" id="fileinfo" name="fileinfo" ajax="true">
          <label><strong>Recto de ma carte d'identité :</strong></label>
          <input type="hidden" name="file-front-hid" id="file-front-hid">
          <input type="file" id="file-front" name="file" required />
          <br><br>
          <label><strong>Verso de ma carte d'identité :</strong></label>
          <input type="hidden" name="file-back-hid" id="file-back-hid">
          <input type="file" id="file-back" name="file" required />
          <br><br>
          <label><strong>Justificatif de domicile :</strong></label>
          <input type="hidden" name="file-home-hid" id="file-home-hid">
          <input type="file" id="file-home" name="file" required />
          <br>
          <button  type="submit" class="btn-send-documents btn btn-dark">Envoyer mes document</button>
        </form>
      </div>
    </div>
  <% else %>
    <p>Il s'emblerait que tu ne sois pas un vendeur !<br>Cette page permet de vérifier l'authenticité des vendeurs sur notre site ainsi que de leurs permettre de transférer de l'argent directement sur leurs compte bancaires. </p>
  <% end %>



  <div class="">
    <hr>
    <h2>Remplir mon IBAN</h2>
    <p>Si tu as fait une vente, félicitations !<br>Tu peux désormais préremplir ton IBAN. <br>C'est aussi sur cette page que tu verras la somme que tu pourras retirer.</p>
    <div class='form-validate-iban'>
      <%= simple_form_for(current_user) do |f| %>
        <%= f.input :iban, label: "Remplir mon IBAN", placeholder: "FR1420041010050500013M02606" %>
        <%= f.button :submit, "Enregistrer mon IBAN", class: 'btn-save-iban btn btn-dark', id: 'btn-validate-iban' %>
      <% end %>
      <div id="iban-error"></div>
    </div>
    <hr>
    <% if current_user.stripe_account_id.present? %>
      <h1>Mon argent</h1>
      <h2>En attente :</h2>
      <% if  @balance.pending[0].amount > 0 %>
        <p>Mon solde est de <%= @balance.pending[0].amount / 100 %> euros. Je pourrai retirer cet argent dans 7 jours ouvrés. </p>
      <% elsif  @balance.pending[0].amount == 0 %>
        <p>Mon solde est de 0 euro, je ne peux rien retirer</p>
      <% end %>

      <h2>Disponible :</h2>
      <% if  @balance.available[0].amount > 0 %>
        <p>Mon solde est de <%= @balance.available[0].amount / 100 %> euros</p>
        <form method="post" class="transfers-bank-form" ajax="true">
          <input type="hidden" name="send-money-bank" value=1>
          <button  type="submit" class="btn btn-dark">Retirer l'intégralité</button>
        </form>
      <% elsif  @balance.available[0].amount == 0 %>
        <p>Mon solde est de 0 euro, je ne peux rien retirer</p>
      <% end %>
    <% end %>
  </div>
</div>
