<div class="sneakerdb-index">
  <% @results&.each do |sneaker_db| %>
    <%= form_for @sneaker, url: sneaker_build_path(@sneaker.id, :add_sneaker_db), method: :put do |f| %>
      <%= f.hidden_field :sneaker_db_id, value: sneaker_db.id %>
      <div class="sneakerdb-index__card">
        <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/640px-Image_created_with_a_mobile_phone.png", class: "sneakerdb-index__card__photo") %>
        <img src="https://images.stockx.com/360/Nike-Air-Max-97-Silver-White/Images/Nike-Air-Max-97-Silver-White/Lv2/img01.jpg?w=480&h=320" class="sneakerdb-index__card__photo">
        <img src="<%= sneaker_db.img_url %>" class="sneakerdb-index__card__photo">
        <img src="https://images.stockx.com/360/Nike-Air-Max-97-Silver-White/Images/Nike-Air-Max-97-Silver-White/Lv2/img01.jpg?auto=compress&w=480&q=90&dpr=2&h=320" class="sneakerdb-index__card__photo" style="width: 200px; height: 200px;">
        <img src="<%= sneaker_db.img_url %>" class="sneakerdb-index__card__photo" style="width: 200px; height: 200px;">
        <div class="sneakerdb-index__card__name">
          <strong><%= sneaker_db.name %></strong>
        </div>
      </div>
    <% end %>
  <% end %>
</div>