<title>Article - Rock Don't Stock</title>
<h1 class="sneaker-show-title"><%= @sneaker.sneaker_db&.name || 'Sneaker' %></h1>
<div class="sneaker-show">
  <div id="carouselSneakerShow" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @sneaker.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= "active" if index == 0 %>">
          <%= smart_image_tag(photo, class: 'sneaker-show-photos', raw_transformation: "c_limit,h_700,q_auto,w_700") %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselSneakerShow" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon sneaker-show-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselSneakerShow" role="button" data-slide="next">
      <span class="carousel-control-next-icon sneaker-show-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="modal-sneaker-logos">
    <div class="modal-sneaker-logos-microscope">
      <%= image_tag("sneaker/microscope.svg") %>
      <h5>AUTHENTICITÉ GARANTIE</h5>
      <p>Avant que la paire ne te soit envoyée, cette dernière passe entre nos mains afin d’être vérifiée par des experts en Legit Check</p>
      <%= link_to("En savoir plus l'authentification", authentication_path, target: :_blank) %>
    </div>
    <div class="modal-sneaker-logos-truck">
      <%= image_tag("sneaker/truck.svg") %>
      <h5>LIVRAISON A PARTIR DE 5€</h5>
      <p>Pour réduire le coût au maximum nous te proposons la livraison MondialRelay, plus sécurisée elle a aussi l’avantage d’être la moins coûteuse pour toi</p>
    </div>
  </div>
  <div class="sneaker-show-infos">
    <h2 class="sneaker-show-infos-title"><%= @sneaker.sneaker_db&.name || 'Sneaker' %></h2>
    <p><strong>Taille : </strong><%=  @sneaker.size %> US</p>
 <%#= US (shoes_size[@sneaker.size] FR)%>
    <p><strong>Prix : </strong><%= humanized_money_with_symbol(@sneaker.price) %></p>
    <p><strong>Condition : </strong><%= @sneaker.condition %>/10</p>
    <p><strong>Box : </strong><%= @sneaker.box %></p>
    <p><strong>Extras : </strong><%= @sneaker.extras %></p>
  </div>
  <div class="modal-footer" style="justify-content: center;">
    <% if current_user != @sneaker.user && @sneaker.user.stripe_account_id? %>
      <% unless current_user.nil? %>
        <%= form_tag orders_path(sneaker_id: @sneaker.id), id: "order_create_#{@sneaker.id }" do %>
          <%= submit_tag 'Acheter', class: 'btn btn-dark' %>
        <% end %>
      <% else %>
        <%= form_tag user_session_path(sneaker_id: @sneaker.id) do %>
          <%= submit_tag 'Acheter', class: 'btn btn-dark' %>
        <% end %>
      <% end %>
    <% end %>
    <!-- <% if policy(@sneaker).edit? %>
      <button type="button" class="btn sneaker-show-btn" style="background-color: #2e3338;" >
        <a onclick="location.href='<%= sneaker_path(@sneaker) %>';" data-bs-dismiss="modal" style="color:white">Voir mon annonce</a>
      </button>
    <% end %> -->
  </div>
</div>
