<%= simple_form_for(sneaker.new_record? ? [sneaker_db, sneaker] : sneaker) do |f| %>
  <div class="info-input">

  	<%= f.input :size, required: true, label: "Taille US", placeholder: "10,5" %>

  	<%= f.input :price, required: true, label: "Prix", placeholder: "199" %>

  	<%= f.input :condition, collection: 1..10, required: true, hint: "Une note sur 10 de l'état de ta paire" %>

  	<%= f.input :box, collection: ["Og Box", "Boite de remplacement", "Pas de boite"], required: true %>

  	<%= f.input :extras, required: true, label: "Extras", placeholder: "Lacets, stickers..."  %>
  </div>

  <div class="next-btn">
    <button type="button" class="btn btn-dark">Next</button>
  </div>
  
  <div class="photos-input">

    <%= f.file_field :photos, as: :file, :multiple => true,
    class: "hidden", id: 'photo-input0',
    class: 'upload-photo photo-input0',
    label_html: '📷 Ajoute une photo' %>
    <%= image_tag "", width: 0, class: "hidden", id: "photo-preview0" %>


    <%= f.file_field :photos, as: :file, :multiple => true,
    class: "hidden", id: 'photo-input1',
    class: 'upload-photo photo-input1',
    label: '📷 Ajoute une photo' %>
    <%= image_tag "", width: 0, class: "hidden", id: "photo-preview1" %>
    

    <%= f.file_field :photos, as: :file, :multiple => true,
    class: "hidden", id: 'photo-input2',
    class: 'upload-photo photo-input2',
    label: '📷 Ajoute une photo' %>
    <%= image_tag "", width: 0, class: "hidden", id: "photo-preview2" %>


    <%= f.file_field :photos, as: :file, :multiple => true,
    class: "hidden", id: 'photo-input3',
    class: 'upload-photo photo-input3',
    label: '📷 Ajoute une photo' %>
    <%= image_tag "", width: 0, class: "hidden", id: "photo-preview3" %>


    <%= f.file_field :photos, as: :file, :multiple => true,
    class: "hidden", id: 'photo-input4',
    class: 'upload-photo photo-input4',
    label: '📷 Ajoute une photo' %>
    <%= image_tag "", width: 0, class: "hidden", id: "photo-preview4" %>


    <%= f.file_field :photos, as: :file, :multiple => true,
    class: "hidden", id: 'photo-input5',
    class: 'upload-photo photo-input5',
    label: '📷 Ajoute une photo' %>
    <%= image_tag "", width: 0, class: "hidden", id: "photo-preview5" %>


    <%= f.file_field :photos, as: :file, :multiple => true,
    class: "hidden", id: 'photo-input6',
    class: 'upload-photo photo-input6',
    label: '📷 Ajoute une photo' %>
    <%= image_tag "", width: 0, class: "hidden", id: "photo-preview6" %>


    <%= f.file_field :photos, as: :file, :multiple => true,
    class: "hidden", id: 'photo-input7',
    class: 'upload-photo photo-input7',
    label: '📷 Ajoute une photo' %>

    <%= image_tag "", width: 0, class: "hidden", id: "photo-preview7" %>
  </div>
  <div class="submit-new-sneaker">
    <%= f.button :submit, "Ajouter ma sneaker", class: "text-center btn btn-dark" %>
  </div>

<% end %>

<style type="text/css">
  .submit-new-sneaker {
    text-align: center;
  }
  .upload-photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .photo-input0 {
    background-image: url(https://image.goat.com/crop/750/attachments/product_template_additional_pictures/images/032/800/236/original/585613_01.jpg.jpeg?1581711888);
  }
  .photo-input1 {
    background-image: url(https://image.goat.com/crop/750/attachments/product_template_additional_pictures/images/032/800/228/original/585613_03.jpg.jpeg?1581711888);
  }
  .photo-input2 {
    background-image: url(https://image.goat.com/crop/750/attachments/product_template_additional_pictures/images/032/800/219/original/585613_06.jpg.jpeg?1581711887);
  }
  .photo-input3 {
    background-image: url(https://image.goat.com/crop/750/attachments/product_template_additional_pictures/images/032/800/215/original/585613_08.jpg.jpeg?1581711887);
  }
  .photo-input4 {
    background-image: url(https://image.goat.com/crop/750/attachments/product_template_additional_pictures/images/032/800/221/original/585613_04.jpg.jpeg?1581711887);
  }
  .photo-input4 {
    background-image: url(https://image.goat.com/crop/750/attachments/product_template_additional_pictures/images/032/800/219/original/585613_06.jpg.jpeg?1581711887);
  }
  .photo-input5 {
    background-image: url(https://image.goat.com/crop/750/attachments/product_template_additional_pictures/images/032/800/219/original/585613_06.jpg.jpeg?1581711887);
  }

  .photo-input6 {
    background-image: url(https://image.goat.com/crop/750/attachments/product_template_additional_pictures/images/032/800/219/original/585613_06.jpg.jpeg?1581711887);
  }
  .photo-input7 {
    background-image: url(https://image.goat.com/crop/750/attachments/product_template_additional_pictures/images/032/800/219/original/585613_06.jpg.jpeg?1581711887);
  }

  .photos-input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .upload-photo {
    margin: 20px 20px;
  }
</style>


<script type="text/javascript">
  let photoPreview0 = document.getElementById('photo-preview0');
  let photoPreview1 = document.getElementById('photo-preview1');
  let photoPreview2 = document.getElementById('photo-preview2');
  let photoPreview3 = document.getElementById('photo-preview3');
  let photoPreview4 = document.getElementById('photo-preview4');
  let photoPreview5 = document.getElementById('photo-preview5');
  let photoPreview6 = document.getElementById('photo-preview6');
  let photoPreview7 = document.getElementById('photo-preview7');

  photoPreview0.addEventListener('load', (event) => {
    let photoInput0 = document.querySelector('.photo-input0');
    photoInput0.style.backgroundImage = `url(${photoPreview0.src})`;
  })
  photoPreview1.addEventListener('load', (event) => {
    let photoInput1 = document.querySelector('.photo-input1');
    photoInput1.style.backgroundImage = `url(${photoPreview1.src})`;
  })
  photoPreview2.addEventListener('load', (event) => {
    let photoInput2 = document.querySelector('.photo-input2');
    photoInput2.style.backgroundImage = `url(${photoPreview2.src})`;
  })
  photoPreview3.addEventListener('load', (event) => {
    let photoInput3 = document.querySelector('.photo-input3');
    photoInput3.style.backgroundImage = `url(${photoPreview3.src})`;
  })
  photoPreview3.addEventListener('load', (event) => {
    let photoInput3 = document.querySelector('.photo-input3');
    photoInput3.style.backgroundImage = `url(${photoPreview3.src})`;
  })
  photoPreview4.addEventListener('load', (event) => {
    let photoInput4 = document.querySelector('.photo-input4');
    photoInput4.style.backgroundImage = `url(${photoPreview4.src})`;
  })
  photoPreview5.addEventListener('load', (event) => {
    let photoInput5 = document.querySelector('.photo-input5');
    photoInput5.style.backgroundImage = `url(${photoPreview5.src})`;
  })
  photoPreview6.addEventListener('load', (event) => {
    let photoInput6 = document.querySelector('.photo-input6');
    photoInput6.style.backgroundImage = `url(${photoPreview6.src})`;
  })
  photoPreview7.addEventListener('load', (event) => {
    let photoInput7 = document.querySelector('.photo-input7');
    photoInput7.style.backgroundImage = `url(${photoPreview7.src})`;
  })

  let infoInput =  document.querySelector('.info-input');
  let photosInput = document.querySelector('.photos-input');  
  let nextBtn = document.querySelector('.next-btn');
  let photoInput0 = document.getElementById('photo-input0');
  let sneakerExtras = document.getElementById('sneaker_extras')

  // photosInput.style.display = "none";
  nextBtn.style.display = "none";
  // photoInput0.style.display = "none";
  // infoInput.style.display = "none";
  
  sneakerExtras.addEventListener('input', (event) => {
    nextBtn.style.display = "block";
    nextBtn.addEventListener('click', (event) => { 
      photosInput.style.display = "block";
      infoInput.style.display = "none";
      nextBtn.style.display = "none";
    })

  });


</script>


