<% @results.each do |sneaker| %>
  <div class="sneaker-index__card" data-sneaker-id="<%= sneaker.id %>">
    <%= cl_image_tag(sneaker.photos.first&.key, class: 'sneaker-index__card__photo') %>
    <%= link_to sneaker.sneaker_db.name, sneaker_path(sneaker), class: "sneaker-index__card__name" %>
    <div class="sneaker-index__card__options">
      <%= sneaker.sneaker_db.category %> - Taille <%= sneaker.size %> <br />Condition: <%= sneaker.condition %>/10
    </div>
    <div class="sneaker-index__card__price"><%= sneaker.price %>€</div>
  </div>
<% end %>

<script>
  // max card name is 3 lines
  document.querySelectorAll('.sneaker-index__card__name').forEach(cardName => {
    clamp(cardName, { clamp: 2, useNativeClamp: false })
  })
</script>