<h1>Récapitulatif de la commande</h1>

<% if sneaker.size? %>
  
<%= sneaker.sneaker_db.name  %>
<%= sneaker.size  %>
<%= sneaker.extras  %>
<%= sneaker.user  %>

<%= cl_image_tag(sneaker.photos[0].key) %>
<%= cl_image_tag(sneaker.photos[1].key) %>
<%= cl_image_tag(sneaker.photos[2].key) %>
<%= cl_image_tag(sneaker.photos[3].key) %>
<% end %>