<% brands = ["Nike", "Jordan", "Adidas", "Yeezy", "New Balance", "Asics", "Autres"] %>
<% conditions = {"6/10 ou moins": 6, "7/10": 7, "8/10": 8, "9/10": 9, "10/10": 10} %>
<% sizes = [36, 36.5, 37, 37.5, 38, 38.5, 39, 39.5, 40, 40.5, 41, 41.5, 42, 42.5, 43, 43.5, 44, 44.5, 45, 45.5, 46, 46.5, 47, 47.5, 48, 48.5, 49, 49.5] %>

<title>Recherche - Rock Don't Stock</title>
<div class="container">
  <% if !@referer&.match?("/sneakers?") %>
    <section class="sneaker-featured">
      <div class="sneaker-featured__subtitle">Parcourir nos</div>
      <h2>Sneakers</h2>
      <div class="sneaker-featured-block">
        <div class="sneaker-featured-block__title">Sélection du jour</div>
        <div class="sneaker-featured-block__content">
          <%= cl_image_tag(@selection_of_the_day.photos.first&.key, class: 'sneaker-featured-photo', raw_transformation: "c_limit,h_700,q_auto,w_700") %>
          <div class="sneaker-featured-details">
            <%= link_to sneaker_path(@selection_of_the_day) do %>
              <h2 class="sneaker-featured__name"><%= @selection_of_the_day.sneaker_db.name %></h2>
            <% end %>
            <div class="sneaker-featured-details__options">
              <%= @selection_of_the_day.sneaker_db.category %> - Taille <%= @selection_of_the_day.size %> <br />Condition: <%= @selection_of_the_day.condition %>/10
            </div>
            <div class="sneaker-featured-details__price"><%= @selection_of_the_day.price %>€</div>
            <div>
              <%= button_to "Acheter", new_sneaker_order_path(@selection_of_the_day), method: :get, class: "sneaker-featured-details__purchase" %>
              <%= button_to "Découvrir le modèle", sneaker_path(@selection_of_the_day), method: :get, class: "sneaker-featured-details__discover" %>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>
  <div class="d-flex justify-content-between">
    <div style="font-size: 1.563rem; margin-bottom: 3rem">Toutes les sneakers</div>
    <div style="position: relative;">
      <div class="toggle-popover-btn d-none d-lg-block" type="button" onclick="togglePopover('sortby')">
        Trier par <i class="fas fa-chevron-down"></i>
      </div>
      <div class="custom-popover sortby-popover">
        <%= form_with url: sneakers_path, method: :get, html: { id: "sort-form-desktop" } do |f| %>
          <div class="form-check mb-1">
            <label class="form-check-label">
              <%= f.radio_button :sort_by, "price_cents ASC", { class: "form-check-input" } %> Prix croissant
            </label>
          </div>
          <div class="form-check mb-1">
            <label class="form-check-label">
              <%= f.radio_button :sort_by, "price_cents DESC", { class: "form-check-input" } %> Prix décroissant
            </label>
          </div>
          <div class="form-check mb-1">
            <label class="form-check-label">
              <%= f.radio_button :sort_by, "created_at DESC", { class: "form-check-input", checked: true } %> Du plus récent au plus ancien
            </label>
          </div>
          <div class="form-check mb-1">
            <label class="form-check-label">
              <%= f.radio_button :sort_by, "created_at ASC", { class: "form-check-input" } %> Du plus ancien au plus récent
            </label>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-start justify-content-between">
    <!-- FILTERS DESKTOP -->
    <div class="d-none d-lg-block" style="min-width: 30%; top: 100px;">
      <%= form_with url: sneakers_path, method: :get, html: {id: "filter-form"} do |f| %>
        <div class="form-group">
          <%= f.label "Marques", class: "form-label", style: "font-weight: 700" %>
          <% brands.each do |brand| %>
            <div class="form-check mb-1">
              <label class="form-check-label">
                <%= f.check_box :category, { multiple: true, class: "form-check-input" }, brand, nil %> <%= brand %>
              </label>
            </div>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label "Prix", class: "form-label", style: "font-weight: 700" %>
          <div class="row g-2">
            <div class="col-5">
              <%= f.number_field :min_price, min: 0, class: "form-control", placeholder: "Min" %>
            </div>
            <div class="col-5">
              <%= f.number_field :max_price, class: "form-control", placeholder: "Max" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "Condition", class: "form-label", style: "font-weight: 700" %>
          <% conditions.each do |key, val| %>
            <div class="form-check mb-1">
              <label class="form-check-label">
                <%= f.check_box :condition, { multiple: true, class: "form-check-input" }, val, nil %> <%= key %>
              </label>
            </div>
          <% end %>
        </div>
        <div class="form-group" style="position:relative;">
          <div class="custom-popover size-popover">
            <% sizes.each do |size| %>
              <div class="form-check mb-1">
                <label class="form-check-label">
                  <%= f.check_box :size, { multiple: true, class: "form-check-input" }, size, nil %> <%= size %>
                </label>
              </div>
            <% end %>
          </div>
          <%= f.label '', class: "form-label toggle-popover-btn", style: "font-weight: 700; cursor: pointer;", onclick: "togglePopover('size')" do %>
            Taille
            <i class="fas fa-chevron-down"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="d-flex flex-column align-items-center">
      <div class="search-results" id="search-results">
        <%= render partial: 'sneakers/list_sneakers' %>
      </div>
      <div style="position: relative; top: 5rem">
        <%== pagy_bootstrap_nav(@pagy) if @pagy %>
      </div>
    </div>
  </div>
</div>

<script>
  let filterForm = document.getElementById("filter-form");
  let sortFormMobile = document.getElementById("sort-form-mobile");
  let sortForm = document.getElementById("sort-form-desktop");

  filterForm.querySelectorAll('input').forEach(input => {
    input.addEventListener('change', _ => {
      let formData = new FormData(filterForm);
      Rails.ajax({
        type: filterForm.method,
        url: filterForm.action,
        dataType: "json",
        data: new URLSearchParams(formData),
        processData: false,
        contentType: false
      })
    })
  })
  sortFormMobile.querySelectorAll('input').forEach(input => {
    input.addEventListener('change', _ => {
      hidePopup();

      let formData = new FormData(sortFormMobile);
      Rails.ajax({
        type: sortFormMobile.method,
        url: sortFormMobile.action,
        dataType: "json",
        data: new URLSearchParams(formData),
        processData: false,
        contentType: false
      })
    })
  })
  sortForm.querySelectorAll('input').forEach(input => {
    input.addEventListener('change', _ => {
      let formData = new FormData(sortForm);
      Rails.ajax({
        type: sortForm.method,
        url: sortForm.action,
        dataType: "json",
        data: new URLSearchParams(formData),
        processData: false,
        contentType: false
      })
    })
  })

  function revealPopup(which) {
    let targets = document.querySelectorAll('.popup')
    targets.forEach(t => disableBodyScroll(t))
    document.body.style.zIndex = '-1'

    document.querySelector('.filter-sort-buttons').style.display = "none"

    if (which == "filter") {
      document.querySelector('.filter-popup').style.display = "block"
    } else {
      document.querySelector('.sort-popup').style.display = "block"
    }
  }

  function hidePopup() {
    let targets = document.querySelectorAll('.popup')
    targets.forEach(t => enableBodyScroll(t))
    document.body.style.zIndex = ''

    // reset buttons
    document.querySelector('.filter-sort-buttons').style.display = "flex"
    document.querySelector('.filter-popup').style.display = "none"
    document.querySelector('.sort-popup').style.display = "none"
  }

  function togglePopover(which) {
    let el = document.querySelector(`.${which}-popover`)
    if (el.style.display === "block") el.style.display = "none"
    else el.style.display = "block"
  }

  // close popovers when clicking outside
  document.body.addEventListener('click', (e) => {
    if (e.target.classList.contains('toggle-popover-btn')) return

    if (!e.target.closest('.custom-popover')) {
      let popovers = document.querySelectorAll('.custom-popover');
      popovers.forEach(p => p.style.display = "none")
    }

    if (e.target.closest('.sneaker-index__card')) {
      let card = e.target.closest('.sneaker-index__card')
      window.location.href = "<%= sneakers_url %>/" + card.dataset.sneakerId;
    }
  })

  document.querySelectorAll('.sneaker-index__card').forEach(el => {
    el.addEventListener('click', function() {
      window.location.href = "<%= sneakers_url %>/" + this.dataset.sneakerId;
    })
  })

  let filterBtn = document.querySelector('.filter-btn')
  let sortBtn = document.querySelector('.sort-btn')
  filterBtn.addEventListener('click', () => revealPopup('filter'))
  sortBtn.addEventListener('click', () => revealPopup('sort'))

</script>

<style>
.size-popover {
  display: none;
  position: absolute;
  top: 2rem;
  width: 100%;
  height: 10rem;
  padding: 1rem;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  background: white;
  overflow-y: scroll;
  z-index: 10;
}
.sortby-popover {
  display: none;
  position: absolute;
  width: max-content;
  top: 2rem;
  right: 0;
  padding: 1rem;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  background: white;
  z-index: 10;
}
.popup-close-icon {
  cursor: pointer;
  transition: margin 0.2s ease;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 80px; /* height of navbar + filter/sort buttons*/
  bottom: 0;
  overflow-y: scroll;
  padding: 0 1rem;
  background: white;
  z-index: 100;
  height: calc(100vh - 80px); /* remaining height until bottom of viewport */
}
.popup::-webkit-scrollbar {
  display: none; /* chrome safari opera */
}
.popup {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.card {
  margin-bottom: 1rem;
}
.card-header {
  background-color: white;
  border: 1px solid #0E0E0E;
  border-radius: 0 !important;
  padding: 1rem;
}
.filter-title {
  padding: 0.5rem;
  font-size: 1rem;
}
</style>