<%# shoes_size = {
	6.0=>39,
	6.5=>39,
	7.0=>40,
	7.5=>40.5,
	8.0=>41,
	8.5=>42,
	9.0=>42.5,
	9.5=>43,
	10.0=>44,
	10.5=>44.5,
	11.0=>45,
	11.5=>46,
	12.0=>46.5,
	12.5=>47
}%>


<h1>Les sneakers</h1>

<% if policy(Sneaker).create? %>
	<%= link_to "Ajouter sa sneaker", new_sneaker_path %>
<% end %>

<% @sneakers.each do |sneaker|	%>
	<%# if sneaker.state == 1 %>
		<h2><%=	sneaker.name %></h2>
		<p>User ID : <%= sneaker.user_id %></p>
		<p>Taille : <%=	sneaker.size %> FR</p> <%#= US (shoes_size[sneaker.size] FR)%>
		<p>Prix: <%= humanized_money_with_symbol(sneaker.price) %></p>
		<p>Condition : <%= sneaker.condition %>/10</p>
		<p>Box : <%= sneaker.box %></p>
		<p>Extras : <%= sneaker.extras %></p>
		<%=	link_to "Voir la sneaker", sneaker_path(sneaker)%>
	<%# end %>
<% end %>