<% brand = ["Adidas", "Air Jordan", "Nike", "New Balance", "Other Brands", "Luxury Brands", "Collections"] %>
<% price = [["Moins de 100€", 100], ["Moins de 200€", 200], ["Moins de 300€", 300], ["Plus de 300€", 301]] %>
<% condition = [["5/10 et moins", 5], ["6/10", 6], ["8/10", 8], ["9/10", 9], ["10/10", 10]] %>
<% size = [["1", 1], ["1.5", 1.5], ["2", 2], ["2.5", 2.5], ["3", 3], ["3.5", 3.5], ["4", 4], ["4.5", 4.5], ["5", 5],
                ["5.5", 5.5], ["6", 6], ["6.5", 6.5], ["7", 7], ["7.5", 7.5], ["8", 8], ["8.5", 8.5], ["9", 9], ["9.5", 9.5],
                ["10", 10], ["10.5", 10.5], ["11", 11], ["11.5", 11.5], ["12",12], ["12.5", 12.5], ["13", 13], ["13.5", 13.5],
                ["14", 14], ["14.5", 14.5], ["15", 15], ["16", 16], ["17", 17], ["18", 18]] %>
<!-- <div class="glass-search-form">
  <div class="search-filter">
    <div class="filters">
      <button class="dropdown-filter btn btn-dark" type="button">Filtres</button>
      <div class="filter-and-sneakers">
        <div class="dropdown-filter-items">
          <button class="dropdown-filter-laptop btn btn-dark" type="button">Filtres</button>
          <%= form_with url: sneakers_path, method: :get do |f| %>
            <%= f.select :category, brand, { include_blank: "Toute les marques" }, { class: "form-select", onchange: "this.form.submit();" } %>
            <%= f.select :price, price, { include_blank: "Tous les prix" }, {  class: "form-select", onchange: "this.form.submit();" } %>
            <%= f.select :condition, condition, { include_blank: "Toute condition" }, {  class: "form-select", onchange: "this.form.submit();" } %>
            <%= f.select :size, size, { include_blank: "Toute taille" }, {  class: "form-select", onchange: "this.form.submit();" } %>
          <% end %>
        </div>
        <div style="margin-top: 10vh">
          
        </div>
        
      </div>
    </div>
  </div>
</div> -->
<title>Recherche - Rock Don't Stock</title>
<div class="container">
  <section class="sneaker-featured">
    <div class="sneaker-featured__subtitle">Parcourir nos</div>
    <h2>Sneakers</h2>
    <div class="sneaker-featured-block">
      <div class="sneaker-featured-block__title">Sélection du jour</div>
      <div class="sneaker-featured-block__content">
        <%= cl_image_tag(Sneaker.first.photos.first.key, class: 'sneaker-featured-photo') %>
        <div class="sneaker-featured-details">
          <h2 class="sneaker-featured__name"><%= Sneaker.first.sneaker_db.name %></h2>
          <div class="sneaker-featured-details__options">
            <%= Sneaker.first.sneaker_db.category %> - Taille <%= Sneaker.first.size %> - Condition: <%= Sneaker.first.condition %>/10
          </div>
          <div class="sneaker-featured-details__price"><%= Sneaker.first.price %>€</div>
          <div>
            <button class="sneaker-featured-details__purchase">Acheter</button>
            <button class="sneaker-featured-details__discover">Découvrir le modèle</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div style="font-size: 1.563rem; margin-bottom: 3rem">Toutes les sneakers</div>
  <div class="d-flex align-items-start justify-content-between">
    <div style="width: 20%; position: sticky; top: 100px;">
      <%= form_with url: sneakers_path, method: :get do |f| %>
        <div class="form-group">
          <%= f.label "Marques", style: "font-weight: 700" %>
          <div><%= f.check_box :category, { multiple: true, class: "d-inline-block mb-2" }, "Nike", nil %> <span>Nike</span></div>
          <div><%= f.check_box :category, { multiple: true, class: "d-inline-block mb-2" }, "Jordan", nil %> <span>Jordan</span></div>
          <div><%= f.check_box :category, { multiple: true, class: "d-inline-block mb-2" }, "Adidas", nil %> <span>Adidas</span></div>
          <div><%= f.check_box :category, { multiple: true, class: "d-inline-block mb-2" }, "Yeezy", nil %> <span>Yeezy</span></div>
          <div><%= f.check_box :category, { multiple: true, class: "d-inline-block mb-2" }, "New Balance", nil %> <span>New Balance</span></div>
          <div><%= f.check_box :category, { multiple: true, class: "d-inline-block mb-2" }, "Asics", nil %> <span>Asics</span></div>
          <div><%= f.check_box :category, { multiple: true, class: "d-inline-block mb-2" }, "Autres", nil %> <span>Autres</span></div>
        </div>
        <div class="form-group">
          <%= f.label "Prix", style: "font-weight: 700" %>
        <div class="form-row">
          <%= f.number_field :min_price, min: 0, class: "col-4 mr-3", placeholder: "Min" %>
          <%= f.number_field :max_price, class: "col-4", placeholder: "Max" %>
        </div>
        </div>
        <div class="form-group">
          <%= f.label "Condition", style: "font-weight: 700" %>
          <div><%= f.check_box :category, { multiple: true, class: "d-inline-block mb-2" }, "6", nil %> <span>6/10 ou moins</span></div>
          <div><%= f.check_box :category, { multiple: true, class: "d-inline-block mb-2" }, "7", nil %> <span>7/10</span></div>
          <div><%= f.check_box :category, { multiple: true, class: "d-inline-block mb-2" }, "8", nil %> <span>8/10</span></div>
          <div><%= f.check_box :category, { multiple: true, class: "d-inline-block mb-2" }, "9", nil %> <span>9/10</span></div>
          <div><%= f.check_box :category, { multiple: true, class: "d-inline-block mb-2" }, "10", nil %> <span>10/10</span></div>
        </div>
        <div class="form-group">
          <%= f.label "Taille", style: "font-weight: 700" %>
          <div>
            <%= f.select :size, size, { include_blank: "Toute taille" }, {  style: "color: #495057; border-radius: 0; border: 1px solid #0E0E0E; padding: 0.5rem; background: none;" } %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="search-results" class="d-flex flex-wrap" style="width: 80%; gap: 2rem;">
      <%= render partial: 'sneakers/list_sneakers' %>
    </div>
  </div>
</div>
