<% brand = ["Adidas", "Air Jordan", "Nike", "New Balance", "Other Brands", "Luxury Brands", "Collections"] %>
<% price = [["Moins de 100€", 100], ["Moins de 200€", 200], ["Moins de 300€", 300], ["Plus de 300€", 301]] %>
<% condition = [["5/10 et moins", 5], ["6/10", 6], ["8/10", 8], ["9/10", 9], ["10/10", 10]] %>
<% size = [["1", 1], ["1.5", 1.5], ["2", 2], ["2.5", 2.5], ["3", 3], ["3.5", 3.5], ["4", 4], ["4.5", 4.5], ["5", 5],
                ["5.5", 5.5], ["6", 6], ["6.5", 6.5], ["7", 7], ["7.5", 7.5], ["8", 8], ["8.5", 8.5], ["9", 9], ["9.5", 9.5],
                ["10", 10], ["10.5", 10.5], ["11", 11], ["11.5", 11.5], ["12",12], ["12.5", 12.5], ["13", 13], ["13.5", 13.5],
                ["14", 14], ["14.5", 14.5], ["15", 15], ["16", 16], ["17", 17], ["18", 18]] %>
<!-- <div class="glass-search-form">
  <div class="search-filter">
    <div class="filters">
      <button class="dropdown-filter btn btn-dark" type="button">Filtres</button>
      <div class="filter-and-sneakers">
        <div class="dropdown-filter-items">
          <button class="dropdown-filter-laptop btn btn-dark" type="button">Filtres</button>
          <%= form_with url: sneakers_path, method: :get do |f| %>
            <%= f.select :category, brand, { include_blank: "Toute les marques" }, { class: "form-select", onchange: "this.form.submit();" } %>
            <%= f.select :price, price, { include_blank: "Tous les prix" }, {  class: "form-select", onchange: "this.form.submit();" } %>
            <%= f.select :condition, condition, { include_blank: "Toute condition" }, {  class: "form-select", onchange: "this.form.submit();" } %>
            <%= f.select :size, size, { include_blank: "Toute taille" }, {  class: "form-select", onchange: "this.form.submit();" } %>
          <% end %>
        </div>
        <div style="margin-top: 10vh">
          
        </div>
        
      </div>
    </div>
  </div>
</div> -->
<title>Recherche - Rock Don't Stock</title>
<div class="container">
  <section class="sneaker-featured">
    <div class="sneaker-featured__subtitle">Parcourir nos</div>
    <h2>Sneakers</h2>
    <div class="sneaker-featured-block">
      <%= link_to "Sélection du jour", sneaker_path(@selection_of_the_day), class: "sneaker-featured-block__title" %>
      <div class="sneaker-featured-block__content">
        <%= cl_image_tag(@selection_of_the_day.photos.first&.key, class: 'sneaker-featured-photo') %>
        <div class="sneaker-featured-details">
          <h2 class="sneaker-featured__name"><%= @selection_of_the_day.sneaker_db.name %></h2>
          <div class="sneaker-featured-details__options">
            <%= @selection_of_the_day.sneaker_db.category %> - Taille <%= @selection_of_the_day.size %> <br />Condition: <%= @selection_of_the_day.condition %>/10
          </div>
          <div class="sneaker-featured-details__price"><%= @selection_of_the_day.price %>€</div>
          <div>
            <button class="sneaker-featured-details__purchase">Acheter</button>
            <button class="sneaker-featured-details__discover">Découvrir le modèle</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="d-flex justify-content-between">
    <div style="font-size: 1.563rem; margin-bottom: 3rem">Toutes les sneakers</div>
    <div style="position: relative;">
      <div class="toggle-popover-btn" type="button" onclick="togglePopover('sortby')">
        Trier par <i class="fas fa-chevron-down"></i>
      </div>
      <div class="popover sortby-popover">
        <%= form_with url: sneakers_path, method: :get, html: { id: "sort-form-desktop" } do |f| %>
          <div class="form-check mb-1">
            <%= f.radio_button :sort_by, "price_cents ASC", { class: "form-check-input" } %>
            <%= f.label "Prix croissant", class: "form-check-label" %>
          </div>
          <div class="form-check mb-1">
            <%= f.radio_button :sort_by, "price_cents DESC", { class: "form-check-input" } %>
            <%= f.label "Prix décroissant", class: "form-check-label" %>
          </div>
          <div class="form-check mb-1">
            <%= f.radio_button :sort_by, "created_at DESC", { class: "form-check-input", checked: true } %>
            <%= f.label "Du plus récent au plus ancien", class: "form-check-label" %>
          </div>
          <div class="form-check mb-1">
            <%= f.radio_button :sort_by, "created_at ASC", { class: "form-check-input" } %>
            <%= f.label "Du plus ancien au plus récent", class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-start justify-content-between">
    <!-- FILTERS DESKTOP -->
    <div class="d-none d-lg-block" style="flex-grow: 1; top: 100px;">
      <%= form_with url: sneakers_path, method: :get, html: {id: "filter-form"} do |f| %>
        <div class="form-group">
          <%= f.label "Marques", class: "form-label", style: "font-weight: 700" %>
          <div class="form-check mb-1">
            <%= f.check_box :category, { multiple: true, class: "form-check-input" }, "Nike", nil %>
            <%= f.label "Nike", class: "form-check-label" %>
          </div>
          <div class="form-check mb-1">
            <%= f.check_box :category, { multiple: true, class: "form-check-input" }, "Jordan", nil %>
            <%= f.label "Jordan", class: "form-check-label" %>
          </div>
          <div class="form-check mb-1">
            <%= f.check_box :category, { multiple: true, class: "form-check-input" }, "Adidas", nil %>
            <%= f.label "Adidas", class: "form-check-label" %>
          </div>
          <div class="form-check mb-1">
            <%= f.check_box :category, { multiple: true, class: "form-check-input" }, "Yeezy", nil %>
            <%= f.label "Yeezy", class: "form-check-label" %>
          </div>
          <div class="form-check mb-1">
            <%= f.check_box :category, { multiple: true, class: "form-check-input" }, "New Balance", nil %>
            <%= f.label "New Balance", class: "form-check-label" %>
          </div>
          <div class="form-check mb-1">
            <%= f.check_box :category, { multiple: true, class: "form-check-input" }, "Asics", nil %>
            <%= f.label "Asics", class: "form-check-label" %>
          </div>
          <div class="form-check mb-1">
            <%= f.check_box :category, { multiple: true, class: "form-check-input" }, "Autres", nil %>
            <%= f.label "Autres", class: "form-check-label" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "Prix", class: "form-label", style: "font-weight: 700" %>
          <div class="row g-2">
            <div class="col-5">
              <%= f.number_field :min_price, min: 0, class: "form-control", placeholder: "Min" %>
            </div>
            <div class="col-5">
              <%= f.number_field :max_price, class: "form-control", placeholder: "Max" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "Condition", class: "form-label", style: "font-weight: 700" %>
          <div class="form-check mb-1">
            <%= f.check_box :condition, { multiple: true, class: "form-check-input" }, "6", nil %>
            <%= f.label "6/10 ou moins", class: "form-check-label" %>
          </div>
          <div class="form-check mb-1">
            <%= f.check_box :condition, { multiple: true, class: "form-check-input" }, "7", nil %>
            <%= f.label "7/10", class: "form-check-label" %>
          </div>
          <div class="form-check mb-1">
            <%= f.check_box :condition, { multiple: true, class: "form-check-input" }, "8", nil %>
            <%= f.label "8/10", class: "form-check-label" %>
          </div>
          <div class="form-check mb-1">
            <%= f.check_box :condition, { multiple: true, class: "form-check-input" }, "9", nil %>
            <%= f.label "9/10", class: "form-check-label" %>
          </div>
          <div class="form-check mb-1">
            <%= f.check_box :condition, { multiple: true, class: "form-check-input" }, "10", nil %>
            <%= f.label "10/10", class: "form-check-label" %>
          </div>
        </div>
        <div class="form-group" style="position:relative;">
          <div class="popover size-popover">
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "1", nil %>
              <%= f.label "1", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "2", nil %>
              <%= f.label "2", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "3", nil %>
              <%= f.label "3", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "4", nil %>
              <%= f.label "4", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "5", nil %>
              <%= f.label "5", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "6", nil %>
              <%= f.label "6", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "7", nil %>
              <%= f.label "7", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "8", nil %>
              <%= f.label "8", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "9", nil %>
              <%= f.label "9", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "10", nil %>
              <%= f.label "10", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "1", nil %>
              <%= f.label "1", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "2", nil %>
              <%= f.label "2", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "3", nil %>
              <%= f.label "3", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "4", nil %>
              <%= f.label "4", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "5", nil %>
              <%= f.label "5", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "6", nil %>
              <%= f.label "6", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "7", nil %>
              <%= f.label "7", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "8", nil %>
              <%= f.label "8", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "9", nil %>
              <%= f.label "9", class: "form-check-label" %>
            </div>
            <div class="form-check mb-1">
              <%= f.check_box :size, { multiple: true, class: "form-check-input" }, "10", nil %>
              <%= f.label "10", class: "form-check-label" %>
            </div>
          </div>
          <%= f.label '', class: "form-label toggle-popover-btn", style: "font-weight: 700; cursor: pointer;", onclick: "togglePopover('size')" do %>
            Taille
            <i class="fas fa-chevron-down"></i>
          <% end %>
          <!-- <%= f.select :size, size, { include_blank: "Toute taille" }, {  style: "display: block; color: #495057; border-radius: 0; border: 1px solid #0E0E0E; padding: 0.5rem; background: none;" } %> -->
          <!-- <div class="dropdown-fields" style="display: none; margin-top: 0.5rem;"> -->
            <!-- <%= f.select :size, size, { include_blank: "Toute taille" }, {  style: "display: block; color: #495057; border-radius: 0; border: 1px solid #0E0E0E; padding: 0.5rem; background: none;" } %> -->
          <!-- </div> -->
        </div>
      <% end %>
    </div>
    <div id="search-results" class="d-flex flex-wrap justify-content-center" style="width: 100%; flex-shrink: 2; gap: 2rem;">
      <%= render partial: 'sneakers/list_sneakers' %>
    </div>
  </div>
</div>

<script>
  let filterForm = document.getElementById("filter-form");
  let sortFormMobile = document.getElementById("sort-form-mobile");
  let sortForm = document.getElementById("sort-form-desktop");

  filterForm.querySelectorAll('input').forEach(input => {
    input.addEventListener('change', _ => {
      let formData = new FormData(filterForm);
      Rails.ajax({
        type: filterForm.method,
        url: filterForm.action,
        dataType: "json",
        data: new URLSearchParams(formData),
        processData: false,
        contentType: false
      })
    })
  })
  sortFormMobile.querySelectorAll('input').forEach(input => {
    input.addEventListener('change', _ => {
      hidePopup();

      let formData = new FormData(sortFormMobile);
      Rails.ajax({
        type: sortFormMobile.method,
        url: sortFormMobile.action,
        dataType: "json",
        data: new URLSearchParams(formData),
        processData: false,
        contentType: false
      })
    })
  })
  sortForm.querySelectorAll('input').forEach(input => {
    input.addEventListener('change', _ => {
      let formData = new FormData(sortForm);
      Rails.ajax({
        type: sortForm.method,
        url: sortForm.action,
        dataType: "json",
        data: new URLSearchParams(formData),
        processData: false,
        contentType: false
      })
    })
  })

  function revealPopup(which) {
    document.body.style.overflowY = 'hidden'
    document.querySelector('.popup-close-icon').style.display = "block"

    if (which == "filter") {
      document.querySelector('.sort-btn').style.display = "none"
      document.querySelector('.filter-btn').style.textAlign = "right"
      document.querySelector('.filter-btn').style.border = "none"
      document.querySelector('.filter-popup').style.display = "block"
    } else {
      document.querySelector('.filter-btn').style.display = "none"
      document.querySelector('.sort-btn').style.textAlign = "right"
      document.querySelector('.sort-btn').style.border = "none"
      document.querySelector('.sort-popup').style.display = "block"
    }
  }

  function hidePopup() {
    // reset buttons
    document.querySelector('.filter-btn').style.textAlign = "center"
    document.querySelector('.filter-btn').style.border = "1px solid #0E0E0E"
    document.querySelector('.filter-btn').style.borderRight = "none"
    document.querySelector('.sort-btn').style.textAlign = "center"
    document.querySelector('.sort-btn').style.border = "1px solid #0E0E0E"

    document.querySelector('.popup-close-icon').style.display = "none"
    document.querySelector('.filter-btn').style.display = "block"
    document.querySelector('.sort-btn').style.display = "block"
    document.querySelector('.filter-popup').style.display = "none"
    document.querySelector('.sort-popup').style.display = "none"
    document.body.style.overflowY = ''
  }

  function togglePopover(which) {
    let el = document.querySelector(`.${which}-popover`);

    if (el.style.display === "block") el.style.display = "none"
    else el.style.display = "block"
  }

  // close popovers when clicking outside
  document.body.addEventListener('click', (e) => {
    if (e.target.classList.contains('toggle-popover-btn')) return

    if (!e.target.closest('.popover')) {
      let popovers = document.querySelectorAll('.popover');
      popovers.forEach(p => p.style.display = "none")
    }
  })

  document.querySelectorAll('.sneaker-index__card').forEach(el => {

    el.addEventListener('click', function() {
      window.location.href = "<%= sneakers_url %>/" + this.dataset.sneakerId;
    })
    el.addEventListener('touchstart', function() {
      window.location.href = "<%= sneakers_url %>/" + this.dataset.sneakerId;
    })

  })
</script>

<style>
.size-popover {
  display: none;
  position: absolute;
  top: 2rem;
  width: 100%;
  height: 10rem;
  padding: 1rem;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  background: white;
  overflow-y: scroll;
  z-index: 999;
}
.sortby-popover {
  display: none;
  position: absolute;
  width: max-content;
  top: 2rem;
  right: 0;
  padding: 1rem;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  background: white;
  z-index: 999;
}
.popup-close-icon {
  cursor: pointer;
  transition: margin 0.2s ease;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 120px; /* height of navbar + filter/sort buttons*/
  bottom: 0;
  overflow-y: scroll;
  padding: 2rem 1rem;
  background: white;
}
.popup::-webkit-scrollbar {
  display: none; /* chrome safari opera */
}
.popup {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 
.card {
  margin-bottom: 1rem;
}
.card-header {
  background-color: white;
  border: 1px solid #0E0E0E;
  border-radius: 0 !important;
  padding: 1rem;
}
.filter-title {
  padding: 0.5rem;
  font-size: 1rem;
}
</style>