<% brand = ["Adidas", "Air Jordan", "Nike", "New Balance", "Other Brands", "Luxury Brands", "Collections"] %>
<% price = [["Moins de 100€", 100], ["Moins de 200€", 200], ["Moins de 300€", 300], ["Plus de 300€", 301]] %>
<% condition = [["5/10 et moins", 5], ["6/10", 6], ["8/10", 8], ["9/10", 9], ["10/10", 10]] %>
<% size = [["1", 1], ["1.5", 1.5], ["2", 2], ["2.5", 2.5], ["3", 3], ["3.5", 3.5], ["4", 4], ["4.5", 4.5], ["5", 5],
                ["5.5", 5.5], ["6", 6], ["6.5", 6.5], ["7", 7], ["7.5", 7.5], ["8", 8], ["8.5", 8.5], ["9", 9], ["9.5", 9.5],
                ["10", 10], ["10.5", 10.5], ["11", 11], ["11.5", 11.5], ["12",12], ["12.5", 12.5], ["13", 13], ["13.5", 13.5],
                ["14", 14], ["14.5", 14.5], ["15", 15], ["16", 16], ["17", 17], ["18", 18]] %>
<div class="glass-search-form">
  <div class="search-filter">
    <div class="filters">
      <button class="dropdown-filter btn btn-dark" type="button">Filtres</button>
      <div class="filter-and-sneakers">
        <div class="dropdown-filter-items">
          <button class="dropdown-filter-laptop btn btn-dark" type="button">Filtres</button>
          <%= form_with url: sneakers_path, method: :get do |f| %>
            <%= f.select :category, brand, { include_blank: "Toute les marques" }, { class: "form-select", onchange: "this.form.submit();" } %>
            <%= f.select :price, price, { include_blank: "Tous les prix" }, {  class: "form-select", onchange: "this.form.submit();" } %>
            <%= f.select :condition, condition, { include_blank: "Toute condition" }, {  class: "form-select", onchange: "this.form.submit();" } %>
            <%= f.select :size, size, { include_blank: "Toute taille" }, {  class: "form-select", onchange: "this.form.submit();" } %>
          <% end %>
        </div>
        <div style="margin-top: 10vh">
          <%= render partial: 'sneakers/list_sneakers' %>
        </div>
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>
