<!-- <h1>Ajouter sa paire </h1> -->

<div class="container search-sneaker-model">
  <% unless params[:sneaker_db_id].present? %>
    <div data-controller="refresh-list">
      <div class="search-models">
        <h1 class="search-sneaker-model-title">Recherche ton modèle</h1>
        <%= form_with url: sneaker_dbs_path, method: :get, html: { class: 'mb-5 search-sneaker-model-form', data: { refresh_list_target: 'form' } } do |f| %>
          <%= f.text_field :query,
            class: "form-control",
            placeholder: 'Recherche ta paire',
            value: params[:query],
            data: {
              refresh_list_target: 'searchInput',
              action: "keyup->refresh-list#update",
            } %>
        <% end %>

      <!-- <div class="search-models" > -->
        <div data-refresh-list-target="list">
          <!-- <div id="scroll" class="container">
            <div class="sneaker-cards" >
              <% @sneaker_dbs.all.limit(8).each do |sneaker| %>
                  <div class="sneaker-card" data-refresh-list-target="sneakerBtn" data-action="click->refresh-list#displayBtn">
                      <div class="sneaker-card_img">
                     <%= image_tag(sneaker.img_url, style: 'width: 100%; justify-content:center;') %>
                    <button data-action="click->refresh-list#greet" id="gaga" type="button" class="choose-btn btn btn-primary" data-id="<%= sneaker.id %>">C'est ma paire</button>
                    </div>
                    <div class="sneaker-title"><strong><%= sneaker.name %></strong></div>
                    <div class="sneaker-price">À partir de <%= sneaker.price_cents %>€</div>
                  </div>
              <% end %>
            </div>  
          </div> -->
        </div>
      <!-- </div> -->
      </div>
    <% end %>
    

    <% if params[:sneaker_db_id].present? %>
      <h1 class="search-sneaker-model-title">Remplir les informations</h1>
      <div class="new-sneaker-form" >
        <%= render "form", sneaker: @sneaker, sneaker_db: @sneaker_db %>      
      </div>
    <% end %>
    
    
  </div>
</div>




<style type="text/css">

  @media (min-width: 768px) {
    .search-sneaker-model-form {
      width: 400px;
    }
  }
  @media (min-width: 1024px) {
    .search-sneaker-model-form {
      width: 500px;
    }
  }
  

  .new-sneaker-form {
    /*margin-top: 70px;*/
  }
  .search-sneaker-model-title {
    text-align: center;
    margin-bottom:40px;
  }
  
  .search-sneaker-model {
    margin-top: 60px;
  }
  .search-models {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .choose-btn {
    display:none;
    position:absolute;

  }
  .btn-sneaker-card-img {
    border: none;
    background-color: white;
  }

</style>

<script type="text/javascript">
  // $(document).ready(function() {
  //   $('.search-sneaker-model-form').on('input', function() {
  //     $('.search-sneaker-model ').css('height', 'auto');
  //   });
  // });

</script>