<h1><%= @sneaker.name %></h1>


<p><%= @sneaker.name %></p>
<p>Taille : <%= @sneaker.size %></p>
<p>Prix : <%= @sneaker.price %>€</p>
<p>Condition : <%= @sneaker.condition %>/10</p>
<p>Numéro de série : <%= @sneaker.serial_number %></p>
<p>Box : <%= @sneaker.box %></p>
<p>Extras : <%= @sneaker.extras %></p>

<%=	link_to "Retour à la liste", sneakers_path%>