<title>Article - Rock Don't Stock</title>
<div class="container">
  <%= link_to :back, class: "back-button" do %>
    <div>&larr; La marketplace</div>
  <% end %>
  <section class="sneaker-infos">
    <%= cl_image_tag(@sneaker.photos.first.key, class: 'sneaker-infos-photos') %>
    <div class="sneaker-details">
      <div>
        <h2 class="sneaker-details__name"><%= @sneaker.sneaker_db.name %></h2>
        <div class="sneaker-details__options">
          <%= @sneaker.sneaker_db.category %> - Taille <%= @sneaker.size %> - Condition: <%= @sneaker.condition %>/10
        </div>
      </div>
      <div class="sneaker-details__price"><%= @sneaker.price %>€</div>
      <div>
        <div class="sneaker-details__box">Livrée avec une <%= @sneaker.box %></div>
        <div class="sneaker-details__legal-descr">L’authenticité et la conformité du modèle seront vérifiées par nos experts avant de t’être envoyée afin de t’assurer la meilleure experience possible.</div>
      </div>
      <button class="sneaker-details__purchase">Commander</button>
      <ul class="sneaker-details__legal-infos-list mb-0">
        <li><%= image_tag("images/icon_calendar.svg") %> Expédition garantie</li>
        <li><%= image_tag("images/icon_truck.svg") %> Livraison à partir de 5€</li>
        <li><%= image_tag("images/icon_verified.svg") %> Authentifiée par nos experts</li>
      </ul>
      <!-- <div class="trustpilot"></div> -->
    </div>
  </section>
  <section class="sneaker-service">
    <div class="sneaker-service__subtitle">Le service Rock Dont't Stock</div>
    <h2>Pourquoi nous ?</h2>
    <div class="sneaker-service-block">
      <div class="sneaker-service__card">
        <%= image_tag("images/sticker_approved.png", class: "sneaker-service__card__img") %>
        <div>
          <div class="sneaker-service__card__title">100% authentiques</div>
          <div>Cette paire passera entre les mains de nos experts en Legit Check afin de te garantir son authenticité</div>
        </div>
      </div>
      <div class="sneaker-service__card">
        <%= image_tag("images/sticker_truck.png", class: "sneaker-service__card__img") %>
        <div>
          <div class="sneaker-service__card__title">Livraison dès 5€</div>
          <div>Nous collaborons avec les transporteurs les plus sûrs pour plus de sécurité.</div>
        </div>
      </div>
      <div class="sneaker-service__card">
        <%= image_tag("images/sticker_clock.png", class: "sneaker-service__card__img") %>
        <div>
          <div class="sneaker-service__card__title">Déjà expédié</div>
          <div>Le vendeur dispose de 2 jours pour envoyer ta commande, passé ce délai ton argent te sera réstitué.</div>
        </div>
      </div>
    </div>
  </section>
  <section class="sneaker-similar">
    <div class="sneaker-similar__subtitle">Vous aimerez aussi</div>
    <div class="sneaker-similar-block" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false, "cellSelector": ".flickity-cell" }'>
      <div class="flickity-cell d-inline-block">
        <div class="sneaker-similar__card">
          <%= cl_image_tag(@sneaker.photos.first.key, class: 'sneaker-similar__card__photo') %>
          <div class="sneaker-similar__card__name"><%= @sneaker.sneaker_db.name %></div>
          <div class="sneaker-similar__card__options">
            <%= @sneaker.sneaker_db.category %> - Taille <%= @sneaker.size %> - Condition: <%= @sneaker.condition %>/10
          </div>
          <div class="sneaker-similar__card__price"><%= @sneaker.price %>€</div>
        </div>
      </div>
      <div class="flickity-cell d-inline-block">
        <div class="sneaker-similar__card">
          <%= cl_image_tag(@sneaker.photos.first.key, class: 'sneaker-similar__card__photo') %>
          <div class="sneaker-similar__card__name"><%= @sneaker.sneaker_db.name %></div>
          <div class="sneaker-similar__card__options">
            <%= @sneaker.sneaker_db.category %> - Taille <%= @sneaker.size %> - Condition: <%= @sneaker.condition %>/10
          </div>
          <div class="sneaker-similar__card__price"><%= @sneaker.price %>€</div>
        </div>
      </div>
      <div class="flickity-cell d-inline-block">
        <div class="sneaker-similar__card">
          <%= cl_image_tag(@sneaker.photos.first.key, class: 'sneaker-similar__card__photo') %>
          <div class="sneaker-similar__card__name"><%= @sneaker.sneaker_db.name %></div>
          <div class="sneaker-similar__card__options">
            <%= @sneaker.sneaker_db.category %> - Taille <%= @sneaker.size %> - Condition: <%= @sneaker.condition %>/10
          </div>
          <div class="sneaker-similar__card__price"><%= @sneaker.price %>€</div>
        </div>
      </div>
      <div class="flickity-cell d-inline-block">
        <div class="sneaker-similar__card">
          <%= cl_image_tag(@sneaker.photos.first.key, class: 'sneaker-similar__card__photo') %>
          <div class="sneaker-similar__card__name"><%= @sneaker.sneaker_db.name %></div>
          <div class="sneaker-similar__card__options">
            <%= @sneaker.sneaker_db.category %> - Taille <%= @sneaker.size %> - Condition: <%= @sneaker.condition %>/10
          </div>
          <div class="sneaker-similar__card__price"><%= @sneaker.price %>€</div>
        </div>
      </div>
      <div class="flickity-cell d-inline-block">
        <div class="sneaker-similar__card">
          <%= cl_image_tag(@sneaker.photos.first.key, class: 'sneaker-similar__card__photo') %>
          <div class="sneaker-similar__card__name"><%= @sneaker.sneaker_db.name %></div>
          <div class="sneaker-similar__card__options">
            <%= @sneaker.sneaker_db.category %> - Taille <%= @sneaker.size %> - Condition: <%= @sneaker.condition %>/10
          </div>
          <div class="sneaker-similar__card__price"><%= @sneaker.price %>€</div>
        </div>
      </div>
      <div class="flickity-cell d-inline-block">
        <div class="sneaker-similar__card">
          <%= cl_image_tag(@sneaker.photos.first.key, class: 'sneaker-similar__card__photo') %>
          <div class="sneaker-similar__card__name"><%= @sneaker.sneaker_db.name %></div>
          <div class="sneaker-similar__card__options">
            <%= @sneaker.sneaker_db.category %> - Taille <%= @sneaker.size %> - Condition: <%= @sneaker.condition %>/10
          </div>
          <div class="sneaker-similar__card__price"><%= @sneaker.price %>€</div>
        </div>
      </div>
    </div>
  </section>
</div>