<title>Mon annonce - Rock Don't Stock</title>
<h1 class="sneaker-show-title">Mon annonce</h1>
<div class="sneaker-show">
  <div id="carouselSneakerShow" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag(@sneaker.photos[0].key, class: 'sneaker-show-photos') %>
      </div>
      <div class="carousel-item ">
        <%=cl_image_tag(@sneaker.photos[1].key, class: 'sneaker-show-photos') %>
      </div>
      <div class="carousel-item ">
        <%= cl_image_tag(@sneaker.photos[2].key, class: 'sneaker-show-photos') %>
      </div>
      <div class="carousel-item ">
        <%= cl_image_tag(@sneaker.photos[3].key, class: 'sneaker-show-photos') %>
      </div>
      <div class="carousel-item ">
        <%= cl_image_tag(@sneaker.photos[4].key, class: 'sneaker-show-photos') %>
      </div>
      <div class="carousel-item ">
        <%= cl_image_tag(@sneaker.photos[5].key, class: 'sneaker-show-photos') %>
      </div>
      <% unless @sneaker.photos[6].nil? %>
        <div class="carousel-item ">
          <%= cl_image_tag(@sneaker.photos[6].key, class: 'sneaker-show-photos') %>
        </div>
      <% end %>
      <% unless @sneaker.photos[7].nil? %>
        <div class="carousel-item ">
          <%= cl_image_tag(@sneaker.photos[7].key, class: 'sneaker-show-photos') %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselSneakerShow" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon sneaker-show-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselSneakerShow" role="button" data-slide="next">
      <span class="carousel-control-next-icon sneaker-show-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
    
  <div class="sneaker-show-infos">
    <h2 class="sneaker-show-infos-title"><%= @sneaker.sneaker_db.name %></h2>
    <p><strong>Taille : </strong><%=  @sneaker.size %> US</p> <%#= US (shoes_size[@sneaker.size] FR)%>
    <p><strong>Prix : </strong><%= humanized_money_with_symbol(@sneaker.price) %></p>
    <p><strong>Condition : </strong><%= @sneaker.condition %>/10</p>
    <p><strong>Box : </strong><%= @sneaker.box %></p>
    <p><strong>Extras : </strong><%= @sneaker.extras %></p>

    <%# if current_user != @sneaker.user %>
      <%#= form_tag orders_path do %>
        <%#= hidden_field_tag 'sneaker_id', @sneaker.id %>
        <%#= submit_tag 'Acheter', class: 'btn btn-primary' %>
      <%# end %>
    <%# end %>

    <%# if policy(@sneaker).edit? && @sneaker.state == 0 %>
      <!-- <button type="button" class="btn btn-dark sneaker-show-btn"> -->
        <%#= link_to "Modifier la paire", edit_sneaker_path(@sneaker), style: 'color: white;' %>
      <!-- </button> -->
    <%# end %>

    <% if policy(@sneaker).destroy? %>
      <button type="button" class="btn btn-danger sneaker-show-btn">
        <%= link_to "Supprimer", sneaker_path(@sneaker), method: :delete, data: { confirm: "Are you sure?" }, style: 'color: white;' %>
      </button>
    <% end %>   

  </div>
</div>
