<h1><%= @sneaker.name %></h1>


<p><%= @sneaker.name %></p>
<p>Taille : <%= @sneaker.size %></p>
<p>Prix : <%= @sneaker.price %>€</p>
<p>Condition : <%= @sneaker.condition %>/10</p>
<p>Numéro de série : <%= @sneaker.serial_number %></p>
<p>Box : <%= @sneaker.box %></p>
<p>Extras : <%= @sneaker.extras %></p>

<% if policy(@sneaker).edit? %>
	<%= link_to "Modifier #{@sneaker.name}", edit_sneaker_path(@sneaker) %>
<% end %>

<% if policy(@sneaker).destroy? %>
	<%=	link_to "Supprimer", sneaker_path(@sneaker), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>		

	
<%=	link_to "Retour à la liste", sneakers_path%>

