<title><%= @sneaker.sneaker_db.name %> - Rock Don't Stock</title>
<div class="container">
  <%= link_to :back, class: "back-button" do %>
    <div><i class="fas fa-arrow-left ms-0"></i> La marketplace</div>
  <% end %>
  <section class="sneaker-infos">
    <div class="sneaker-infos__photos-carousel">
      <% @sneaker.photos.each do |photo| %>
        <%= cl_image_tag(photo.key, class: 'sneaker-infos__photo', raw_transformation: "c_limit,h_700,q_auto,w_700") %>
      <% end %>
      
      <!-- <div class="swiper-wrapper">
        <div class="swiper-slide">
          <%= cl_image_tag(@sneaker.photos.first&.key, class: 'sneaker-infos__photo') %>
        </div>
        <div class="swiper-slide">
          <%= cl_image_tag(@sneaker.photos.first&.key, class: 'sneaker-infos__photo') %>
        </div>
        <div class="swiper-slide">
          <%= cl_image_tag(@sneaker.photos.first&.key, class: 'sneaker-infos__photo') %>
        </div>
      </div> -->
      <!-- <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->
    </div>
    <div class="sneaker-details">
      <div>
        <h2 class="sneaker-details__name"><%= @sneaker.sneaker_db.name %></h2>
        <div class="sneaker-details__options">
          <%= @sneaker.sneaker_db.category %> - Taille <%= @sneaker.size %> <br />Condition: <%= @sneaker.condition %>/10
        </div>
      </div>
      <div class="sneaker-details__price"><%= @price %>€</div>
      <div>
        <div class="sneaker-details__box"><%= @sneaker.box ? "Livrée avec une #{@sneaker.box}." : "Livrée sans boîte." %><%= " #{@sneaker.extras}" if @sneaker.extras %></div>
        <div class="sneaker-details__legal-descr">L’authenticité et la conformité du modèle seront vérifiées par nos experts avant de t’être envoyée afin de t’assurer la meilleure experience possible.</div>
      </div>
      <div class="sneaker-details__buttons">
        <div>
          <%= button_to "Commander", new_sneaker_order_path(@sneaker.id), method: :get, class: "sneaker-details__purchase" %>
        </div>
        <div>
          <%= button_to ("#{@offer ? "Refaire" : "Faire"} une offre"), new_sneaker_offer_path(@sneaker.id), method: :get, remote: true, class: "sneaker-details__bid" %>
        </div>
      </div>
      <ul class="sneaker-details__legal-infos-list mb-0">
        <li><%= image_tag("images/icon_calendar.svg") %> Expédition garantie</li>
        <li><%= image_tag("images/icon_truck.svg") %> Livraison à partir de 5€</li>
        <li><%= image_tag("images/icon_verified.svg") %> Authentifiée par nos experts</li>
      </ul>
      <!-- <div class="trustpilot"></div> -->
    </div>
  </section>
  <section class="sneaker-service">
    <div class="sneaker-service__subtitle">Le service Rock Dont't Stock</div>
    <h2>Pourquoi nous ?</h2>
    <div class="sneaker-service-block">
      <div class="sneaker-service__card">
        <%= image_tag("images/sticker_approved.png", class: "sneaker-service__card__img") %>
        <div>
          <div class="sneaker-service__card__title">100% authentiques</div>
          <div>Cette paire passera entre les mains de nos experts en Legit Check afin de te garantir son authenticité</div>
        </div>
      </div>
      <div class="sneaker-service__card">
        <%= image_tag("images/sticker_truck.png", class: "sneaker-service__card__img") %>
        <div>
          <div class="sneaker-service__card__title">Livraison dès 5€</div>
          <div>Nous collaborons avec les transporteurs les plus sûrs pour plus de sécurité.</div>
        </div>
      </div>
      <div class="sneaker-service__card">
        <%= image_tag("images/sticker_clock.png", class: "sneaker-service__card__img") %>
        <div>
          <div class="sneaker-service__card__title">Déjà expédié</div>
          <div>Le vendeur dispose de 2 jours pour envoyer ta commande, passé ce délai ton argent te sera réstitué.</div>
        </div>
      </div>
    </div>
  </section>
  <section class="sneaker-similar">
    <div class="sneaker-similar__subtitle">Vous aimerez aussi</div>
    <div class="sneaker-similar-block" data-flickity='{ "setGallerySize": false, "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false, "cellSelector": ".flickity-cell" }'>
      <% @similar_sneakers.each do |sneaker| %>
        <div class="flickity-cell d-inline-block">
          <div class="sneaker-similar__card">
            <%= cl_image_tag(sneaker.photos.first&.key, class: 'sneaker-similar__card__photo', raw_transformation: "c_limit,h_700,q_auto,w_700") %>
            <%= link_to sneaker.sneaker_db.name, sneaker_path(sneaker), class: "sneaker-similar__card__name" %>
            <div class="sneaker-similar__card__options">
              <%= sneaker.sneaker_db.category %> - Taille <%= sneaker.size %> <br />Condition: <%= sneaker.condition %>/10
            </div>
            <div class="sneaker-similar__card__price"><%= sneaker.price %>€</div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>

<style>
/* offset to allow border to be seen */
.sneaker-similar-block .flickity-viewport {
  height: 461px !important;
}
</style>

<script>
var flkty = new Flickity( '.sneaker-infos__photos-carousel', {
  cellSelector: '.sneaker-infos__photo',
  wrapAround: true,
  imagesLoaded: true,
  fullscreen: true,
  setGallerySize: false,
  pageDots: false
});

// max card name is 3 lines
document.querySelectorAll('.sneaker-similar__card__name').forEach(cardName => {
  clamp(cardName, { clamp: 2, useNativeClamp: false })
})
</script>