<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="0f2Z1JEsAvm4lMlatrj3CtE_O9A2JbjFCU3PRGjPN4Y" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PCZVGFW');</script>
    <!-- End Google Tag Manager -->

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Facebook Card data -->
    <meta property="og:title" content="Rock Don't Stock" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.rockdontstock.com/" />
    <meta property="og:image" content="assets/logo_tab.png" />
    <meta property="og:description" content="Le but de Rock Don’t Stock ? Lutter contre le fake et l’explosion des prix tout en promouvant la sneakers rockée." />
    <meta property="og:site_name" content="Rock Don't Stock" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://www.rockdontstock.com/">
    <meta name="twitter:title" content="Rock Don’t Stock">
    <meta name="twitter:description" content="Le but de Rock Don’t Stock ? Lutter contre le fake et l’explosion des prix tout en promouvant la sneakers rockée.">
    <meta name="twitter:image:src" content="assets/logo_tab.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="description" content="Le but de Rock Don’t Stock ? Lutter contre le fake et l’explosion des prix tout en promouvant la sneakers rockée.">

    <link rel="icon" type="image/png" href="assets/logo_tab.png" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="//unpkg.com/leaflet/dist/leaflet.css" />  

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//unpkg.com/leaflet/dist/leaflet.js"></script>  
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
    <script type="text/javascript" src="https://widget.mondialrelay.com/parcelshop-picker/jquery.plugin.mondialrelay.parcelshoppicker.min.js"></script>  
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  
  <!-- Global site tag (gtag.js) - Google Analytics --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LZ3RZJJHZ3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LZ3RZJJHZ3');
  </script>
  
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCZVGFW"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    
    <script>
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000"
        },
        "button": {
          "background": "#f1d600"
        }
      },
      "position": "bottom-left",
      "content": {
        "message": "En cliquant sur \"Accepter tous les cookies\", vous acceptez que Rock Don't Stock puisse stocker des cookies sur votre appareil et divulguer des informations conformément à notre politique en matière de cookies.",
        "dismiss": "Accepter",
        "link": "En savoir plus",
        "href": "https://www.rockdontstock.com/cgu"
      }
    });
    </script>
    
    <%= render partial: 'shared/navbar' %>
    <%= render partial: 'shared/flashes' %>

    <%= yield %>

    <%= render partial: 'shared/footer' %>
  </body>
</html>

<script>
$(document).ready(function () {
  $(".purchase-form__shipping__relay-map").MR_ParcelShopPicker({
    Target: "#purchase-form__shipping__relay-id",
    Brand: "CC22982B", // code client Mondial Relay  
    Country: "FR",
    PostCode: "75001",
    Responsive: true,
    ShowResultsOnMap: true,
    NbResults: "8",
    OnParcelShopSelected: function(shop) {
      document.querySelector('.purchase-form__shipping__relay-target-address').innerHTML = `${shop.Nom}, ${shop.Adresse1?.toLowerCase()} ${shop.Adresse2?.toLowerCase() || ''}`
      document.querySelector('.purchase-form__shipping__relay-target-city').innerHTML = `${shop.CP} ${shop.Ville?.toLowerCase()}`
      document.querySelector('.purchase-form__shipping__relay-map').style.display = "none"

      document.getElementById('order_relay_address').value = shop.Nom + " " + shop.Adresse1 + " " + (shop.Adresse2 ? shop.Adresse2 + " " : "") + shop.CP + " " + shop.Ville

      
    },
    OnSearchSuccess: function(data) {
      let result = data.PRList[0]
      let id = result.Pays + result.ID
      $(".purchase-form__shipping__relay-map").trigger("MR_SetParams", { AutoSelect: id })
      document.querySelector('.purchase-form__shipping__relay-target-address').innerHTML = `${result.Nom}, ${result.Adresse1?.toLowerCase()} ${result.Adresse2?.toLowerCase() || ''}`
      document.querySelector('.purchase-form__shipping__relay-target-city').innerHTML = `${result.CP} ${result.Ville?.toLowerCase()}`
    }
  });
});
</script>



