<!DOCTYPE html>
<html>
  <head>
    <title>Rock Don't Stock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="icon" href="/assets/logo_tab.png" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
  </head>
  <script src="https://js.stripe.com/v3/"></script>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <!-- <p class="notice"><%= notice %></p> -->
    <!-- <p class="alert"><%= alert %></p>    -->
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>



<style type="text/css">
  .input-signin {
    border:none;
  }
</style>