<%#  
if current_user
  if current_user.stripe_account_id? && current_user.sneakers.present? && (current_user.date_of_birth? && current_user.line1? && current_user.city? && current_user.postal_code? && current_user.phone?)    
    @account = Stripe::Account.retrieve(current_user.stripe_account_id)
    @balance = Stripe::Balance.retrieve({
      stripe_account: current_user.stripe_account_id
    })
  end 
end
%>

<!DOCTYPE html>
<html>
  <head>
    <title>Rock Don't Stock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="icon" href="/assets/logo_tab.png" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    
    <script src="https://js.stripe.com/v3/" async></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
  </head>

 <body>
    <%# if current_user %>
      <%# if current_user.sneakers.present? && (!current_user.date_of_birth? || !current_user.line1? || !current_user.city? || !current_user.postal_code? || !current_user.phone?) %>
        <!-- <div class="missing_infos">
          <p>Pour que votre paire soit mise en ligne, remplissez votre <strong>date de naissace</strong>, votre <strong>adresse</strong>  et votre <strong>numéro de téléphone</strong> sur <%#= link_to "mon profil", edit_user_registration_path%> </p>
        </div> -->
      <%# end %>
      <%# raise %>
      <%# if (!current_user.ids[0].present? || !current_user.ids[1].present? || !current_user.ids[2].present?) && (current_user.stripe_account_id? && current_user.sneakers.present? && (@balance.pending[0].amount > 0 || @balance.available[0].amount > 0))%>
        <!-- <div class="missing_infos">
          <p>Pour recevoir votre remplissez votre solde, vous devez upload votre <strong>carte d'identité</strong> et un <strong>justificatif de domicile</strong> sur <%#= link_to "mon profil", edit_user_registration_path%> </p>
        </div> -->
      <%# end %>
    <%# end %>
    <% if current_user.nil?  %>
    <div class="container session-new">
      <h2 class="title-login text-center">J-5</h2>
      <div class="session-new-form row justify-content-center align-items-center">
        <div class="input-signin">
          <%= simple_form_for(User.new, as: :user, url: new_user_session_path) do |f| %>
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" }, label: false, placeholder: 'Email' %>
            <%= f.input :password,
                        label: "Mot de passe",
                        required: false,
                        input_html: { autocomplete: "current-password" }, label: false, placeholder: 'Mot de passe' %>
            
            <%= f.button :submit, "Connexion", id: 'connect-btn', class: 'text-center btn btn-dark' %>
          <% end %>
        </div>  
      </div>
    </div>
  <% end %>

   <% if current_user.present? && (current_user.email == "elliot@rockdontstock.com" || current_user.email == "nils@rockdontstock.com" || current_user.email == "thomassarafian@gmail.com")  %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <!-- <p class="notice"><%= notice %></p> -->
      <!-- <p class="alert"><%= alert %></p>    -->
      <%= yield %>
      <%= render 'shared/footer' %>
    <%# elsif current_user.present? %>
      <%# reset_session  %>
  <% end %>
  </body>
</html>



<style type="text/css">
  .input-signin {
    border:none;
  }
</style>