<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PCZVGFW');</script>
    <!-- End Google Tag Manager -->

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Facebook Card data -->
    <meta property="og:title" content="Rock Don't Stock" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.rockdontstock.com/" />
    <meta property="og:image" content="assets/logo_tab.png" />
    <meta property="og:description" content="Le but de Rock Don’t Stock ? Lutter contre le fake et l’explosion des prix tout en promouvant la sneakers rockée." />
    <meta property="og:site_name" content="Rock Don't Stock" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://www.rockdontstock.com/">
    <meta name="twitter:title" content="Rock Don’t Stock">
    <meta name="twitter:description" content="Le but de Rock Don’t Stock ? Lutter contre le fake et l’explosion des prix tout en promouvant la sneakers rockée.">
    <meta name="twitter:image:src" content="assets/logo_tab.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="description" content="Le but de Rock Don’t Stock ? Lutter contre le fake et l’explosion des prix tout en promouvant la sneakers rockée.">

    <link rel="icon" type="image/png" href="assets/logo_tab.png" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
  </head>
  
  <!-- Global site tag (gtag.js) - Google Analytics --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LZ3RZJJHZ3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LZ3RZJJHZ3');
  </script>

  <script src="https://js.stripe.com/v3/"></script>
  
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCZVGFW"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000"
        },
        "button": {
          "background": "#f1d600"
        }
      },
      "position": "bottom-left",
      "content": {
        "message": "En cliquant sur \"Accepter tous les cookies\", vous acceptez que Rock Don't Stock puisse stocker des cookies sur votre appareil et divulguer des informations conformément à notre politique en matière de cookies.",
        "dismiss": "Accepter",
        "link": "En savoir plus",
        "href": "https://www.rockdontstock.com/cgu"
      }
    });
    </script>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <!-- <p class="notice"><%= notice %></p> -->
    <!-- <p class="alert"><%= alert %></p>    -->

    <%= yield %>
    
    <%= render 'shared/footer' %>
  </body>
</html>



